[2020-11-16 15:57] bartlettroscoe commented on #340
Right, but that that has nothing to do with how TriBITS handles TPLs. This is just an example of how it would be good for TriBITS to better support non-native TriBITS code generating libraries, etc.  But you can do that even now within TriBITS as is demonstrated with:

* https://github.com/TriBITSPub/TriBITS/tree/master/tribits/examples/TribitsExampleProject/packages/wrap_external

and as we did w

[2020-11-16 16:04] bartlettroscoe commented on #340
@sethrj, correct.  And TriBITS supports that as described at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-repository-define-tpls

which says:

So you have full control of how the TPLs get defined for your project.  (If there is some extra bit of control desired, let's define that.)

Trying to auto-find an upstsream TPL and all of the components you need on every platform is extr

[2020-12-04 20:50] bartlettroscoe commented on #337
Below, I give a conversation that we had about this that I want to archive here.  (I have redacted some stuff that is not pertinent).

----

From: Ben Boeckel
Sent: Thursday, October 15, 2020 9:42 AM
To: Johnson, Seth (ORNL)
Cc: ...
Subject: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

On Fri, Oct 09, 2020 at 15:42:22 +0000, Johnson, Seth R. wrote:

I've found the same

[2020-12-04 20:52] bartlettroscoe commented on #337
From: Ben Boeckel <ben.boeckel@kitware.com>
Sent: Tuesday, October 20, 2020 11:27 AM
To: Bartlett, Roscoe A <rabartl@sandia.gov>
Subject: Re: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

On Thu, Oct 15, 2020 at 22:40:55 +0000, Bartlett, Roscoe A wrote:

[redacted]

Global variables are a problem because the namespace is constrained. One cannot easily nest two projects

[2020-12-04 20:53] bartlettroscoe commented on #337
From: Bartlett, Roscoe A
Sent: Friday, October 23, 2020 11:49 AM
To: Boeckel, Benjamin Ryan
Cc: Teranishi, Keita; Johnson, Seth (ORNL); Wilke, Jeremiah J
Subject: RE: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

Hello Ben,

CCing Keita, Seth, and Jeremy in on this thread ... (I don't know how to conduct a detailed conversation like this on Slack).

Would you have some

[2020-12-04 20:57] bartlettroscoe commented on #337
From: Bartlett, Roscoe A
Sent: Friday, November 13, 2020 1:55 PM
To: 'Boeckel, Benjamin Ryan'
Cc: 'Zack Galbreath' ; Bill Hoffman
Subject: RE: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

Hello Ben,

Do you mind if I copy and paste this conversation into the new GitHub issue “Learnings from the VTK Module Upgrade to modern CMake”:

* https://github.com/TriBITSPub/TriBI

[2020-12-04 20:57] bartlettroscoe commented on #337
From: Boeckel, Ben
Sent: Monday, November 16, 2020 10:25 AM
To: Bartlett, Roscoe A <rabartl@sandia.gov>
Cc: Zack Galbreath; Bill Hoffman
Subject: Re: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

[redacted]

I don't see anything that needs redacted other than mention of my available time. Everything after "One question that I have is why using targets for everything are

[2020-12-04 23:38] bartlettroscoe commented on #337
From: Boeckel, Ben
Sent: Monday, November 16, 2020 10:25 AM
To: Bartlett, Roscoe A <rabartl@sandia.gov>
Cc: Zack Galbreath; Bill Hoffman
Subject: Re: [EXTERNAL] Re: Virtual meeting: "Migrating from TriBITS to Modern CMake"

[redacted]

[redacted] Everything after "One question that I have is why using targets for everything are" looks good to me.

--Ben

[2020-12-08 15:02] rppawlo opened #341 "Duplicate library dependencies"
On cuda static rdc builds, I'm getting a link failure due to duplicate symbols. The main issue is that a library is being included twice on the link line. In the panzer/stk-adapters Dependencies file I have:

[code]
Panzer declares pamgen as a direct TEST dependency in TEST_OPTIONAL_DEP_PACKAGES. Panzer depends directly on SEACASIoss. SEACASIoss has an optional LIB dependency on pamgen. It seems t

[2020-12-08 16:26] bartlettroscoe commented on #341
@rppawlo, does nvcc_wrapper not strip out duplicate library symbols?

I could spend some time debugging now this but all of this code is going to rewritten when I get deep into working #63 and #299 next month (assuming I can get off the ATDM Trilinos builds for real).

So you try the workaround for now?

[2020-12-08 16:34] rppawlo commented on #341
I'm not sure about nvcc, but I verified that manually removing the second include of the library fixed the issue. Workaround is fine for now.

[2020-12-09 13:07] rppawlo commented on #341
@bartlettroscoe - yesterday you pointed out that if RDC is enabled, tribits should add a flag to nvcc wrapper to remove duplicates. I went back and looked at why this flag was not getting added. From what I can tell, if the user specifies CMAKE_CXX_FLAGS during configure then the addition of the remove duplicates flag gets dropped inside tribits. Is that the intention or is this a bug? It blocks m

[2020-12-09 14:33] bartlettroscoe opened #342 "Refactoring target for TriBITS and packages using TriBITS"
This story is to capture a design discussion about the refactoring target for TriBITS and projects/packages that use TriBITS.

[2020-12-09 15:04] bartlettroscoe commented on #342
CC: @sethrj

Had a good conversations with @jjwilke and @keitat about the desired goals and targets for refactoring of TriBITS and for getting some external help with the refactorings.  I will create a wiki page somewhere that fleshes out the refactoring targets but in summary:

* TriBITS packages should be able to use raw CMake for everything internally to create libraries, etc.  They would just

[2020-12-09 19:37] bartlettroscoe commented on #341
@rppawlo, actually, this is added by the ATDM Trilinos configuration system, not TriBITS, that does this as documented at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#rdc

and implemented at:

* https://github.com/trilinos/Trilinos/blob/e29f0be643de0d55a202263ef1da8d4bc9c8001c/cmake/std/atdm/ATDMDevEnvSettings.cmake#L213

Can you provide reproducability instructio

[2020-12-09 19:50] rppawlo commented on #341
just sent you something offline

[2020-12-10 00:54] bartlettroscoe commented on #341
As described in:

* https://sems-atlassian-srn.sandia.gov/browse/ATDV-415?focusedCommentId=72645&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-72645

the problem was due to some confusion/missing documentation on how to tweak CMAKE_CXX_FLAGS.

But yet, TriBITS should not produce link lines with duplicate libraries.  Hopefully the refactorings for #63 and #299 will r

[2020-12-11 21:53] bartlettroscoe commented on #309
CC: @jmgate

FYI: I finally did this for all of TriBITS.  This was motivated by trilinos/Trilinos#7376 which required some TriBITS python code to work with Python 3.6 used by some of the Trilinos PR builds.  Therefore, I just decided to bite the bullet and port of of TriBITS to work with Python 3.x but keep Python 2.7 compatibility for now.  I tested this with Python 3.5.2 and Python 2.7.5 (the de

[2020-12-14 17:19] bartlettroscoe commented on #309
With PR #343 merged to 'master' (but still needing a review), I am putting this in review.

@jmgate, if you want or review, please due so in #343.  Otherwise, I will snapshot to Trilinos.

[2020-12-17 23:50] bartlettroscoe commented on #299
FYI: trilinos/Trilinos#8498

[2020-12-22 00:04] bartlettroscoe commented on #309
I am going to call this done with the merge of PR #344.

[2020-12-22 00:04] #309 closed

[2021-01-17 11:54] vincferr commented on #244
Adding the flag -DUSE_OPENMP=1 -DOpenMP_Fortran_FLAGS=-fopenmp -DOpenMP_Fortran_LIB_NAMES=gomp -DOpenMP_gomp_LIBRARY=-lgomp as suggest works.
As I make it work with my code I will let you know how it goes.

[2021-01-19 23:20] bartlettroscoe opened #348 "cdash_analyze_and_report.py: Add --builds-filter-fields and --exclude-tests-filter-fields"
## Description

This story is to scope out and possibly add a new `cdash_analyze_and_report.py` arguments:

* `--cdash-builds-filter-fields=field<i>=<name_i>&compare1=<comp_i>&value<i>=<value_i>&field<ip1>&...`:
  * Takes in unique query fields for `cdash/index.php` and `cdash/queryTests.php` to select the subset of builds and tests for those builds.
* `--cdash-exclude-tests-filter-fields=name_i>&

[2021-01-19 23:21] bartlettroscoe commented on #348
Some background analysis and requirements analysis ....

One way to improve things for this intended use case is to see if we can split out the filters for excluding tests from the filters for the subset of builds to cover.  And then really CDash should have different CDash groups for "Primary", "Secondary" and other builds (likely in "Specialized" and "Experimental").  Then the set of builds and

[2021-01-25 22:24] bartlettroscoe commented on #317
This has been done for a long time and is working great.   We use this for several of the ATDM Trilinos builds currently.

[2021-01-25 22:24] #317 closed

[2021-01-25 23:50] bartlettroscoe opened #349 "cdash_analyze_and_report.py: Add history for tests without issue trackers failing over many days, not just one day"
CC: @e10harvey

This Story is to scope out (and possibly implement) an extension to the `cdash_anayze_and_report.py` tool that lists out all of the tests without issue trackers with test history for a set of tests that have failed at least once over some previous time period but are passing for the reference testing day (provided with the `--date` argument).  For example, test [`<site>`, `<buildna

[2021-01-26 00:31] bartlettroscoe commented on #349
## Proposed Solution 1

One proposed solution would be to add an argument called something like:

* `--show-history-for-tests-without-issue-trackers-failed-in-last-x-days=<num-days>`

Then, any tests that failed at least once in the last `<num-days>` would be listed with their test history in a table called something like:

**Tests without issues trackers recently failed (failing at least once in

[2021-01-26 00:33] bartlettroscoe commented on #349
@e10harvey, please comment on the proposed solution [above](https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-767201303) and to [SEPW-281](https://sems-atlassian-son.sandia.gov/jira/browse/SEPW-281).  I think that is not too hard to implement.

[2021-01-26 14:24] e10harvey commented on #349
@bartlettroscoe: Thanks for looking into this. I like proposed solution above. Thinking about this more now -- in an effort to reduce the size of the emails and provide a general solution, would it be possible to adjust the 'Failed' link under the 'Status' column of the **existing** tables to link to the most recent failure within the given begin and end dates of the input URL for `cdash/queryTest

[2021-01-26 14:40] bartlettroscoe commented on #349
@e10harvey, I am not entirely sure what is being suggested [above](https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-767574945) so we should chat through this.  Can we set up a short meeting offline?

[2021-01-27 16:59] bartlettroscoe commented on #349
What @e10harvey is suggesting is the replace the table 'twoif' in this case and just show the table 'twoirf' but replace the 'status' field with:

<html>

<h3>Tests without issue trackers recently failed (at least once last 7 days, limited to 300): twoirf=2</h3>
<table style="width:100%" boarder="1">

<table>

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Name</th>
<th>Status</th>
<th>Details</t

[2021-01-27 17:04] bartlettroscoe commented on #349
What @e10harvey is suggesting is the replace the table 'twoif' in this case and just show the table 'twoirf' but replace the 'status' field with:

<html>

<h3>Tests without issue trackers recently failed (at least once last 7 days, limited to 300): twoirf=2</h3>
<table style="width:100%" boarder="1">

<table>

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Name</th>
<th>Status</th>
<th>Details</t

[2021-01-27 17:19] e10harvey commented on #349
@bartlettroscoe: I updated your [comment](https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-768426263) and deleted a duplicate of that comment.

[2021-01-27 17:21] bartlettroscoe commented on #349
@e10harvey, it just occurred to me that the "Consec­utive ??? Days" column this is ill-defined in this new 'twoirf' table since we are now mixing tests that could be passing, failing, or missing for the current/reference testing day.

One idea to address your concern is to replace that "Consecutive ??? Days" column with "Days since last Failure" with a number and a link to that most recent failure

[2021-01-27 20:21] bartlettroscoe commented on #349
@e10harvey, let's discuss later today but some issues with your [Proposed Solution 2](https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-768426263) compared to [Proposed Solution 1](https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-767201303) are:

* The table 'twoif' in "Proposed Solution 2" still contains the column "Consec­utive Pass Days" which makes no sense in this con

[2021-02-05 00:30] bartlettroscoe opened #350 "cdash_analyze_and_report.py: Allow --expected-builds-file to take list"
CC: @e10harvey

## Description

With the Trilinos Framework team moving to a model where they are maintaining a single `*.csv` file for the list of tests with issue trackers but multiple `*.csv` files for subsets of expected builds (and the new option `--filter-out-builds-and-tests-not-matching-expected-builds=on` implemented in PR #347) it would be very desirable to allow the option `--expected-b

[2021-02-05 00:43] bartlettroscoe opened #351 "cdash_analyze_and_report.py:"
## Description

The current `cdash_analyze_and_report.py` tool is effective at notifying the user when any expected builds listed in `--expected-builds-file=<expected-builds>.csv` are missing in the table "Builds missing: bm=???" given the builds returned in the `cdash/index.php` query specified by the `--cdash-builds-filters=<build-filters>`.  However, it does not inform the user if there are bui

[2021-02-05 00:44] bartlettroscoe commented on #351
This would get used for the script:

* https://gitlab-ex.sandia.gov/atdm/TrilinosATDMStatus/-/blob/master/trilinos_atdm_builds_status.sh

that should have no unexpected builds.

[2021-02-05 16:51] bartlettroscoe opened #352 "cdash_analyze_and_report.py: Add option --show-missing-tests-for-missing-builds=[on|off]"
CC: @e10harvey

## Description

One of the gaps with the Grover tool (which takes test data exported from `cdash_analyze_and_report.py` and updates GitHub issues for the status and history of the tests attached to those GitHub issues) is that if there are missing builds, then the tests for those builds will never be mentioned in the comments uploaded to CDash.  For example, say that some Trilinos

[2021-02-22 07:51] mayrmt opened #354 "How to set up a TriBITS project from scratch"
## Context

I'm trying to setup a build system for a new multi-package and probably multi-repository software project. Hence, I opted for TriBITS as build system.

## Question

Is there a step-by-step manual to setup a TriBITS project from scratch? I've extensively read through the TriBITS developer guide. From that, I have understood which files (`CMakeLists.txt`, `ProjectName.cmake`, ...) need t

[2021-02-22 07:54] mayrmt commented on #354
After I've understand the installation process, I can imagine to add TriBITS as a package to `spack` (spack.io) to automate the install process. Therefore, TriBITS would need to provide some kind of version identifier. So far, I haven't found any releases or tags.

[2021-02-22 16:10] bartlettroscoe commented on #354
Hello @mayrmt,

Not really.  There was an attempt to start a tutorial a couple of years ago by someone else but that did not go very far.  The best tutorial for the basics is to just look at the example TriBITS projects as per:

* https://tribits.org/doc/TribitsDevelopersGuide.html#example-tribits-projects

I would start with TribitsExampleProject:

* https://tribits.org/doc/TribitsDevelopersGuide

[2021-02-22 16:16] mayrmt commented on #354
@bartlettroscoe Thanks for these hints! Is my assumption, that I have to install TriBITS before using it in any project correct?

[2021-02-22 16:24] bartlettroscoe commented on #354
@mayrmt, TriBITS has never put out official releases because all projects that have used TriBITS in the past have either snapshotted TriBITS into their source tree (see [10.18   TriBITS directory snapshotting](https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-directory-snapshotting)) (e.g. Trilinos, MPACT, CTF, etc.), or gotten TriBITS from Trilinos (e.g. Charon2, Drekar, etc.), or kept

[2021-02-22 22:43] mayrmt commented on #354
@bartlettroscoe Snapshotting TriBITS into the source tree is ok for me. I was aware of this scenario from Trilinos, but I wasn't aware of its simplicity.

I'll have to study #63 and #299 and talk to some colleagues before I can make a sound statement on that. I'll get back to you later.

Thanks again for the immediate help!

[2021-02-23 14:22] bartlettroscoe commented on #351
With #355 merged, this Issue in "In review".

[2021-02-23 18:35] bartlettroscoe commented on #304
This has been used by Grover for a long time.

[2021-02-23 18:35] #304 closed

[2021-03-09 03:07] bartlettroscoe commented on #341
Related to:
* SEPW-213
* SEPW-214

[2021-03-09 20:49] bartlettroscoe commented on #348
Related to:
* SEPW-215

[2021-03-09 20:50] bartlettroscoe commented on #337
Relates to:
* SEPW-214

[2021-03-09 21:24] bartlettroscoe commented on #127
Related to:
* SEPW-213
* SEPW-214

[2021-03-12 15:16] bartlettroscoe opened #359 "Add support for project-level extra installs that works with custom group and permissions fixup support"
## Description

As described in trilinos/Trilinos#8870 some TriBITS projects may need to install files that are not in a single TriBITS package.  Currently in Trilinos, this was done in the top-level `CMakeLists.txt` file after the `tribits_project()` command.  The problem with that is that the custom group and permissions fixup functionality described in:

* https://tribits.org/doc/TribitsBuildRe

[2021-03-12 15:17] bartlettroscoe commented on #359
I have already spent a bunch of time looking into this as part of trilinos/Trilinos#8870.  I think that I should just bite the bullet and get this done today and get it tested.

[2021-03-12 17:38] bartlettroscoe commented on #299
I guess I am technically starting on this Issue today.  I am upgrading TriBITS to require CMake 3.17+ given that Trilinos has already upgraded is min version to 3.17 (see trilinos/Trilinos#8660).  This will involve cleaning up a good bit of code and getting rid of various workarounds and hacks for older versions of CMake.

[2021-03-13 00:05] bartlettroscoe commented on #299
@keitat, do you think that you can have some of the subcontractor staff looking into Trilinos xSDK issues help review PRs related to this and TriBITS changes in general?  I desperately need someone to help review TriBIITS changes that really knows CMake well.

[2021-03-13 01:49] bartlettroscoe commented on #359
While creating PR #360, I realized that the only robust way to implement the custom `install_package_by_package` target is to have TriBITS run the install of extra custom project-level stuff.  This is because it must be driven from a subdir where one can invoke the cmake -P `cmake_install.cmake` command in the install inside of a package fails.  So that makes the choice of implementation easy.  We

[2021-03-13 15:55] bartlettroscoe commented on #359
Relates to my epic SEPW-215

[2021-03-13 15:56] bartlettroscoe commented on #304
Relates to my epic SEPW-215

[2021-03-14 18:12] cgcgcg opened #361 "Memcheck & MPI"
Currently, I am seeing
https://testing.sandia.gov/cdash/viewDynamicAnalysisFile.php?id=485215
In particular, the line
[code]
seems to suggest that valgrind is run on `mpiexec`, not the actual test executable. Is this a configuration issue, or does this need fixing in TriBITS?

[2021-03-15 13:52] e10harvey commented on #359
This sounds reasonable to me. Thank you for looking into this, @bartlettroscoe.

[2021-03-15 16:30] keitat commented on #299
Stay tuned.  I will let you know the github username of the people from NGA.

[2021-03-16 20:01] bartlettroscoe commented on #361
@cgcgcg, that is what CTest is designed to do.  It just takes the command that is used to run the test and runs valgrind on it.  So if the command that ctest runs to run a test is:

[code]

then valgrind is run on the test as:

[code]

Otherwise, ctest would have to be trained how to interpret a ctest commandline for MPI.

The trick is to tell valgrind to `--trace-children=yes` and then hope that

[2021-03-16 20:05] cgcgcg commented on #361
@bartlettroscoe Thanks, that is helpful! Do I need to set `--trace-children=yes` myself in `CTEST_MEMORYCHECK_COMMAND_OPTIONS`, or does TriBITS or ctest already do that by default?

[2021-03-16 20:18] bartlettroscoe commented on #361
@cgcgcg, you need to set it yourself.  It is likely not a good idea to hard-code TriBITS code itself to add command line arguments to a specific tool like valgrind.  Note that CTest/CDash can work with other memory checks like ThreadSanitizer, AddressSanitizer, and MemorySanitizer (see [this blog article](https://blog.kitware.com/ctest-cdash-add-support-for-new-dynamic-analysis-tools/)).   To keep

[2021-03-18 16:10] bartlettroscoe commented on #349
The experiences with https://github.com/trilinos/Trilinos/issues/8759 where someone thought that the random tests were not occurring anymore (because they all happened to pass the last few Sundays but did not look at the "Nonpassing tests last 30 days" colum) suggest that as part of this we should also consider adding an option:

* `--show-history-for-tests-with-issue-trackers-failed-in-last-x-day

[2021-03-22 20:28] e10harvey commented on #349
@ZUUL42, @jwillenbring, @prwolfe, @william76: Please thumbs up one of the following comments to indicate your preference:

- https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-767201303
- https://github.com/TriBITSPub/TriBITS/issues/349#issuecomment-768426263
- This comment if you have no preference

[2021-03-22 21:13] jwillenbring commented on #349
I would be most curious to see if @zuul42 or @prwolfe have a preference. I do personally like @bartlettroscoe 's comment about displaying the more detailed info using Grover, but that is just because of my typical interaction with the failures.

[2021-03-22 21:18] bartlettroscoe commented on #349
And actually for reporting by Grover to the GitHub Issue, you would need to be careful about missing test results from missing builds.  If a build is not reporting tests for several days but just happened to report the day before, we don't want to give the impression that the tests have been passing for the last `<num-day>` days just because it did not fail in the last `<num-days>` days.

[2021-03-23 16:50] bartlettroscoe opened #363 "Set up TriBITS testing using GitHub Actions"
CC: @keita, @fnrizzi, @marcinwrobel1986, @MikolajZuzek

With a lot of work on TriBITS going on and coming up (i.e. #63, #299, etc.) we need solid testing for TriBITS.  I have solid testing of TriBITS on local machines set up using the checkin-test.py script (see checkin-test-crf450.sh and those it calls) but we really need to have this for PR testing as well.  In the past, I did that with Travis C

[2021-03-23 17:02] bartlettroscoe commented on #354
@mayrmt, where are you with this?  Do we need to keep this GitHub Issue open or do you have what you need?

[2021-03-23 22:45] mayrmt commented on #354
@bartlettroscoe Thanks for checking in. Most of my basic questions have been answered. I haven't found time to coordinate with all team members and to really get started on using TriBITS the way I intended. So, I close this for now and will reopen if/when further questions arise.

[2021-03-23 22:45] #354 closed

[2021-04-01 15:46] jwillenbring commented on #63
@bartlettroscoe I was asked about this at a meeting today. Is there any update or current estimate as to when this work will happen? I am just passing on a question I received. Thanks.

[2021-04-01 17:16] bartlettroscoe commented on #63
@jwillenbring I am wrapping up some work with SPARC ATDM Trilinos configuration over the next week or so (see [ATDV-408](https://sems-atlassian-srn.sandia.gov/browse/ATDV-408)) and then will will be working on this and #299 at a rate of 50% of my time until the basics are done.

[2021-04-08 21:04] jjellio opened #364 "CMake 3.20 and Policy CMP0115"
I had spack build the latest CMake today, and I am getting spammed by these messages at the end of Trilinos' configure.

I'm guessing this is more a Tribits thing than Tirlinos thing, so posting here.

Messages happen after (but before cmake exits)
[code]

[code]

After a bit of spam, I also get these:
[code]

(LOTS of these)

Adding a zip of the CMake line + configure. I only skimmed the errors,

[2021-04-08 21:12] bartlettroscoe commented on #364
@jjellio, thanks for bringing this to my attention.  The `Policy CMP0115 is not set: Source file extensions must be explicit` warning is likely a TriBITS issue.  I will take care of this once I test with CMake 3.20.  The second issue with libraries might not be a TriBITS thing but might be how the libraries are being fed into the configuration.  I will have to see if other configurations of Trilin

[2021-04-08 21:28] jjellio commented on #364
After looking more, the library errors are interesting. I usually use static, but there's a bug with spack so I'm using shared. It looks like spack is including a 'view' that it shouldn't.

It's neat that Cmake is reporting this circular problem (I'm guessing zlib is in both the 'view' and the spack long path. Spack isn't enforcing an ordering on shared libraries, hence cmake doesn't like the arbi

[2021-04-13 17:40] glhenni commented on #136
This just hit us. A developer added TEST_20 and it gave some obscure error because the last line of TEST_19, "NUM_MPI_PROCS 1" was getting pulled in along with the first line of TEST_20 and an IF test couldn't figure out how to compare a line like "1 TEST_20 1" with an integer regex.

[2021-04-13 17:47] bartlettroscoe commented on #136
@glhenni, for now, we should just let the project increase the max limit for this so you can get by for now.  That should be an easy fix if you are interested.  CMake is much faster now than when this issue was first written.

[2021-04-13 18:37] glhenni commented on #136
@bartlettroscoe are you proposing just upping the default, setting `TRIBITS_ADD_ADVANCED_TEST_MAX_NUM_TEST_CMND_IDX` higher, or adding a project variable that will override the default hard limit currently set to 19?

[2021-04-13 19:22] bartlettroscoe commented on #136
@glhenni, I was suggesting the latter.  The former would be easier but I worry about this just coming up again and the performance hit it might have to impose this on all projects.

For the latter, we could allow `TRIBITS_ADD_ADVANCED_TEST_MAX_NUM_TEST_CMND_IDX`  to be reset as a local variable in any CMakeLists.txt file to allow you to increase it on a local basis.    Looking at the code, that wo

[2021-04-13 19:58] glhenni commented on #136
Personally, I'm always in favor of one-line changes that fix what I need. lol.

I certainly understand your desire to view this in the bigger picture though. This particular test is actually tricky to break apart. Doing so will require one part of the test sequence to be duplicated. Not a huge deal but if you can get a timely change to fix it then we don't have to worry about it.

Thanks for the q

[2021-04-13 20:00] bartlettroscoe commented on #136
@glhenni, okay, I and put in a quick change to TriBITS to support this and put in a Trilinos PR to update TriBITS in Trilinos.

[2021-04-13 21:11] glhenni commented on #136
Please let me know when this is live.

[2021-04-15 16:09] bartlettroscoe commented on #363
@keita, @fnrizzi, @marcinwrobel1986, @MikolajZuzek,

Any of you guys have GitHub Actions experience that you could use to help set up automated testing on GitHub for TriBITS to help drive the TriBITS refactoring work?

[2021-04-15 23:09] bartlettroscoe commented on #136
@glhenni, with the merge of https://github.com/trilinos/Trilinos/pull/9016, the update in PR #365 is now in the Trilinos 'develop' branch.  See the comment about setting `TRIBITS_ADD_ADVANCED_TEST_MAX_NUM_TEST_BLOCKS` at the bottom of:

* https://tribits.org/doc/TribitsDevelopersGuide.html#test-idx-exec-cmnd-test-blocks-and-arguments-tribits-add-advanced-test

However, I will keep this issue open

[2021-04-16 07:49] fnrizzi commented on #363
@bartlettroscoe
Hi Ross! I have some, but minimal (related to C++ and Python testing for this project https://github.com/Pressio).
I just connected with @marcinwrobel1986 @MikolajZuzek: they said they know GA a bit too. We also have another person in our group that knows it too. I would say we know enough that we can help out getting started.
Speaking of this, Keita mentioned that he would setup a

[2021-04-16 13:42] bartlettroscoe commented on #363
@fnrizzi, it turns out that TriBITS testing is basically C++ and Python testing.  If you can test C++ and Python where CMake is building the C++ code, that is all that is needed for building and running the native TriBITS test suite.  I could use some help getting a starting GHA workflow in place with a few different jobs as described [above](https://github.com/TriBITSPub/TriBITS/issues/363#issue-

[2021-04-16 15:49] fnrizzi commented on #363
@bartlettroscoe if you want, over the next few days I can try to setup a minimal GA workflow file that builds and runs the TriBITS tests to get started with. It would be minimal, but at least something to start from. It should be relatively easy to do since you said testing works like testing in C++. Would that be useful for you? And we can coordinate offline with Keita how to move forward.

[2021-04-16 16:30] bartlettroscoe commented on #363
@fnrizzi, that would be great!  If the env has C, C++, Fortran, MPI, CMake 3.17, and Python 2.7+, the it should be as easy as:

[code]

If you can get that to configure, build, and run the tests, then I can take it from there and get this to submit to CDash and put in a nice link.

I guess you need to develop and test this GA workflow file in your fork of TriBITS (on the 'master' branch)?  That se

[2021-04-16 18:25] fnrizzi commented on #363
@bartlettroscoe ok, will try to have this ready by Monday or so, and will ping you then!

[2021-04-16 20:43] fnrizzi commented on #363
@bartlettroscoe I have it running: https://github.com/fnrizzi/TriBITS/actions/runs/756848014

Some tests fail though:
https://github.com/fnrizzi/TriBITS/runs/2365734531?check_suite_focus=true

I can change the action to run `ctest -V` to see the full log if you want.

[2021-04-16 22:39] bartlettroscoe commented on #363
@fnrizzi, very nice!  I will take this and and see if can't match the cases listed [above](https://github.com/TriBITSPub/TriBITS/issues/363#issue-838923383).  (I think there is 4 build cases to start out with.)

I will set it up to post to CDash so we will be able to see the details very well there (and then I can fix any test failures).

I have a few questions ...

It would be nice to have a sing

[2021-04-17 05:55] fnrizzi commented on #363
Do you want me to open a pull request or you just grab the yaml file?

I think it is possible, but not sure exactly how to do it.
But also note that this is kind of what happens already because if one of the target config lines under the matrix does not work, are the other jobs are terminated

Not sure! I actually read once that it is a reasonable assumption, and has always worked fine for me, but

[2021-04-17 23:29] jjellio commented on #364
I was able to resolve the library errors by using the newer ATDMDevSettings variable to skip NetCDF's `find_package` call. (it was messing up... I had given a good static link line to `ATDM_CONFIG_NETCDF_LIBS` - and it really should just use that.

It's good that settings file provides a way to dodge it.

(library link line is dumped by SPACK based on how I build HDF5 - a pretty nice feature I've

[2021-04-19 18:34] bartlettroscoe commented on #363
@fnrizzi, can you go ahead and clean up your git commits and post a PR?  That way you will get credit for this in git.

[2021-04-19 18:37] bartlettroscoe commented on #364
@jjellio, what "newer ATDMDevSettings variable" is that?

[2021-04-19 18:59] jjellio commented on #364
Maybe it's not new, but it was new to me:
https://github.com/trilinos/Trilinos/blob/57c60c8e9b57cfa0ff5645704cd88cba836eb285/cmake/std/atdm/ATDMDevEnvSettings.cmake#L25

[2021-04-19 19:12] fnrizzi commented on #363
@bartlettroscoe thanks!
Here it is: https://github.com/TriBITSPub/TriBITS/pull/366

[2021-04-20 23:56] bartlettroscoe commented on #364
@jjellio, FYI, that var has been there since:

[code]

[2021-04-22 15:43] bartlettroscoe opened #367 "EPIC: Initial TriBITS Modernization and Generalization"
## Description

This Epic will plan for and track the execution of the TriBITS modernization effort to address the immediate needs of Trilinos, Kokkos and the ECP Spack ecosystem.  The goal is to do this in a way that will provide as much backward compatibility as reasonably possible to avoid having to rewrite thousands of `CMakeLists.txt` and `*.cmake` files in Trilinos, Drekar, Charon2, CASL VER

[2021-04-27 14:46] MikolajZuzek opened #368 "Exposing parts of TriBITS as CMake modules"
Would it be possible and desired to decouple parts of TriBITS that are very useful on their own - like test setup (e.g. `TRIBITS_ADD_ADVANCED_TEST`) and ETI setup (e.g. `TRIBITS_ETI_GENERATE_MACROS`) - into separate [sub]modules ?

That would create an opportunity for small and medium projects to adopt parts of TriBITS as CMake library or toolkit - without the requirements posed by the framework a

[2021-04-27 14:50] MikolajZuzek commented on #368
@bartlettroscoe @keitat @fnrizzi

Let's discuss the idea here or on the meeting - as you feel suitable.

[2021-04-27 15:03] keitat commented on #368
I have the same opinion.  Lots of Tribits commands are useful.  However, it needs to encapsulate all build project inside Tribits.

[2021-04-27 17:17] bartlettroscoe commented on #368
Yes, that is possible.  The testing support code is an obvious case and, as I have said, I have already done that with a few projects and it is actually already documented [here](https://menloservice.sandia.gov/http://tribits.org/doc/TribitsDevelopersGuide.html#using-tribits-add-advanced-test-in-non-tribits-cmake-projects).

Technically every `*.cmake` file is  CMake "module".  But what we are rea

[2021-04-27 17:26] bartlettroscoe commented on #368
Yes, let's discuss at the next meeting.

[2021-04-28 18:24] bartlettroscoe commented on #299
FYI: It looks like there is an important internal customer that would be significantly impacted if Trilinos looses support for Makefile.export.Trilinos in the next few months (or longer).  This refactoirng can't wait any longer so if support for Makefile.export.Trilinos has to be maintained, then we might just have to bit the bullet and implement an approach like they did for ParaView/VTK shown in

[2021-04-28 18:42] mathstuf commented on #299
I wouldn't call it a "big hack", but it is a hack in the sense that it doesn't *solve* the problem. For example, VTK's object factory stuff is absent there, so that is still manual. There are probably other usage requirements that are missing. If a project has Fortran-specific usage requirements, the synthesized project has to use Fortran for those to be exposed.

Basically, the example project ne

[2021-04-30 17:39] bartlettroscoe opened #370 "Fix setting CDash site submit vars forwarding in 'dashboard' target"
## Description

Motivated by trilinos/Trilinos#9079

Currently, the vars `TRIBITS_2ND_CTEST_DROP_SITE` and `TRIBITS_2ND_CTEST_DROP_LOCATION` are not getting forwarded from the CMake project to the call of `ctest -S` with the 'dashboard' target.  The other dashboard related vars are getting explicitly copied starting at:

https://github.com/TriBITSPub/TriBITS/blob/102bc01e27eea467e5769946f3fde49cd8

[2021-05-03 18:44] bartlettroscoe commented on #370
Another problem I found is that if you try to override any of these vars as env vars, they don't get overridden because the 'dashboard' target is setting some of these in the env from the CMake project vars.  For example, I tried to run:

[code]

and it showed:

* Running: env TRIBITS_PROJECT_ROOT=/ascldap/users/rabartl/Trilinos.base/Trilinos Trilinos_TRIBITS_DIR=/home/rabartl/Trilinos.base/Trilin

[2021-05-03 20:20] bartlettroscoe commented on #299
FYI: That internal SNL customer still using `Makefile.export.*` files for a daily integration with Trilinos 'master' is going to try switching that build over to using their new CMake build system for their application code.   They will try to get that done in the next few weeks.  Then they will plan to officially switch to CMake for all of their builds before their next major upgrade of Trilinos

[2021-05-07 18:42] bartlettroscoe commented on #299
FYI: After talking with that internal customer still using `Makefile.export.*` we may be able to switch them over to use CMake for their daily integration builds against Trilinos 'develop' and avoid needing to support `Makefile.export.*`, even in the short-term.  For details, see https://github.com/trilinos/Trilinos/issues/8498#issuecomment-834681399.  Fingers crossed that transition to CMake for

[2021-05-13 16:33] bartlettroscoe commented on #342
@fnrizzi, @marcinwrobel1986, @MikolajZuzek

FHI: This is a prerequisite for completing #63 and #299.  That a lot of work but important that we all agree on these targets.

[2021-05-13 16:35] bartlettroscoe commented on #337
CC: @fnrizzi, @marcinwrobel1986, @MikolajZuzek

FYI: Turns out that @ppebay was involved with the VTK project and knows a lot about VTK modules.  He can help us distill what we can from the recent VTK Module refactoring effort.

[2021-05-13 17:27] mathstuf commented on #337
Are there any further questions I can help answer? The author and implementer is right here too :) .

[2021-05-13 20:37] bartlettroscoe commented on #337
@mathstuf, thanks for the the offer.   What is currently the best documentation describing the updated VTK Module system?  Is it:

* https://vtk.org/doc/nightly/html/md__builds_gitlab-kitware-sciviz-ci_Documentation_Doxygen_ModuleSystem.html

?

[2021-05-13 20:59] mathstuf commented on #337
Yes, that's the place to start. All of the "Module" pages [here](https://vtk.org/doc/nightly/html/modules.html) should be useful though. Note that nitty-gritty details are only documented in the implementation itself, not via API docs.

[2021-05-13 21:28] bartlettroscoe commented on #337
@mathstuf, is there a small example project that uses VTK Modules that demonstrates how it works and allows you to play with it?

For example, TriBITS has some of these under:

* https://github.com/TriBITSPub/TriBITS/tree/master/tribits/examples

[2021-05-13 22:21] mathstuf commented on #337
A few things I see from just poking around (haven't run it locally yet):

  - I recommend lowercasing usage of the API calls. It's just easier to read (alas, CMake still has *lots* of uppercase anyways, but that's no reason to add even more uppercase everywhere)
  - `Dependencies.cmake` is CMake code. I banned this in VTK because dependencies should not be subject to arbitrary logic.
  - There sti

[2021-05-14 14:13] bartlettroscoe commented on #337
@mathstuf,

Thanks for looking over this.

Yes, that would be nice.  Upper case was the convention for the [CMake build system for Trilinos in 2007 (started by Tim Shead)](https://bartlettroscoe.github.io/publications/TrilinosCMakeEvaluation.pdf) that TriBITS was created form and it stuck.  Do you know of anyone who has written a tool that will lower-case the function, macro and command names and

[2021-05-14 14:56] mathstuf commented on #337
No, but this should at least be a 90% solution (with some `find` magic to figure out what files to apply it to):

[code]

It does leave some stray whitespace around (namely `cmd (`, but that is probably much easier to find/replace).

It will only affect calls which are already all uppercase (ignoring things like `ExternalProject_Add` which are normally mixed case).

It's not so much bugs that I'm

[2021-05-14 15:45] bartlettroscoe commented on #337
CC: @keitat

@mathstuf,

It would be nice to also change the name of the function or macro being defined as well so if you have:

[code]

you would like it to be:

[code]

I think a carefully written Python script could do this and preserve the desired whitespace.

But if you do this, this tool would need to be run on any branches that you might want to merge in or you will get major merge conflic

[2021-05-15 16:44] bartlettroscoe commented on #337
@mathstuf, another point of reference on this but note the Spack allows the specification of dependencies to depend on runtime information from within the package's `package.py` file (see [Conditional Dependencies](https://spack.readthedocs.io/en/latest/packaging_guide.html#conditional-dependencies)). Now , Spack is trying to solve a more complex problem than either VTK Modules or TriBITS but the

[2021-05-15 17:36] #370 closed

[2021-05-15 18:17] mathstuf commented on #337
I'm aware and that is…vaguely possible (the file would need to be generated in the source tree or the source tree copied to the binary tree for this to actually work). But at that point, someone should be asking themselves "why is this so difficult?" and discover the rationale. The main purpose of doing it in VTK is to not have the public API depend on various CMake configuration options. This mak

[2021-05-20 16:50] bartlettroscoe commented on #367
CC: @keitat

FYI: The ExaWind project has specifically asked to have Trilinos build against pre-installed Kokkos before SC 2021.  Given the plan [above](https://github.com/TriBITSPub/TriBITS/issues/367#issue-865099567), we should have this done by the end of FY21.

[2021-05-20 22:14] bartlettroscoe commented on #274
This was mentioned again in https://github.com/TriBITSPub/TriBITS/issues/337#issuecomment-840868708.  I really should do this as part of the epic #367.

[2021-05-25 14:15] bartlettroscoe commented on #367
CC: @keita, @fnrizzi, @marcinwrobel1986, @MikolajZuzek

The merge of the branch '63-merge-tpls-packages-1' to TriBITS 'master' is now complete (see https://github.com/TriBITSPub/TriBITS/issues/63#issuecomment-847906370).  I can now continue with some much more aggressive refactorings towards #63 and #299.  Next, I will do some more clean up refactorings to improve understanding of the code base to

[2021-05-26 18:12] bartlettroscoe commented on #274
@billhoffman, @bradking,

Do you know of a robust took that can convert CMake code to lower-case function, macro, and command names?  That it, that can take CMake code like:

[code]

and likewise and only change the case of command, macro and functions names to all lower case like:

[code]

That is, I want to tool to change every name of a macro, function, and built-in CMake command to lower-case

[2021-05-26 18:34] billhoffman commented on #274
I found this https://github.com/cheshirekow/cmake_format...  I have also reached out to our EU office to see if they have something and they will get back to me.

[2021-05-26 21:04] bartlettroscoe commented on #274
Thanks @billhoffman.  Sadly, I don't seem to be able to use it.  It requires pip to install it and I can't seem get pip installed on my RHEL7 machine (not sure if I can say more about that here).  I really hate these Python packages that require special install processes.

[2021-05-26 21:22] billhoffman commented on #274
I was able to run pip on my windows box and run it. It did not handle all of the cases. So, this might require some coding. But, I think it is something we can certainly look into implementing at Kitware if we don't find something that is already done.

[2021-05-26 21:49] bartlettroscoe commented on #274
@billhoffman, it occurred to me that some specialized regexes with replacements in python might do the trick (a general command-call case, a macro definition case, and a function definition case).  I may time-box a little effort to see what I can do with regex and replacements with Python.

[2021-05-26 23:14] bartlettroscoe commented on #63
I did another round of refactoring to further clean up the code that [creates the package dependency graph](https://tribits.org/doc/TribitsDevelopersGuide.html#function-call-tree-for-constructing-package-dependency-graph) in PR #374.  I merged that to 'master' and created the Trilinos PR https://github.com/trilinos/Trilinos/pull/9178 to get this tested and merged there.

I think this is enough of

[2021-05-28 15:49] bartlettroscoe commented on #299
Good news.  As stated in https://github.com/trilinos/Trilinos/issues/8498#issuecomment-850503201, it looks like we can finally drop support for `Makefile.export.*` files from Trilinos (and therefore TriBITS)!   I promised to keep support in the Trilinos 'develop' through 5/10/2021 but that is just a little under 2 weeks from now.

I realized that I can do a lot of the refactoring to create the new

[2021-06-01 18:04] bartlettroscoe opened #375 "Change TriBITS to handle compiler and linker options as lists instead of single strings"
Part of modernizing TriBITS and CMake build systems based on linker options from single strings to arrays of strings (which allows CMake to remove duplicates, etc.).

But this is a very new feature of CMake and as of "Professional CMake: 5th Edition", it still says:

[2021-06-02 14:57] bartlettroscoe commented on #375
CC: @masterleinad, @keitat, @fnrizzi, @crtrott

@bradking, @zackgalbreath,

I know Kokkos made the change to handle compiler flags as a list of arguments due to @jjwilke's work but where did that change in CMake come from and where is that documented?

Note that in "Professional CMake: 5th Edition" it says:

so when did it change that CMake wants you to handle compiler and linker flags as a list o

[2021-06-02 15:42] bradking commented on #375
Some interfaces take lists of canonical options, others take flags as command-line string fragments.  In general, settings with `_FLAGS` in their name take command-line string fragments, and settings with `_OPTIONS` in their name take lists.  Many settings document which they take.

[CMake MR 5915](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5915) added documentation that `CMAKE_<LANG>

[2021-06-02 15:50] crtrott commented on #375
So @bradking partly the problem is I think we add stuff via add_compile_options which has quotes in the flags we need to pass to the compiler, and something then went wrong at the export for the Trilinos install. But I understand you that lists are the correct way to go for add_compile_options right?

[2021-06-02 15:59] bartlettroscoe commented on #375
@bradking

Okay, I see that in 'git-master' at:

* https://cmake.org/cmake/help/git-master/variable/CMAKE_LANG_FLAGS.html#variable:CMAKE_%3CLANG%3E_FLAGS

which says:

so this will be in CMake 3.21+ documentation.  Thanks for pointing that out.

With modern CMake, everything should be target based, right?  So you should only use `target_compile_option()` and then link targets to proporate the corr

[2021-06-02 16:05] bartlettroscoe commented on #375
@bradking

But how does `add_compile_options()` interact with `CMAKE_<LANG>_FLAGS`?  Does one overwrite the other?  Does one come after the other?  I don't see that documented anywhere.  How is a user (on the CMake command-line) supposed to append/override compiler options in a consistent way with modern CMake projects without editing CMakeLists.txt files?

[2021-06-02 16:16] bradking commented on #375
Yes.  CMake will quote/escape things for you.  Same for `target_compile_options`.

Both are used.  The ` CMAKE_<LANG>_FLAGS` typically come first, much like a `$CC $CFLAGS ...` convention.

If the user adds ABI-changing flags to `CMAKE_<LANG>_FLAGS`, they are responsible for making the downstream consumers compatible.  Don't try to force such flags on consumers in `<PackageName>Config.cmake` files

[2021-06-02 16:16] crtrott commented on #375
So we actually discussed this recently. CMAKE_CXX_FLAGS set during Kokkos install are NOT propagated to downstream folks right now (when using Kokkos outside of Trilinos). We considered telling users to set Kokkos_CXX_FLAGS for stuff which should be propagated, and we would attach those to add_compile_options.

[2021-06-02 16:17] crtrott commented on #375
Ah @bradking: what I just wrote there is essentially the recommended way of handling this?

[2021-06-02 16:24] bradking commented on #375
Yes, though I'd be interested in an example of what flags you might propagate to consumers, e.g. via `target_compile_options(MyLib PUBLIC ...)`.

[2021-06-02 16:35] crtrott commented on #375
we propagate all kinds of stuff. In particular a lot of architecture specific and backend specific flags. Like all the "compile this for GPU" flags, "use these optimization flags", "enable specific options" stuff.
Like --expt-extended-lambda, --arch=sm_70, -rdc, -Xcompiler -qsmp=omp,, -fopenmp=libomp -Wno-openmp-mapping, -march=armv8.2-a+sve -msve-vector-bits=512. You get the idea.

Its all here s

[2021-06-02 16:38] bartlettroscoe commented on #375
@crtrott, @bradking, so it would be considered recommended/good practice for a modern CMake project to allow users to pass compiler options on the CMake command-line as:

* `CMAKE_<LANG>_FLAGS`: Only used to build the local project targets.  (These **will not** get propagated to downstream customers through `<Project>Config.cmake`.)

* `<Project>_<LANG>_OPTIONS`: Custom CMake ';' separated list va

[2021-06-02 16:53] bradking commented on #375
@bartlettroscoe that may work, but I think only experience will tell for sure.  Note that `add_compile_options` only adds directory-level settings that apply to targets in that directory, but do not propagate as usage requirements.  Use `target_compile_options` to add options that propagate.

The `separate_arguments` `UNIX_COMMAND` mode is used by the [target_compile_options](https://cmake.org/cma

[2021-06-02 19:52] bartlettroscoe commented on #375
@bradking

Okay, I think I see how this works.  The command [`add_compile_options()`](https://cmake.org/cmake/help/git-master/command/add_compile_options.html#command:add_compile_options) adds (appends?) options to the  **directory-level property** list variable [`COMPILE_OPTIONS`](https://cmake.org/cmake/help/git-master/prop_dir/COMPILE_OPTIONS.html#prop_dir:COMPILE_OPTIONS) which provides the de

[2021-06-02 20:16] crtrott commented on #375
Yes. I mean its impossible for normal users to figure out which flags are needed on all these different platforms to get correct code. In some of these cases (like for SYCL) we figured these flags out only with direct input from the compiler developers. It is a pretty iffy situation, made worse by the fact that all these new compilers by default identify as clang even though they might not even ac

[2021-06-03 15:09] bradking commented on #375
Yes.

After thinking about that approach more, there may be some problems:

* `<Project>_<LANG>_FLAGS` is specific to `<LANG>`, but `target_compile_options` needs generator expressions to express per-language options.  You'll need to add those expressions as part of implementing support.

* Adding the flags to every target individually will cause them all to have the flags in `INTERFACE_COMPILE_OP

[2021-06-03 18:43] bartlettroscoe commented on #375
CC: @keitat, @crtrott, @masterleinad

@bradking, that is a good point.  With the can of worms that de-duplication and ordering of compiler options opens up as described [above](https://github.com/TriBITSPub/TriBITS/issues/375#issuecomment-853944290), I think it is best that TriBITS and Trilinos (and other TriBITS-base projects) don't even bother provide a general way to set compiler options that g

[2021-06-11 14:21] bartlettroscoe opened #377 "Provide feedback on TriBITS package dependencies data-structures"
@fnrizzi, @MikolajZuzek, @marcinwrobel1986, @keitat

**Parent Issue:** #63

## Description

This story will be to get feedback from NextGen Analytics staff on the basic data-structures and functions for the TriBITS packages dependencies system that is so critical to managing the complex internal and external dependencies of a large CMake project.  It is critical to understand these basic data-stru

[2021-06-16 12:57] bartlettroscoe commented on #274
Okay, so I have a tool `lower_case_cmake.py` on the branch [274-lower-case-cmake](https://github.com/bartlettroscoe/TriBITS/tree/274-lower-case-cmake) that does the replacements shown [above](https://github.com/TriBITSPub/TriBITS/issues/274#issuecomment-849008985).  But it is way too aggressive in its lower-casing of things.  For example, it lower cases just pain text in comments like:

[code]

be

[2021-06-16 22:14] bartlettroscoe commented on #274
I have gone with **option-2** [above](https://github.com/TriBITSPub/TriBITS/issues/274#issuecomment-862357120).  It seems better but there are still problems.  One problem is that there are some cases where CMake code in `*.cmake` files and unit tests on `CMakeLists.txt` files write out code in other languages like C or C++ and those function and macro call names get made lower-case (which breaks

[2021-06-18 02:36] bartlettroscoe opened #378 "Move code for TEUCHOS_FUNC_TIME_MONITOR_DIFF() out of TriBITS"
Currently the function `tribits_configure_file()` contains code for generating the macro `TEUCHOS_FUNC_TIME_MONITOR_DIFF()`.  And there is no tests for this code in TriBITS.  This code should not be in TriBITS.  It should be pulled out and put in Trilinos (and TriBITS can provide a hook to call it perhaps).  I was reminded of this as part of #274 and commit f0ca9332303b0d3f5b8c0adb822980752634b5da

[2021-06-18 11:17] bartlettroscoe commented on #274
I created PR #379 (which is now merged) that adds the tool `lower_case_cmake.py` and I ran it on all of TriBITS and manually fixed a few things.  TriBITS is now using lower-case letters for all command, function, and macro calls.  It also lower-cases the names of macro() and function() definitions.  You can see the updated code under:

* https://github.com/TriBITSPub/TriBITS/

and the updated docu

[2021-06-21 11:31] marcinwrobel1986 commented on #377
As agreed on the meeting (18.06.2021) NGA will provide feedback on [Function call tree for constructing package dependency graph](https://tribits.org/doc/TribitsDevelopersGuide.html#function-call-tree-for-constructing-package-dependency-graph)

[2021-06-21 21:45] bartlettroscoe opened #381 "Split TribitsDevelopersGuide.* into TribitsUsersGuide.* and TribitsMaintainersGuide.*"
**Supports:** #377, #63, #299

## Description

At the "TriBITS package dependencies data-structure and code walkthrough" meeting last Friday, 6/18/2021 to discuss #377, it was suggested by the NGA staff members to split the document:

* `TribitsDevelopersGuide.*`: "TriBITS Developers Guide and Reference"

into two documents:

* `TribitsUsersGuide.*`: "TriBITS Users Guide and Reference"
* `TribitsM

[2021-06-22 13:38] marcinwrobel1986 commented on #377
I will put just typos in this comment:
- [ ] [line 71 `variouscriteria` and line 72 `varaible`](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/package_arch/TribitsSystemDataStructuresMacrosFunctions.rst)
- [ ] [line 432`tribits_read_defined_external_and_intenral_toplevel_packages_lists` `intenral` ](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/package_arch/Tribits

[2021-06-22 20:40] glhenni opened #382 "new warnings during charon configuration"
We're seeing the included warning, previously unseen, during our configuration/cmake step for charon. It's only a warning and we could add the flag it mentions to suppress it but you might want to take a look at it.
[code]

[2021-06-22 21:54] bartlettroscoe commented on #382
Looks like there are several of these:

[code]

That missed my refactoring to lower-case.  (Do not realize anyone actually used this.  This is universally considered undesirable; see [here](https://community.kde.org/Policies/CMake_Coding_Style#End_commands) and [here](http://docs.ros.org/en/jade/api/catkin/html/user_guide/standards.html)).

I will push a commit that fixes this.

[2021-06-23 15:40] bartlettroscoe commented on #382
@glhenni, FYI, PR #383 should have this fixed.  I am just waiting for @gsjaardema to review and approve that fix.

[2021-06-23 17:19] #382 closed

[2021-06-23 18:23] bartlettroscoe commented on #382
@glhenni, I went ahead and merged PR #383.  @gsjaardema can do a post-merge review of #383 if he likes.  Otherwise, I suspect this will solve the problem.  If this does not solve the problem, please re-open this issue.

[2021-06-24 15:08] marcinwrobel1986 commented on #377
Hello Ross,

I have found something which needs to be completed:
- [ ] [logic described in section ???.](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/package_arch/TribitsSystemDataStructuresMacrosFunctions.rst)

Regarding complete feedback on [15   TriBITS System Maintainers Guide](https://tribits.org/doc/TribitsDevelopersGuide.html#id229):
- I was able to understand the flow
- d

[2021-06-24 15:11] bartlettroscoe commented on #377
@marcinwrobel1986, thanks for the feedback.  Can we discuss some at the meeting today or set up a meeting to go over this?

NOTE: I am working on partitioning the document as we discussed last week by working #381.

[2021-06-26 13:09] bartlettroscoe commented on #381
@fnrizzi, @marcinwrobel1986, @keitat, with the merge of PRs #384 and #385 (that can be reviewed post merge), I believe this is complete.  See the new documents "TriBITS Users Guide and Reference" and "TriBITS Maintainers Guide and Reference" at https://tribits.org/.

[2021-06-27 14:46] bartlettroscoe opened #386 "Build TriBITS Documentation with Sphinx and deploy to the web"
CC: @marcinwrobel1986, @fnrizzi

## Description

As discussed at the prior meeting on 6/24/2021, this Issue is to investigate the building and rendering of TriBITS documentation written in reStructuredText using Sphinx and deploy somehow to the web.

There are three documents that are generated using as reStructuredText files using the script:

[code]

All the details of what gets built and how ca

[2021-06-27 14:49] bartlettroscoe commented on #386
CC: @fnrizzi, @keitat

@marcinwrobel1986, as we discussed at last Thursday's meeting, this is the issue to investigate using Sphinx and readthedocs.com to improve the rendering of the TriBITS documentation currently hosted at tribits.org.

[2021-07-08 14:07] marcinwrobel1986 commented on #386
please find a new documentation under this address:
https://marcinwrobel1986.github.io/TriBITS/

What was done:
- a python script for combining together documentation for Sphinx
- Sphinx configuration with the landing page
- CI (github actions) for generating and deploying docs to GitHub pages

Potential threats:
- script `build_docs.sh` needs to be run from it's directory
- it's hard to destingui

[2021-07-08 15:58] bartlettroscoe commented on #386
@marcinwrobel1986, thanks for putting this together.    This looks very nice.   Do you have a branch where we can see these changes to make this work?

That is easy to fix to allow to be run from anywhere.

That is a matter of opinion.  I personally find it much easier to debug smaller independent scripts that call each other.

That makes them easy to develop and debug (IMHO).

A single python3 sc

[2021-07-08 16:00] bartlettroscoe commented on #386
I found the branch through the commits:

* https://github.com/TriBITSPub/TriBITS/compare/master...marcinwrobel1986:386-Build-TriBITS-Documentation-with-Sphinx-and-ReadTheDocs

[2021-07-08 16:13] marcinwrobel1986 commented on #386
That is correct

[2021-07-08 16:35] marcinwrobel1986 commented on #386
I agree.

When running Python script/scripts with debugger you can stop whenever you like and check the stack/variables, you don't have to print them out like when running separate scripts. IMHO it would make debugging a lot easier.

Separation of documentation creation could be a good idea, because it does not break TriBITS in any way, migration to Python3 will happend in the future anyway and do

[2021-07-08 16:37] bartlettroscoe commented on #386
I am finding a few issues with the documentation at:

* https://marcinwrobel1986.github.io/TriBITS/

For example, it looks like some searches are not finding things like:

* https://marcinwrobel1986.github.io/TriBITS/search.html?q=tribits_add_test&check_keywords=yes&area=default

does not show hits for:

* https://marcinwrobel1986.github.io/TriBITS/users_guide.html#tribits-add-test
* https://marci

[2021-07-08 16:58] bartlettroscoe commented on #386
@marcinwrobel1986, another issue is that bulleted lists are not being maintained like at:

* https://marcinwrobel1986.github.io/TriBITS/maintainers_guide.html#tribits-read-all-project-deps-files-create-deps-graph

it does not show those links to subsections under bullets while they are shown at:

* https://tribits.org/doc/TribitsMaintainersGuide.html#tribits-read-all-project-deps-files-create-deps

[2021-07-08 17:00] marcinwrobel1986 commented on #386
@bartlettroscoe please point out all the problems Ross and I will take a look at them. As I mentioned I haven't really changed the rst apart from linking.

[2021-07-08 17:12] bartlettroscoe commented on #386
@marcinwrobel1986,

Should we just go ahead and create a DRAFT PR for:

* master...marcinwrobel1986:386-Build-TriBITS-Documentation-with-Sphinx-and-ReadTheDocs

and do the detailed review there?

That way, we can reference specific lines of code in *.rst and other files.

[2021-07-08 21:49] bartlettroscoe commented on #386
@marcinwrobel1986, what do you mean by this?

[2021-07-08 21:51] bartlettroscoe commented on #386
@marcinwrobel1986, what debugger are you referring to here with Python3?    My past attempts at using 'pdb' for example, were not very positive (but that was a long time ago).

[2021-07-09 06:07] marcinwrobel1986 commented on #386
I agree. I am on it.

[2021-07-09 06:19] marcinwrobel1986 commented on #386
What I mean by that is Python2 is considered to be a technological debt. This debt needs to be paid off sooner or later, right?. You mentioned TriBITS uses Python2. I thaught as now we have resources we could separate documentation to use only Python3 and leave TriBITS itself with Python2. Process of generating documentation will be separated from TriBITS logic, so it will not break anything there

[2021-07-09 06:29] marcinwrobel1986 commented on #386
I didn't think about any specific debugger, I was thinking more about developing process which comes with IDE such a PyCharm (tool I am using for Python and web development) or VSC (Visual Studio Code). If one would like to see the stack/variables in any specific place in the code one marks the line, debugger stops there and one can inspect execution of the code.

[2021-07-09 12:48] marcinwrobel1986 commented on #386
Hello Ross,

I checked that. After you search you need to choose in which document were you looking for this phrase as documentation is build from `Project, Build, Test, and Install`, `Users Guide` and `Maintainers Guide` please see attached screenshot

![Zrzut ekranu z 2021-07-09 14-18-38](https://user-images.githubusercontent.com/47597569/125077107-00b36980-e0c1-11eb-813d-003cc91ed003.png)

Then

[2021-07-09 14:21] bartlettroscoe commented on #386
@marcinwrobel1986, I tried to follow your seatch suggestions [above](https://github.com/TriBITSPub/TriBITS/issues/386#issuecomment-877161915) but I just can't get any type of reasonable search to work.  One advantage of a stupid simple single HTML page like:

* https://tribits.org/doc/TribitsMaintainersGuide.html

is that you just hit "Ctrl+F" with "tribits_add_test" and you jump right to the text

[2021-07-09 14:27] bartlettroscoe commented on #386
@marcinwrobel1986, what OS are you using these on?

[2021-07-09 14:29] marcinwrobel1986 commented on #386
I am using Linux, Pop OS distro, ubuntu derivative, but it does not matter, it works with Linux, Windows and MacOS

![Zrzut ekranu z 2021-07-09 16-28-35](https://user-images.githubusercontent.com/47597569/125093652-ce126c80-e0d2-11eb-8e9c-90d32ce06bdb.png)

[2021-07-09 14:31] bartlettroscoe commented on #386
Right, but as long as RHEL 7 machines have Python 2.7 by default and on Python 3.x, TriBITS Python scripts will continue to support it.  But must Python code in TriBITS also supports Python 3.x as well using the the tools in [Python2and3.py](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/python_utils/Python2and3.py).  We can do this for [extract_rst_cmake_doc.py](https://github.com/TriB

[2021-07-09 14:39] marcinwrobel1986 commented on #386
I tried a different theme, but the behaviour is the same.

![Zrzut ekranu z 2021-07-09 16-38-15](https://user-images.githubusercontent.com/47597569/125095180-344bbf00-e0d4-11eb-8493-ef2899adc199.png)
![Zrzut ekranu z 2021-07-09 16-38-33](https://user-images.githubusercontent.com/47597569/125095202-39a90980-e0d4-11eb-84ea-fc16bd83a133.png)
![Zrzut ekranu z 2021-07-09 16-38-47](https://user-images.g

[2021-07-09 15:51] bartlettroscoe commented on #386
@marcinwrobel1986, I fear this might turn into a huge time sink.  I boggles the mind how these types of searches don't work.  But the formatting and layout advantages of the Sphinx documentation are large enough that I think it is worth spending some time trying to to address the issues.

In the meantime, even if we merge this branch and set up auto-deployments, it would be good to keep the existi

[2021-07-10 04:46] bartlettroscoe commented on #386
@marcinwrobel1986, okay, I see the issue now.  The issue is that each document is a single HTML page which shows up as "introduction" in as title in the search results so it is deceptive what is is showing you.  Once you are on one of the three different document HTML pages, you can do "Ctrl+F".  What throws you off is **Introduction** as the title for the search results and not the title of the d

[2021-07-11 22:48] bartlettroscoe commented on #386
FYI: I am setting up a meeting between myself and @marcinwrobel1986 (tentatively on Tuesday) to discuss above and related topics.

----

From: Bartlett, Roscoe A
Sent: Sunday, July 11, 2021 6:46 PM
To: marcin.wrobel
Subject: TriBITS Sphinx Documentation
When: Tuesday, July 13, 2021 9:00 AM-9:50 AM (UTC-05:00) Eastern Time (US & Canada).

Hello Marcin,

My Monday morning is pretty packed and I know

[2021-07-12 06:23] marcinwrobel1986 commented on #386
Hello Ross,
accepted. I will prepare the points you asked for. Thanks.

[2021-07-12 09:46] marcinwrobel1986 commented on #386
Ross, Sphinx is mainly used to generate automatic documentation with source code. As I mentioned before I haven't done anything with TriBITS documentation apart from changing linking, so Sphinx finds and put the file contetnt in correct places and the landing page as well.
What the "new documentation" brings it:
- nice, well know theme
- with the theme, comes navigation and text formatting which i

[2021-07-13 12:44] marcinwrobel1986 commented on #386
Hello Ross,

I have forced today the consequesces of what I wrote far above:

The thing is that, Read The Docs is a service, which is trying to simplified documentation creation. It has some default behaviour, but there is a possibility to provide a configuration file to it. It works as application, you can not send a static web page there.
I wrote a config file, but there is a limitation to only

[2021-07-13 12:58] bartlettroscoe commented on #386
@marcinwrobel1986, the TriBITS Python code being used here does not need Python 2, it works fine with Python 3.  There driver scripts might just need a small tweak to get that to work.  We can discuss.

[2021-07-13 14:37] bartlettroscoe commented on #377
@marcinwrobel1986, could you please put in a PR with your suggested updates?

[2021-07-13 16:43] bartlettroscoe commented on #386
After discussing with @marcinwrobel1986 over MS Teams today related to PR #387, it seems like the best course of action to finish up this issue is:

* Break up into three separate Sphinx documents instead of one (using just a simple non Sphinx landing page that links to the three Sphinx documents)
* Continue using a GitHub Pages site with with a branch (called something like 'deploy-doc-site') and

[2021-07-15 12:31] marcinwrobel1986 commented on #377
@bartlettroscoe PR is ready, I have just left the functions/variables names with typos. I could change them if you want Ross, but probably I would not be able to check how they work after changes.

[2021-07-15 14:05] bartlettroscoe commented on #377
@marcinwrobel1986, as I said in [#388 comment](https://github.com/TriBITSPub/TriBITS/pull/388#issuecomment-880714106), please go ahead and make any name changes you want.  And testing TriBITS locally should be as easy as any CMake project imaginable.  Just follow instructions at:

* https://github.com/tribitspub/tribits/#developing-on-tribits

Should take less than 5 mins to set up and run a seria

[2021-07-15 14:11] marcinwrobel1986 commented on #377
Ok @bartlettroscoe , I will let you know when done

[2021-07-15 14:57] bartlettroscoe commented on #386
@marcinwrobel1986, okay, now I see the `print "<string>"` error [above](https://github.com/TriBITSPub/TriBITS/issues/386#issuecomment-879055300) in the script `.py`.  Turns out that little script is not under any automated testing so it slipped through the cracks in the Python 3 upgrade of TriBITS.  (I will add an optional test that generates the TriBITS DocUtils documentation as one of the TriBIT

[2021-07-19 07:41] marcinwrobel1986 commented on #377
- [ ] [line 191 `tribits/package_arch/UntiTests/` seems it does not exist](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/package_arch/TribitsSystemDataStructuresMacrosFunctions.rst)

[2021-07-21 02:00] bartlettroscoe commented on #363
@marcinwrobel1986, FYI, I merged #393 and things are looking good:

* https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-20

I still need to create an issue for the CMake 3.21 issues from PR #394 and verify that the different triggers work correctly.

[2021-07-21 02:04] bartlettroscoe commented on #363
FYI: Looks like after the merge of PR #393, the 'push' trigger to 'master' kicked in and fired off the GHA builds [here](https://github.com/TriBITSPub/TriBITS/actions/runs/1050969559) and it correctly submitted the builds to the 'Continuous' group on CDash here:

* https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-20&filtercount=1&showfilters=1&field1=groupname&compare1=61&va

[2021-07-21 02:56] bartlettroscoe commented on #363
FYI: The "Run workflow" button shows up a shown in the below screenshot:

![image](https://user-images.githubusercontent.com/1959736/126419317-f48c5f18-31ea-4eaf-aa73-5b2ac27be2f6.png)

and I fired it off to produce [this GHA run](https://github.com/TriBITSPub/TriBITS/actions/runs/1050998870) and it is shown on CDash [here](https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-20

[2021-07-21 14:50] bartlettroscoe commented on #363
Hum, the cron entry:

https://github.com/TriBITSPub/TriBITS/blob/3937fda397e55effea75c2b6f6f44c982845dd2b/.github/workflows/tribits_testing.yml#L8

did not run at midnight last night.  There is no GHA job shown [here](https://github.com/TriBITSPub/TriBITS/actions) and therefore nothing shown on CDash [here](https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-21).

I will need t

[2021-07-21 15:04] marcinwrobel1986 commented on #363
Hello @bartlettroscoe I took a look at that and basically seems to be correct. The time is UTC. There is also no notice it can not work with others like `push` or `PR`. Strange. Maybe give it one more day.

[2021-07-21 15:52] bartlettroscoe commented on #363
@marcinwrobel1986, right UTC!  Of course it has to be UTC.  So midnight UTC is 8 PM EDT.  I will change this temporarily to 16:00 UTC (12 noon EDT) to make sure this fires off.

[2021-07-21 16:05] bartlettroscoe commented on #363
@marcinwrobel1986, I don't see anything about `schedule` events not working with `push` or `pull_request` events at at:

* https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events

Where do you see that?

Anyway, I realized I pushed to the branch instead of 'master' so I just pushed again to fire off at 16:10 UTC (so in 5 min).

[2021-07-21 16:08] marcinwrobel1986 commented on #363
I wrote there is `no` notice :). Firstly I thought, there might be a conflict, but I have not found anything.

[2021-07-21 16:53] bartlettroscoe commented on #363
FYI: The cron job that I set for 16:10 UTC (12:10 EDT) finally fired off at 12:39 PM EDT as shown [here](https://github.com/TriBITSPub/TriBITS/actions/runs/1053291080) and submitted to the 'Nightly' CDash group as shown [here](https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-21&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Nightly).  I just pushed the commi

[2021-07-21 22:20] bartlettroscoe commented on #363
FYI: To make it easier to pick out manual builds on CDash, I added commit 43480b75342606cf8027071e78905327661da171 which now allows you to set a suffix for the build names on CDash and I used that to generate builds:

*  https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-07-21&filtercount=1&showfilters=1&field1=buildname&compare1=66&value1=_test_1

showing:

| Site | Build Name |

[2021-07-21 22:33] bartlettroscoe commented on #363
NOTE: Another thing that would improve this and make it easier to find results on CDash is to include the PR number in the build name.  You can do that as described in https://github.com/actions/checkout/issues/58.  Apparently you get it from:

[code]

I will have to keep that in mind.  For now, there are not a lot of PRs being sent for TriBITS so this is not a big deal.  Also, working #154 would

[2021-07-22 09:09] AdrianTianyi opened #395 "Failure in ctest: Required regular expression not found"
Hi, I am now building and installing TriBITS. I follow the README.rst. However, when running ctest, 11 tests fail with the same reason:
`Required regular expression not found`.
The failed tests are
        172 - TriBITS_TribitsHelloWorld_CONFIGURE_OPTIONS_FILE (Failed)
        237 - TriBITS_gitdist_UnitTests (Failed)
        329 - TriBITS_CTestDriver_PBP_ST_ALL_PASS (Failed)
        331 - TriBITS_

[2021-07-22 13:01] bartlettroscoe commented on #395
Hello @AdrianTianyi,

What version of CMake is this?  Can you run [`make dashboard`](https://tribits.org/doc/TribitsBuildReference.html#dashboard-submissions) and post to CDash so we can see the failures on the [TriBITS CDash Site](https://testing.sandia.gov/cdash/index.php?project=TriBITS)?  That should show me everything I need to see.

[2021-07-22 15:50] bartlettroscoe commented on #363
NOTE: The cron job specified at:

https://github.com/TriBITSPub/TriBITS/blob/7fd89f022bf4b4c0ede353991bf8c819ebeed301/.github/workflows/tribits_testing.yml#L5

did fire off after 12:10 AM EDT last night at around 12:38 AM EDT as shown [here](https://github.com/TriBITSPub/TriBITS/actions/runs/1054930482) with results shown on the 'Nighty'  CDash group as shown here:

* https://testing.sandia.gov/cd

[2021-07-22 15:59] bartlettroscoe commented on #363
With #154 scoped correctly and added to the board and everything else above completed, I am going to call this done.

@fnrizzi and @marcinwrobel1986, thanks for all of your help on this.  This is really going to help with getting refactorings and updates to TriBITS done in the future as we can now all have a solid basis of comparison for testing changes to TriBITS.

[2021-07-22 15:59] #363 closed

[2021-07-22 16:01] marcinwrobel1986 commented on #363
@bartlettroscoe Thanks Ross!

[2021-07-23 06:53] AdrianTianyi commented on #395
Thanks very much for your reply! My CMake version is 3.21.0-rc2.

It is not convenient for me to upload the whole log file. The followings are some possible key points in the log file. If you need other specific contents, let me know.

In configuring:
`Probing the environment ...
-- USE_XSDK_DEFAULTS='FALSE'
-- BUILD_SHARED_LIBS='ON'
-- Setting CMAKE_BUILD_TYPE=RELEASE since it was not set ...
--

[2021-07-23 06:55] AdrianTianyi commented on #395
Thanks very much for your reply! My CMake version is 3.21.0-rc2.

It is not convenient for me to upload the whole log file. The followings are some possible key points in the log file. If you need other specific contents, let me know.

In configuring:
`
Probing the environment ... -- USE_XSDK_DEFAULTS='FALSE' -- BUILD_SHARED_LIBS='ON' -- Setting CMAKE_BUILD_TYPE=RELEASE since it was not set ... --

[2021-07-23 14:43] bartlettroscoe commented on #395
@AdrianTianyi,

This is what I suspected.  These are known failures that were encountered as part of #363 in adding testing of TriBITS against CMake 3.21.  The failures in:

[code]

were addressed in PR #392 and pushed to 'master' a few days ago.  I have not seen any failures in the test `TriBITS_gitdist_UnitTests` so I am surprised by that.

The rest of the failing tests appear to be due to chang

[2021-07-24 03:45] AdrianTianyi commented on #395
Thanks very much for your kindly reply and valuable advice. I will try this approach to see whether it is this issue, and then return to you.
For the command `make dashboard`, I ran this command but the connection failured (I ran in a server, not my PC). I will show you the log file part for the failure of `TriBITS_gitdist_UnitTests` later.

[2021-07-24 15:39] AdrianTianyi commented on #395
Hi. I just try to install TriBITS in my own PC with CMake 3.21.0-rc2 and CMake-3.21.0. However, both of them failed, though `TriBITS_gitdist_UnitTests` does not fail in both CMake versions. I have used `make dashboard` to upload the logs.
So, if it is all because of the version, I can downgrade cmake version. Is there a safe cmake version? I will try 3.20 first.

[2021-07-24 15:40] AdrianTianyi commented on #395
By the way, since most of the tests succeed, if I ignore these failures, will the basic usage of TriBITS be influenced?

[2021-07-24 21:26] bartlettroscoe commented on #386
After merging #387, in this github repo's "Pages" settings, I sest:

![image](https://user-images.githubusercontent.com/1959736/126881350-95108e9b-537a-4388-9d32-4bd9307176f6.png)

and now you can see this site deployed at:

* http://tribitspub.github.io/TriBITS/

and the three documents are displayed there.  Nice!

[2021-07-25 02:57] AdrianTianyi commented on #395
Hi, I have tried several new combinations of the versions of python, cmake and g++,gcc, gfortran versions. However, all of them failed, which is very frustrated.
I have used `make dashboard` command to upload most of the tests. The versions I have tried are python 3.7, python 3.8, cmake 3.21.0, cmake 3.20.5, cmake 3.17.4, cmake 3.17.5, g++ 9.4, g++ 7.5, gcc 9.4, gcc 7.5, gfortran 7.5, gfortran 9.4

[2021-07-25 03:00] AdrianTianyi commented on #395
Hi, I have tried several new combinations of the versions of cmake and g++,gcc, gfortran versions. However, all of them failed, which is very frustrated.
I have used make dashboard command to upload most of the tests. The versions I have tried are cmake 3.21.0, cmake 3.20.5, cmake 3.17.4, cmake 3.17.5, g++ 9.4, g++ 7.5, gcc 9.4, gcc 7.5, gfortran 7.5, gfortran 9.4.

[2021-07-25 17:28] bartlettroscoe commented on #395
@AdrianTianyi, thanks for posting the configure, build, and test test results for different CMake versions to CDash with `make dashboard`.  We can see these results at:

* https://testing.sandia.gov/cdash/index.php?project=TriBITS&filtercount=2&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=tianyilu&field2=buildstarttime&compare2=84&value2=now

The tests all pass for CMake 3.17.5 a

[2021-07-25 17:44] bartlettroscoe commented on #395
@AdrianTianyi, sorry for any frustration this has caused you and I apricate your patience here.  The issue is that many of the TriBITS tests are very strong but in being strong, some of them can be a bit fragile by needing to depend on the behavior of the underlying system tools like the build tools `make` and `ninja` and tools like `ls`, `diff`, and others.  (In the case of of your CMake 3.17.5 b

[2021-07-25 18:15] bartlettroscoe commented on #363
FYI: I also realized I needed to update the TriBITS GitHub wiki that was still mentioning Travis CI.  See [here](https://github.com/TriBITSPub/TriBITS/wiki) and [here](https://github.com/TriBITSPub/TriBITS/wiki/TriBITS-CDash-Dashboard).

[2021-07-26 04:10] AdrianTianyi commented on #395
Thanks a lot for your reply! I fully understand the reason and necessity for the strong tests.

After several times tries, I finally succeed in passing all ctests in my PC( a linux machine). The final setting is python3.8.8 , gcc 9.4, g++ 9.4 and cmake 3.18.6. Furthermore, I changed the language of the system to English. This makes all ctests succeed.

Meanwhile, I also test on the server. The gcc

[2021-07-26 14:46] bartlettroscoe commented on #395
@AdrianTianyi, you getting all of the tests to pass, can we close this issue?

[2021-07-26 19:16] bartlettroscoe commented on #386
I updated the old [tribits.org site](https://tribits.org/) to also point to the new Sphinx-generated HTML documents.

Lastly, I will post a GitHub Issue for the remaining issues for the Sphinx-generated documentation before we can switch over and abandon the DocUtils-generated documentation.

[2021-07-26 22:17] bartlettroscoe opened #399 "Address remaining issues with Sphinx-generated TriBITS documentation and abandon DocUtils documentation"
**Blocked by:** #386

**Blocking:** ???

## Description

Sphinx-generated forms of the TriBITS documentation was put together in #386 and is used to auto-deploy Sphix-generated forms of the TriBITS  reStructuredText documents on the GitHub Pages site https://tribitspub.github.io/TriBITS/ that are created and deployed by the GitHub Actions workflow [deploy_docs.yml](https://github.com/TriBITSPub/Tr

[2021-07-26 22:31] bartlettroscoe commented on #399
One example of a formatting problem with the Sphinx-generated documentation are bulleted lists like:

https://github.com/TriBITSPub/TriBITS/blob/cab6deebe4e41896320f434108dc9c1aa312480a/tribits/core/package_arch/TribitsReadAllProjectDepsFilesCreateDepsGraph.cmake#L61-L69

With DocUtils, this creates the nice bulleted list HTML shown here:

* https://tribits.org/doc/TribitsMaintainersGuide.html#tri

[2021-07-26 23:00] bartlettroscoe commented on #399
There are a number of links between sections and anchors the different documents that currently assume they are deployed as HTML files side-by-side with the names `TribitsBuildReference.html`, `TribitsUsersGuide.html` and `TribitsMaintainersGuide.html`. For example, at:

https://tribitspub.github.io/TriBITS/users_guide/index.html#projectdir-ctestconfig-cmake

there is a link to "Dashboard Submissi

[2021-07-26 23:45] bartlettroscoe commented on #399
So it turns out the problem that I am seeing with bulleted lists with the Sphinx-generated documentation seems to be a problem with the sphinx generation on my RHEL 7 Linux machine 'crf450'.  On my RHEL 7 Linux machine with FireFox version `78.4.0esr (64-bit) `, the bulleted list at section:

* TriBITS/tribits/doc/sphinx/combined_docs/maintainers_guide/index.html#tribits-read-all-project-deps-file

[2021-07-27 00:38] AdrianTianyi commented on #395
Thanks. Let's close this issue.

[2021-07-27 19:21] bartlettroscoe commented on #399
So, I installed Sphinx and the Sphinx RTD theme on my Windows10 laptop using a Python and Pip installation designed for native windows with:

[code]

and it installed:

[code]

I was then able to build the TriBITS documentation with:

[code]

(See detailed output in **build_sphinx_docs.out** below. )

This seemed to produce the documents:

[code]

And looking at that same section in the browser:

[2021-07-27 19:46] bartlettroscoe commented on #395
Thanks @AdrianTianyi!

[2021-07-27 19:46] #395 closed

[2021-07-27 22:24] bartlettroscoe opened #400 "Take full advantage of Sphinx in TriBITS documentation"
**Blocked by:** #399

## Description

With the completion of #399, the ReStructuredText-based documentation for TriBITS will be switched over to use Sphinx generation and with Read-the Docs theme and the simple DocUtils formatted output will be removed.  With that, we can then take full advantage of the features of Sphinx to improve the TriBITS docuemntation.  This issue will list the most critica

[2021-07-27 22:37] bartlettroscoe commented on #386
CC: @marcinwrobel1986

To follow on from this, I created #399 to address what needs to be done to drop the DocUtils-generated documents and fully transition over to Sphinx with no regressions.  I also I created the follow-on issue #400 for taking full advantage of Sphinx after this transition to make these proper Sphinx/ReadTheDocs documents as people would expect.

NOTE: As part of the writing of

[2021-07-27 22:37] #386 closed

[2021-07-28 16:23] marcinwrobel1986 commented on #386
Thank you Ross! I keep my fingers crossed for complete transition!

[2021-08-03 19:09] gsjaardema opened #404 "Fix spelling errors"
There are several incorrectly spelled words in the TriBITS documentation, output, and source code.  Make a quick run over the code with `codespell` and fix any problems that it finds.

Fixed in #403

[2021-08-11 03:05] bartlettroscoe commented on #154
With the merge of PR #401, I think this is done.  Note the detailed review of what was accomplished in https://github.com/TriBITSPub/TriBITS/pull/401#issuecomment-896344210 which is:

* Links are provided from GitHub Actions Jobs to results on CDash (through CDash URL implemented manually in `tribits_ctest_drdiver()`)
* Links on CDash builds are provided back to the GitHub PRs (through setting `CT

[2021-08-12 14:41] bartlettroscoe commented on #377
With the merge of #377, I guess this is done for now.  The real review is when code changes that need to be made by others happens.

[2021-08-12 14:41] #377 closed

[2021-08-12 22:58] bartlettroscoe commented on #154
I just updated the section [GitHub Actions Pull Request Testing](https://github.com/TriBITSPub/TriBITS/wiki/TriBITS-CDash-Dashboard#github-actions-pull-request-testing) on the wiki to show the link from GHA to CDash when the job fails.  It is safe to close now.

[2021-08-12 22:58] #154 closed

[2021-08-13 02:19] bartlettroscoe commented on #274
This has been in review for a long time.  There were a few small issues that needed to get resolved like #402 and #383 but nothing else recently.

I think this is ready to close.  That turned out to be a **lot** of work.

[2021-08-16 17:23] bartlettroscoe commented on #154
Looking at how Kitware provides links from their GitLab Merge Requests to CDash, they use CDash queries based on the "Revision" a shown from this comment:

* https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6435

showing:

![image](https://user-images.githubusercontent.com/1959736/129604031-a5d8e316-97c4-4a17-aeaf-2c739f72a485.png)

to this CDash query:

* https://open.cdash.org/index.php?p

[2021-08-30 21:55] bartlettroscoe opened #411 "EPIC: Refactoring TriBITS and TriBITS-based CMake projects to confirm to modern CMake standards"
While reading the book "Professional CMake

[2021-09-09 15:08] bartlettroscoe opened #415 "Address duplicate nightly GitHub Actions jobs"
## Next Action Status

PR #416 merged to 'master' eliminates submits to CDash from forks.  Next:  Have @gsjaardema update 'master' in his fork https://github.com/gsjaardema/TriBITS (i.e. merge https://github.com/gsjaardema/TriBITS/pull/1) ...

## Description

Somehow there are duplicate nightly builds being submitted by GitHub Actions for the `.github/workflows/tribits_testing.yml` file.  One set

[2021-09-09 15:23] bartlettroscoe commented on #415
One clue we can see is that the TriBITS configure captures the git SHA1 as you can see [here](https://testing.sandia.gov/cdash/build/9890817/configure) for example for the build `tribits_cmake-3.21.0_makefiles_python-3.8_g++-9` last night showing:

[code]

while the build ` tribits_cmake-3.21.2_makefiles_python-3.8_g++-9` last nightly configure results [here](https://testing.sandia.gov/cdash/build

[2021-09-09 15:44] marcinwrobel1986 commented on #415
Hello @bartlettroscoe ,

The Scheduled jobs are working. Below I attached a printscreen. They are working for everyday as supposed.

![Zrzut ekranu z 2021-09-09 17-39-21](https://user-images.githubusercontent.com/47597569/132717803-d4744009-445e-4a92-89ce-12a959b6a94d.png)

[2021-09-09 16:57] marcinwrobel1986 commented on #415
Hello @bartlettroscoe
I came up with two ideas.
Currently the line on the .yml file looks like that:
```cron: '10  04  *  *  *' # Run 10 minutes after midnight EDT (4:10 UTC)```

I would try to remove `0`, so it looks like that:
```cron: '10  4  *  *  *' # Run 10 minutes after midnight EDT (4:10 UTC)```
It has to be parsed somehow, maybe it is generating some GitHub error and the job is duplicated

[2021-09-10 15:19] bartlettroscoe commented on #415
@marcinwrobel1986, I just pushed commit 11e21c8fedc180626710d27a7ee943f9b9469eba to 'master'.  It should cause the scheduled GHA build to run tomorrow after 6:10 AM UTC (2:10 AM EDT).  That should be well after the other mystery build tomorrow which seems to be firing off just after 4:30 AM UTC (00:30 AM EDT) as shown in [this query](https://testing.sandia.gov/cdash/index.php?project=TriBITS&begin

[2021-09-10 15:23] bartlettroscoe commented on #415
NOTE: If I can't find out what is triggering this mystery nightly build, I will update `tribits_ctest_driver()` to call `ctest_submit(PARTS done)` as the first submit to wipe out any existing results so that this will write over them directly after a `ctest_start()` (with no APPEND).  That would be a really nice feature actually that would fix all types of submit problems (and in fact I think shou

[2021-09-10 15:26] marcinwrobel1986 commented on #415
Ok, Ross, I hope it would help. I tried to find something else than than, but no success.

[2021-09-10 15:34] bartlettroscoe commented on #415
Bingo, I found it.  These are coming from the fork:

* https://github.com/gsjaardema/TriBITS/actions

showing:

![image](https://user-images.githubusercontent.com/1959736/132879202-6d7cf998-dd72-48cb-a89e-ead8320484e7.png)

And if you look at tip 'master' branch of that repo [here](https://github.com/gsjaardema/TriBITS/commit/cab6deebe4e41896320f434108dc9c1aa312480a) you see the top commit  https:

[2021-09-10 15:41] marcinwrobel1986 commented on #415
Nice one Ross! @bartlettroscoe honestly I didn't know someone else is working on TriBITS apart from us and specially cloned the the repo after we did CI changes

[2021-09-10 15:46] bartlettroscoe commented on #415
@marcinwrobel1986, SEACAS is actively developed and uses TriBITS as its native CMake build system (which allows for easy integration into Trilinos through snapshotting).

This demonstrates a weakness with the GitHub integration with CDash that I had not anticipated.  To stop this from happening, we should likely change `.github/workflows/tribits_testing.yml` (or the script it calls) so that it onl

[2021-09-10 15:51] marcinwrobel1986 commented on #415
Honestly I haven't look at it. Any credentials there needed for submission to Cdash? Or anyone can submit anything? If there would be some credentials needed, then I would suggest to use GitHub secrets for that. Maybe that would allowed just for running Cdash from main repository.

[2021-09-10 16:13] bartlettroscoe commented on #415
@marcinwrobel1986, it is possible to lock down CDash to require some authentication but this makes things more complex and disallows people from posting experimental results that helps to debug problems with the project.  With CDash, you can use an block-list in case someone is spamming the CDash site and you can't make them stop, you can block them.

We really just want to stop accidental submiss

[2021-09-10 16:16] marcinwrobel1986 commented on #415
Yes, that should work and do the job for TriBITS.

[2021-09-10 17:59] bartlettroscoe commented on #415
CC: @marcinwrobel1986

I believe this is fixed with the merge of PR #416.  This ran the PR testig and merge-to-master and both submitted to CDash.  But when I pushed this same 'master' to my fork repo and ran the GitHub actions at:

* https://github.com/bartlettroscoe/TriBITS/actions

these are not triggering submits to CDash , for example, as shown [here](https://github.com/bartlettroscoe/TriBITS

[2021-09-10 18:01] bartlettroscoe commented on #415
Hello @gsjaardema,

Can you please update the ‘master’ branch in your fork:

* https://github.com/gsjaardema/TriBITS

with the ‘master’ branch in:

* https://github.com/TriBITSPub/TriBITS

?

That should eliminate the submits to CDash and you can keep the ‘master’ branch in any state you want (derived from that version) and not have to disable GitHub Actions.

Thanks!

[2021-09-10 18:28] bartlettroscoe commented on #415
FYI: I created https://github.com/gsjaardema/TriBITS/pull/1 to make updating 'master' in the repo https://github.com/gsjaardema/TriBITS/pull a single button click.

[2021-09-14 23:36] bartlettroscoe commented on #415
NOTE: With the merge of https://github.com/gsjaardema/TriBITS/pull/1, the extra set of nightly builds have disappeared as shown [here](https://testing.sandia.gov/cdash/index.php?project=TriBITS&date=2021-09-14&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Nightly) showing:

![image](https://user-images.githubusercontent.com/1959736/133347344-a54ad639-7ddd-453d-ada7-c2e1d3d551f1.p

[2021-09-14 23:36] #415 closed

[2021-09-23 19:59] bartlettroscoe commented on #367
FYI: I talked with @gsjaardema about this plan and added the sub-story above:

* Refactor the [independent SEACAS TriBITS project](https://github.com/gsjaardema/seacas) to pull in pre-installed Kokkos and Zoltan packages (will allow separate Kokkos, KokkosKernels, SEACAS and remaining Trilinos packages to co-exist as Spack packages and linked into single downstream packages and APPs)

That should

[2021-10-12 20:28] bartlettroscoe commented on #299
FYI: I hit another snag in this refactoring work.  It seems that there may be a deficiency in CMake (even CMake 3.21.3) that does not propagate `INTERFACE_INCLUDE_DIRECTORIES` in the IMPORTED library targets generated by the `export(EXPORT ...)` command needed for the `<Package>Config.cmake` files in the build tree (needed for some existing use cases).  To try to get some help from Kitware, I crea

[2021-10-19 14:47] bartlettroscoe commented on #299
FYI: TriBITS PR #424 converts internal TriBITS targets to use modern CMake and the updated internal targets and generated `<Package>Config.cmake` files mostly satisfies the proposed convention in #342.  As noted in PR #424, I still need to address the handling of external packages/TPLs before I can rip out all of the old complex TriBITS logic and complete this issue #299 but I have a pretty good p

[2021-10-19 15:10] bartlettroscoe commented on #342
FYI: I implemented the `<Project>::all_libs` and `<Package>::all_libs` INTERFACE library targets in the `<Project>Config.cmake` and the `<Package>Config.cmake` files as per [this proposed standard for <Package>Config.cmake files](https://docs.google.com/document/d/19gIZgPAfnK7RTdh0sMKr5Yeo1epPVKIfona-oxoCtsg).  As for the package-level files `<Project>Config.cmake` I was able to do this for both f

[2021-11-03 13:06] glhenni opened #427 "tests suddenly failing in LAPACKConfig.cmake"
I believe something in TriBITs has broken our code. Last night all our tests failed during the configure phase with errors from tribits shown below. We're using cmake 3.19.2
[code]

[2021-11-03 14:00] bartlettroscoe commented on #427
@glhenni, can you please attach the output from the configure of Trilinos cmake STDOUT?  specifically, I want to see what is shown for the line `-- TPL_LAPACK_LIBRARIES`.  My guess is that we are going to see duplicate entries for `dl` and `m` but I want to confirm that before I implement unit tests to reproduce and put in a fix.

[2021-11-03 14:35] glhenni commented on #427
We have some messiness of our own in our cmake so I tried to edit that out of the screen output. Hopefully this gives you what you need.
[cmake-error.txt](https://github.com/TriBITSPub/TriBITS/files/7468313/cmake-error.txt)

[2021-11-03 14:39] bartlettroscoe commented on #427
@glhenni, perfect.  What we see is:

`-- TPL_LAPACK_LIBRARIES='/projects/cde/v2/spack/opt/spack/linux-rhel7-x86_64/intel-19.1.2/intel-mkl-2020.3.279-4uk7qgxqeji6bsj4gflxhbspn3v2pm3m/mkl/lib/intel64_lin/libmkl_gf_lp64.so;/projects/cde/v2/spack/opt/spack/linux-rhel7-x86_64/intel-19.1.2/intel-mkl-2020.3.279-4uk7qgxqeji6bsj4gflxhbspn3v2pm3m/mkl/lib/intel64_lin/libmkl_gnu_thread.so;/projects/cde/v2/spa

[2021-11-03 16:12] bartlettroscoe commented on #427
@glhenni, I just merged PR #428 which should fix the error reported in this Issue.  Please pull TriBITS 'master' and know me know if this solves the problem or not.

[2021-11-03 16:49] glhenni commented on #427
Pretty sure we're up and running again @bartlettroscoe. I manually kicked off a couple of our nightly tests that failed last night and they've gotten through the configure and are now compiling. Well past where the failed last night. I won't know 100% until all our testing runs tonight, but I'm willing to be at a 99% level that the problem is gone. Thank you!

[2021-11-03 21:26] bartlettroscoe opened #429 "Design and implement strategy for deprecating TriBITS code"
**Parent Epic:** #411

## Description

As noted in https://github.com/trilinos/Trilinos/pull/9894#discussion_r742142095, we need to consider how to handle deprecated functions and macros in TriBITS.    I don't think it is desirable to just use raw `message(DEPRECATION <msg>)` since that might generate thousands of lines of output if the deprecated function/macro is used in a loop.  But it would be

[2021-11-04 14:05] e10harvey commented on #429
I think having a way to enable/disable deprecation warning or error messages is sufficient. I would suggest adding one function for this purpose:
[code]

[2021-11-04 15:57] glhenni commented on #427
I have ONE platform for ONE test that is still failing. The error is similar but not identical. I thought maybe I had a pointer to an old TriBITS clone but no, as far as I can tell it's a fresh clone. There's a whole sequence of errors like the one below. I'll also attach the full cmake output.
[code]
[cmake-trib-error.txt](https://github.com/TriBITSPub/TriBITS/files/7476270/cmake-trib-error.txt)

[2021-11-04 16:41] bartlettroscoe commented on #427
From the output [cmake-trib-error.txt](https://github.com/TriBITSPub/TriBITS/files/7476270/cmake-trib-error.txt) file [above](https://github.com/TriBITSPub/TriBITS/issues/427#issuecomment-961181719) we see:

[code]

there is no duplicate `m` library there.

Otherwise, I think I know what the problem must be.  From the configure output we see:

[code]

My guess is that this may be finding the `HDF5

[2021-11-04 17:06] glhenni commented on #427
It's very possible that a tribits change exposed some problem with our config. It's SO odd that it's only happening on this platform for this test. There is another almost identical platform and I don't see this error.

As an FYI, I completely wiped out the build directory before starting the build above. There should have been no artifacts left over.

[2021-11-04 17:14] bartlettroscoe commented on #427
@glhenni, in that case, can you please provide your configure script for this build so I can reproduce this?

[2021-11-04 17:21] glhenni commented on #427
I'm not sure what all you'll need Ross. I use a python script to generate a cmake invocation. Below is the cmake command it invokes. What else do you require?
[code]

[2021-11-04 17:24] glhenni commented on #427
Here's the `CMakeCache.txt` if that helps...
[CMakeCache.txt](https://github.com/TriBITSPub/TriBITS/files/7476937/CMakeCache.txt)

[2021-11-04 17:41] bartlettroscoe commented on #427
BTW, it is also possible that `find_package(HDF5)` is finding `HDF5Config.cmake` from some other install of Trilinos that happens to get found through some path set through `CMAKE_PREFIX_PATH` or some other place found by `find_package()`:

* https://cmake.org/cmake/help/v3.17/command/find_package.html#search-procedure

The questions is, how was HDF5 found in this build before this update of TriBI

[2021-11-04 17:49] glhenni commented on #427
I certainly have the console output of it working before the tribits change, but I don't see any obvious difference. Of course I can always checkout a version of tribits used on that day and get more explicit output if that would help. Attached is the console log...
[cmake-pre-trib-change.txt](https://github.com/TriBITSPub/TriBITS/files/7477108/cmake-pre-trib-change.txt)

[2021-11-04 18:53] glhenni commented on #427
Here's a great data point that's not confusing at all...if I invoke cmake as above in an empty build directory it fails with the aforementioned  errors about `HDF5::*`. **If** I rerun cmake in the now populated directory in exactly the same way, with exactly the same arguments, literally just using bash command line history to give me the same cmake command two times in a row, the second time the

[2021-11-04 18:58] bartlettroscoe commented on #427
@glhenni, that makes no sense :-)

Let me try running a modified version of your configure command [above](https://github.com/TriBITSPub/TriBITS/issues/427#issuecomment-961256764) and see happens for me.

This may also be impacted by your env.  Can you capture your bash env and email it to me offline?  (Don't want to put that in a GitHub Issue.)

[2021-11-04 19:10] glhenni commented on #427
I agree, it makes no sense and yet I can give you output of `cmake --trace --verbose ...` the first time that bombs with the errors above and the second time, with no commands between, that works.

BTW, I don't see it picking up anything from old builds or weird locations in those traces.

If you have access to `/projects/charon/ForRoss` I put output from the cmake traces I references above and th

[2021-11-04 20:22] glhenni commented on #427
Found it! You were right Ross. I looked more closely at the trace output and it was indeed finding a `HDF5Config.cmake` in the `CMAKE_INSTALL_PREFIX` directory whose contents were the result of a `make install` from a build a few months ago. Was this because `HDF5Config.cmake` changed?

Looks like I'll have to clean out that directory prior building in the future, which is probably not a bad idea

[2021-11-04 21:04] glhenni commented on #427
I don't know why this just bit us. Seems like something in cmake or tribits changed that uses `CMAKE_INSTALL_PREFIX` to search for components. That's not ideal because now I have to clean out that directory BEFORE a build. Up until this point my sequence was:

1. Build the code via ctest/cmake/make
2. If successful clean out the installation directory
3. Perform a `make install` of the build in `1

[2021-11-04 21:17] bartlettroscoe commented on #427
@glhenni, yes, I just came to the same conclusion looking at the files under `/project/charon/ForRoss/`.  It is finding the file:

[code]

from a previous install and the only thing pointing to this directory I can see is:

[code]

It seems that `find_package()` will find files under `CMAKE_INSTALL_PREFIX`.  That is not mentioned as a search path anywhere in the documentation for `find_package()`

[2021-11-04 21:23] glhenni commented on #427
@bartlettroscoe I don't think it was the HDF5 version it was finding that was the problem, it was whatever the contents of `HDF5Config.cmake` that conflicted with the other one. Oddly that's why when I ran cmake the second time it wasn't searching in `CMAKE_INSTALL_PREFIX` and was thus working. Anyway, I wiped the directory to verify my theory and so I can't tell you what was in there before or ev

[2021-11-04 21:39] bartlettroscoe commented on #427
@glhenni, okay, glad you have a workaround for now.

Sorry for all of the trouble associated with this.  Given that Charon is pulling from TriBITS 'master' every night, you unwittingly became the first beta tester for these new TriBITS-generated `<tplName>Config.cmake` files.  (I knew there were going to be issues that I was not anticipating which is why I wanted to push this out early before the

[2021-11-04 21:53] bartlettroscoe commented on #427
@glhenni, it looks like another workaround is to add:

[code]

to your CMake configure command-line.  See:

* https://cmake.org/cmake/help/v3.17/variable/CMAKE_FIND_NO_INSTALL_PREFIX.html?highlight=cmake_system_prefix_path

That seems like a better solution than having to delete your install tree each time.

Again, I will look for a better solution to this problem that does not require any modific

[2021-11-04 22:13] bartlettroscoe commented on #299
FYI: Related to #340, as described in #427, there are issues with TriBITS-generated `<tplName>Config.cmake` files when `FindTPL<tplName>Config.cmake` modules call `find_package(<tplName>)`.  One issue raised in #427 is that `find_package()` will look under `CMAKE_INSTALL_PREFIX`.  That is a tricky issue that I will need to address somehow.

[2021-11-05 15:59] bartlettroscoe commented on #429
@e10harvey, here is the idea demonstrated with the CMake script `deprecated_msg.cmake`:

[code]

Here is the output and error return codes you get for different use cases:

**Default** (show deprecated warnings but do not trigger fail)
[code]

**Hide all deprecated warnings in all CMake code (in TriBITS and the project's own CMake code)**:
[code]

**Only hide deprecated code in TriBITS but show de

[2021-11-09 16:53] glhenni commented on #427
[code]
I think this did fix our issue on all instances @bartlettroscoe. At least I don't see any failures due to this problem from our regression tests last night.

[2021-11-09 17:16] bartlettroscoe commented on #427
@glhenni, FYI, I am going to post a PR that will fix address this issue without having to set `-D CMAKE_FIND_NO_INSTALL_PREFIX=TRUE` or make any other changes so this does not impact anyone else (i.e. when https://github.com/trilinos/Trilinos/pull/9894 gets merged).

[2021-11-12 16:12] bartlettroscoe commented on #427
@glhenni, FYI, PR #431 (which I just merged to 'master') should address this problem going forward without having to set `-D CMAKE_FIND_NO_INSTALL_PREFIX=TRUE` or change any configuration settings.

[2021-11-19 17:55] bartlettroscoe commented on #427
With the merge of PR #431 and the tests associated with that, I fully expect the problems highlighted in this Issue should be resolved for all customers (without having to set `-D CMAKE_FIND_NO_INSTALL_PREFIX=TRUE`).

Therefore, I will close this as complete.  If a new issue comes up, please post a new GitHub issue.

[2021-11-19 17:55] #427 closed

[2021-12-09 21:46] bartlettroscoe opened #433 "Address issues from TriBITS snapshot into Trilinos from PR trilinos/Trilinos#9894 (#299)"
**Parent Issue:**
* #299

**Child Issues:**
* #443

## Description

This issue is to track TriBITS work to address the problems that were identified with the merge of the updated TriBITGS snapshot into Trilinos with the merge of Trilinos PR trilinos/Trilinos#9894 which lead the the revert PR trilinos/Trilinos#9977.  The fixes will be snapshotted to the branch in Trilinos PR trilinos/Trilinos#9978.

[2021-12-09 22:10] bartlettroscoe opened #434 "NextGen Analytics Ramping up on TriBITS Refactor work"
**Parent Issue:**
* #367

## Description

This issue is an outline for ramping up to help out with the TriBITS Refactor work being tracked in the [TriBITS Refactor](https://github.com/TriBITSPub/TriBITS/projects/2?fullscreen=true) board and the EPIC #367.

## Tasks

* [x] **1.** Clone the TriBITS repo and configure, build, and run the native TriBITS test suite (see [instructions](https://github.co

[2021-12-10 00:01] bartlettroscoe commented on #433
CC: @marcinwrobel1986, @mperrinel

PR #435 should address the configure failures with Albany and Nalu reported in trilinos/Trilinos#9972 and trilinos/Trilinos#9973.

[2021-12-10 19:04] bartlettroscoe commented on #434
Hello @mperrinel and @marcinwrobel1986,

Here is the Issue with a set of tasks to start ramping up and provide some initial feedback.  Please let me know if you have any questions about any of the tasks listed [above](https://github.com/TriBITSPub/TriBITS/issues/434#issue-1076104393).

For the review of specific files listed above, I think you can review the files by adding references like this:

[2021-12-15 10:04] mperrinel opened #437 "CDASH failure"
### Description

I followed the steps described in the README of TriBITS and had errors.
This is the [CDASH](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=10391570) report.

[2021-12-15 15:11] bartlettroscoe commented on #437
@mperrinel, it looks like the errors are due to non-English localization.  It is looking for words like "Error" and "Only in" but instead is printing "Erreur" and "Seulement dans", respectively.   You can see this by running [this query](https://testing.sandia.gov/cdash/queryTests.php?project=TriBITS&date=2021-12-15&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=perri

[2021-12-15 15:15] bartlettroscoe commented on #437
Note that these tests pass with the GitHub Actions run tests (which use an English localization).  See [TriBITS CDash Dashboard](https://github.com/TriBITSPub/TriBITS/wiki/TriBITS-CDash-Dashboard).

[2021-12-15 15:33] bartlettroscoe commented on #437
@mperrinel, actually, one thing that you could do that would help with this effort would be to improve the portability of the test suite and replace commands like `diff -qr <dir1> <dir2>` and `ls <filename>` with portable `cmake -E` commands or `cmake -P` scripts.  That will help to get a native Windows invocation of this test suite working.

[2021-12-15 15:34] bartlettroscoe commented on #434
Given the creation of #437, I can assume this has started?

[2021-12-15 17:35] mperrinel commented on #437
@bartlettroscoe Thanks for the comment. I'm checking that. About the CDASH and chrome. I have the same problem. It is also the case with firefox.
I think we can have a look on the portability improvement.

[2021-12-15 17:53] bartlettroscoe commented on #437
@mperrinel, the challenge that I have found with replacing commands like `ls` and `diff` with `cmake -E` commands in these tests is that you don't get useful output other than 0 or non-0 return codes.  For the purpose of these tests, we need to see the STDOUT and STDERR that lists the files involved.  That is the core of those checks.  An alternative to the `cmake -E` commands is to write custom `

[2021-12-15 18:14] mperrinel commented on #437
I can confirm that ctest works now with english language set

[2022-01-06 17:21] bartlettroscoe commented on #433
I am having to create reference builds of several application codes with Trilinos so that I can compare with the updated TriBITS build system.  This is taking a lot of time so I am putting this back in progress.

[2022-01-06 17:50] bartlettroscoe commented on #434
@mperrinel

As for Spack builds of Trilinos, please:

* Use current version of Trilinos 'develop' branch
* Enable the TPLs as shown in PR testing ([here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2022-01-05&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Pull%20Request) and [here](https://testing.sandia.gov/cdash/build/10441230/configure)) which as of 1/5/202

[2022-01-08 05:30] cgcgcg commented on #309
@bartlettroscoe How about the dashboard_driver? For example, this looks like it's gonna lead to issues with Python3.
https://github.com/TriBITSPub/TriBITS/blob/c8abb338d90d9f4065cd415eca01c7212a754084/tribits/dashboard_driver/tdd_driver.py#L204-L206

[2022-01-10 16:03] bartlettroscoe commented on #309
@cgcgcg, the TriBITS dashboard_driver was created by a contractor years ago while TriBITS was still a part of Trilinos and was never put under automated testing.  I stopped using it years ago. (They were way behind schedule and way over budget so automated testing never happened.  This was another hard lesson about having contractors writing software that is handed over to you to maintain.)

[2022-01-12 23:57] bartlettroscoe commented on #299
CC: @mperrinel, @marcinwrobel1986, @keitat

While debugging the errors with the updated TriBITS with Trilinos with Albany I came across a bit of an issue.  The problem is that it seems that application codes like Albany have not been always following the suggested usage of pulling in libraries using the variables `<PackageName>_LIBRARIES` but instead have been, in some cases, directly linking to t

[2022-01-13 00:04] bartlettroscoe commented on #433
I have debugged the problem with Albany and the updated TriBITS build system with Trilinos that is in https://github.com/trilinos/Trilinos/pull/9978.  The issue is described in detail in https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1011558738.  We need to decide to what level of backwards compatibility we are going to maintain (even incorrect usage of TriBITS?).

[2022-01-13 00:30] bartlettroscoe commented on #299
Okay, I just found that there is `DEPRECATION` target property for CMake 3.17+:

* https://cmake.org/cmake/help/v3.22/prop_tgt/DEPRECATION.html

With that, we could go with ***option-1*** [above](https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1011558738) and deprecate these old non-namespaced CMake targets so that, at configure time, if someone tried to link against a deprecated IMP

[2022-01-13 12:16] mathstuf commented on #299
Make it depend on the requested version of Trilinos (or the package in question). If that is at least the version which provides the new targets, do not create the backwards compat bits. If it is explicitly lower, consider dropping the `DEPRECATION` property (because that target needs to be used to work across the requested version range). After "enough time" (i.e., when "everyone" could have been

[2022-01-13 14:41] bradking commented on #299
I agree with ***option-1*** for the reasons posted above.  However, ***option-1*** and ***option-2*** are not mutually exclusive.  Even if Trilinos were not changing to the namespaced targets, the application teams should still replace their direct non-namespaced target usage with `${<Package>_LIBRARIES}` to avoid using undocumented names.  The variable references will then work with old versions

[2022-01-13 15:18] bartlettroscoe commented on #299
@mathstuf,

Yes, I know how to get that list but I was hopping that I could just get CMake to generate these targets automatically with the export() command.  But given how the targets are defined and used currently using the namespacing, I am not sure If CMake will let me do this.  I will experiment with this and see what CMake will allow me to do.  If nothing else, I think I know how to create t

[2022-01-13 15:36] bartlettroscoe commented on #299
@bradking and @mathstuf,

Now I understand this move of modern CMake to namespaced target names.  From "Professional CMake: 10th edition"

as the name of an alias or imported target. Any attempt to use such a name for a different target
type will result in an error. Perhaps more usefully though, when the target name is used as part of
a target_link_library() call, if CMake doesn’t know of a target

[2022-01-13 15:46] bradking commented on #299
FYI, CMake 3.23 adds an optional [LINK_LIBRARIES_ONLY_TARGETS](https://cmake.org/cmake/help/git-master/prop_tgt/LINK_LIBRARIES_ONLY_TARGETS.html) check to verify that plain names passed to `target_link_libraries` are actually targets.

[2022-01-13 15:53] bradking commented on #299
FYI, CMake 3.18 is required to create an ALIAS target that references a non-global imported target.  ALIAS targets were not originally meant for this use case.

An alternative is to create a non-namespaced `IMPORTED` `INTERFACE` library that just sets `INTERFACE_LINK_LIBRARIES` to the namespaced target's name.

[2022-01-13 15:59] bradking commented on #299
I don't think it will.  While one might be able to call `install(EXPORT)` twice, once with a namespace and once without, doing so would create two independent definitions of each target that don't de-duplicate and could double-up linking.

I think generating the compatibility targets yourself in `TribitsProjectConfigTemplate.cmake.in` or similar may work best.

[2022-01-13 16:02] bartlettroscoe commented on #299
That is great news!  Unfortunately, we can't turn this on for Trilinos right now due to people taking advantage of raw library names (see https://github.com/trilinos/Trilinos/pull/9978#issuecomment-982166363).

@bradking, would you recommend people change from passing raw `<libname>` to `target_link_libraries()` such as for:

[code]

to passing `-l<libname>`:

[code]

?

Is `-l<libname>` portable

[2022-01-13 16:27] bartlettroscoe commented on #299
@bradking. I can do that, but that means that I will need to add some machinery to keep a list of targets for which to create these `INTERFACE IMPORTED` targets when generating the `<Package>Config.cmake` file from TribitsPackageConfigTemplate.cmake.in`.  But I am already gathering that list of targets to form the `<Package>::all_libs` target at:

https://github.com/TriBITSPub/TriBITS/blob/c8abb33

[2022-01-13 16:28] bradking commented on #299
Raw library names are actually the preferred way to refer to toolchain-provided libraries, rather than `find_library`, so that the toolchain can handle selecting the proper library file from its builtin paths.  `LINK_LIBRARIES_ONLY_TARGETS` documents a way to handle such libraries via `IMPORTED_LIBNAME` on an interface library, but only when the project code knows the names itself.

No.  That woul

[2022-01-13 16:43] bartlettroscoe commented on #299
@bradking, that is a good point.  The refactoring that I just finished actually does process the list in `${TPL_BLAS_LIBRARIES}` to create `IMPORTED` library targets and does not rely on passing raw library names to `target_link_libraries()`.  So with the upgraded TriBITS, in theory, Trilinos could set `LINK_LIBRARIES_ONLY_TARGETS=TRUE`.  I will create a backlog item for that.

[2022-01-13 17:01] bartgol commented on #299
I am not reading the whole conversation, but I read that some changes won't happen due to downstream apps relying on "old" cmake patterns. FWIW, I wanted to make it clear that on the Albany side we are ok if Trilinos moves to moder cmake and breaks our builds. We will fix them up. Having more robust (and self-explanatory) cmake logic is definitely healthy, and I'm willing to take a few hours to ad

[2022-01-13 17:43] bartlettroscoe commented on #299
Consensus at meeting today: go with ***option-1*** and add back non-namespaced targets and add a good `DEPRECATION` message that mentions the usage of `${<Package>_LIBRARIES}` to build against old and new TriBITS/Trilinos or just use the updated TriBITS/Trilinos with usage `<Package>::all_libs` and drop usage of the `<Package>_INCLUDE_DIRS` and `<Package>_TPL_INCLUDE_DIRS` variables.

[2022-01-13 19:06] bartlettroscoe commented on #299
@bartgol, it is good that some customers are willing to absorb non-backward compatible changes.  Long term, this has to happen if we are going to move to more robust modern CMake as a community.  This issue is how painful does this need to be for everyone involved? For the case of linking against the old non-namespaced targets, that resulted in a link-time error what was not trivial to debug (at l

[2022-01-14 17:06] bartlettroscoe commented on #433
Next, I am going to bring back deprecated non-namespaced IMPORTED targets as per https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1012363825 before moving on the Nalu and SPARC.

[2022-01-17 09:58] mperrinel commented on #434
@bartlettroscoe

**Review of https://tribits.org/doc/TribitsUsersGuide.html#how-to-use-find-package-for-a-tribits-tpl (How to use find_package() for a TriBITS TPL) checkbox 5.1:**
I understand the idea of a FindTPL<PackageName> like FindTPLHDF5.cmake. But I don't really understand the need of generating a <tplName>Config.cmake from the FindTPL<tplName>.cmake file. Of course, I understand the need

[2022-01-18 18:22] bartlettroscoe commented on #434
@mperrinel

The glue between existing `<tplName>Config.cmake` files using modern CMake targets but lacking a `<tplName>::all_libs` target is the least well-defined part of this whole effort so don't take what you read on this too seriously.  What is there now is a straw-man that works and we can improve on.

The basic requirements are:

* Every installed TriBITS package's IMPORTED targets must be

[2022-01-18 19:07] bartlettroscoe commented on #434
@mperrinel, thanks for your comments in [Plan to merge TriBITS concepts and implementation of Packages and TPLs](https://docs.google.com/document/d/1T9KKrtgFm8-TSEuq119gdDR9tJMlBN3nAVjcN15Ge6k).  I think I have responded to all of them and make a change based on one of them.

The most critical use case driving Epic #367 is "Use Case 3: Configure/build pointing to a subset of already installed TriB

[2022-01-20 20:04] bartlettroscoe commented on #434
@mperrinel and @marcinwrobel1986, as discussed at the meeting today, please comment in this issue or in the associated PR on any reviews you have done and what your impressions are.

[2022-01-24 14:50] mperrinel commented on #434
@bartlettroscoe, concerning the issue (Checkbox 2: **Clone Trilinos repo...**). **Spack** has been used  to get **Trilinos** and its dependencies quickly and with most of this TPLs. **Trilinos** has been installed using this **Spack** install command :
`spack install --test=root --keep-stage --source --overwrite trilinos@develop +boost +mpi +zoltan +exodus +hdf5`

- --test=root permits to run the

[2022-01-26 09:44] mperrinel commented on #434
@bartlettroscoe. Review of the checkbox 5.3 ( Using packages from the build tree...):
I found the document very clear. I think maybe that to specify that **target_link_libraries** is responsible for _"Note that in this case, the include directories and other imported compiler options from the source tree and the build tree are automatically injected into the build targets...", but it is really a d

[2022-01-26 16:38] bartlettroscoe commented on #434
I found the document very clear. I think maybe that to specify that target_link_libraries is responsible for _"Note that in this case, the include directories and other imported compiler options from the source tree and the build tree are automatically injected into the build targets...", but it is really a detail.

@mperrinel, can you put in a PR with your suggested edits?

[2022-01-27 17:43] bartlettroscoe commented on #434
@mperrinel, can you please push a branch to your fork of spack with this and any other changes to spack?  This violates the [Open-Closed Principle (OCP)](https://en.wikipedia.org/wiki/Open%E2%80%93closed_principle).

[2022-01-27 18:03] bartlettroscoe commented on #434
@mperrinel and @keitat,

Question, what do we about the build and test failures for the Spack Trilinos configuration shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=10501861)?  We see a build error in `Amesos2_KLU2_UnitTests` and 9 test failures with Zoltan.  If we don't fix them, we should disable them.

It is important we can automate the building and testing of

[2022-01-28 16:45] bartlettroscoe opened #442 "Extend support for <Package>_CXX_FLAGS to subpackages"
Currently, as described in:

* https://tribits.org/doc/TribitsBuildReference.html#adding-arbitrary-compiler-flags-but-keeping-default-build-type-flags

one can set:

[code]

to append compiler flags at the package level.  But there is currently no support for compiler options targeting the subpackage level.  This was requested in https://github.com/trilinos/Trilinos/issues/10111 for setting `ShyLU

[2022-01-28 16:46] bartlettroscoe commented on #442
@searhein, should we go with **option-1** or **option-2** [above](https://github.com/TriBITSPub/TriBITS/issues/442#issue-1117618313)?  That is really the only thing that needs to be decided here before I begin.

[2022-01-29 14:38] searhein commented on #442
@bartlettroscoe Thank you for looking into this.

Honestly, there is no connection/dependency between `FROSch` and other sub-packages in `ShyLU_DD`. In that sense, both options would be exactly the same for me: in practice, I would just write all flags in `ShyLU_DDFROSch_<LANG>_FLAGS`.

Somehow, option 2 feels a bit more intuitive to me, but for `ShyLU_DD` it would not make much of a difference.

[2022-01-29 19:03] bartlettroscoe commented on #442
@searhein, that was my opinion as well but I wanted to get an unbiased second opinion.  I will given that a try.

[2022-01-29 19:06] bartlettroscoe commented on #442
@searhein, then FROSch likely should have been its own top-level package.  Generally, subpackages should be aggregated into a parent package only if they are related in some obvious way.

[2022-01-29 20:18] searhein commented on #442
@bartlettroscoe Thank you!

I agree on that. At the point when I integrated FROSch, the idea was to gather all the DD work in ShyLU_DD. However, I agree that it would also make much sense to have FROSch as a top-level package; for instance in this case, this would make things easier. Maybe, this is something to reconsider?

[2022-01-29 20:42] bartlettroscoe commented on #442
@searhein,

Well, that is a relationship then (even if it is not a software relationship).

That is something you should discuss with Siva and the other Trilinos leads at some point.  I think there is some desire to actually reduce the number of top-level Trilinos packages.  But no decision on that should be made, in my opinion, until we complete TriBITSPub/TriBITS#367 and some related follow-ons.

[2022-01-31 11:14] searhein commented on #442
@bartlettroscoe I fully agree. Being able to specify the flags for FROSch individually would already help me a lot. Thanks!

[2022-02-01 23:35] bartlettroscoe opened #443 "Investigate and address issue with change to -isystem includes for IMPORTED targets (#299)"
**CC:** @mperrinel, @marcinwrobel1986, @keitat

**Parent Issues:**
* #299
* #433

**Other Linked issues**:

* Asking Kitware for help: https://gitlab.kitware.com/snl/project-1/-/issues/198

## Description of the problem

While studying a build errors reported with SPARC on the Vanguard system `van1-tx2` on the machine 'stria' using the ARM C++ 20.1 compiler (see [tribitsrefactoring#3](https://cee-

[2022-02-02 02:08] bartlettroscoe commented on #443
To summarize how the SPARC build error occurred, 5 things all had to occur on this system as outlined in [tribitsrefactoring#3](https://cee-gitlab.sandia.gov/rabartl/tribitsrefactoring/-/issues/3#note_2153568) which are:

* **1.** Changing over to modern CMake targets to bring in include dirs for Trilinos results in CMake assigning `SYSTEM` to the include directories pulled in through the IMPORTRE

[2022-02-02 02:25] bartlettroscoe commented on #299
CC: @mperrinel, @marcinwrobel1986, @keitat

FYI: A build problem with SPARC on the Vanguard system 'stsria' for the partial refactoring of TriBITS to use modern CMake targets in handling `INTERACE_INCLUDE_DIRECTORIES` has exposed a serious break in backwards compatibility in moving to modern CMake in how all IMPORTED targets include directories are handled as `SYSTEM` directories and included on t

[2022-02-02 02:27] bartlettroscoe commented on #433
The issue with SPARC has exposed another serious break in backwards compatibility.   See https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1027514592 and #443 (and let's not discuss it here).

[2022-02-02 02:38] bartlettroscoe commented on #443
FYI: I have asked Kitware for their advice on how to deal with this in:

* https://gitlab.kitware.com/snl/project-1/-/issues/198

[2022-02-02 11:14] mperrinel commented on #434
@bartlettroscoe @keitat
I want to create a new dashboard of reference using SuperLU 5.3 instead of SuperLU 4.3
I had to change first the default version of SuperLU from the spack pakage.py file of Trilinos (4.3 -> 5.3).
With that, the SuperLU  dependency have been automatically installed with Spack.
Unfortunately, Trilinos itself doesn't compile anymore. This is the error :

[code]

[2022-02-02 13:44] bradking commented on #443
CMake 3.23 introduces the [IMPORTED_NO_SYSTEM](https://cmake.org/cmake/help/git-master/prop_tgt/IMPORTED_NO_SYSTEM.html) target property that can be set on an imported target to prevent its include directories from being treated as system includes.

[2022-02-02 14:23] mperrinel commented on #434
@bartlettroscoe
Concerning the violation of the **Open-Closed Principle (OCP)**. I found another way to change the build stage without having to edit the **spack/etc/spack/defaults/config.yaml**. I exported the TMP variable in my terminal to a location which is not temporary. That works too. It that a better option ?

[2022-02-02 15:58] mperrinel commented on #434
@bartlettroscoe Review of the checkbox **5.4** and **5.5**
1. The build instruction of **5.4** works perfectly.
2. Subpackages optional B and C aren't compiled by default even with the option **TribitsExProj_ENABLE_ALL_OPTIONAL_PACKAGES=ON**.  The reason is that **TribitsExProj_ENABLE_SECONDARY_TESTED_CODE=OFF** by default.
3. Subpackages optional B and C compile if we enable T**ribitsExProj_ENABL

[2022-02-02 16:07] bartlettroscoe commented on #443
@bradking, excellent!  That matches my suggested property `IMPORTED_INCLUDE_DIRECTORIES_AS_NO_SYSTEM` [above](https://github.com/TriBITSPub/TriBITS/issues/443#issue-1121311896).  I will build a 'master' version of CMake and test that out with this SPARC build and see if this behaves as we need it to to maintain backward compatibility.  (And I will update the [above comment](https://github.com/TriB

[2022-02-02 16:40] bartlettroscoe commented on #443
Just to give some more detail on what is happening with the SPARC build on 'stria' with that fragile env and the gtest problem, as described in the internal issue [tribitsrefactoring#3](https://cee-gitlab.sandia.gov/rabartl/tribitsrefactoring/-/issues/3#note_2154742) ...

The old TriBITS for Trilinos results in the SPARC compile include dirs using `-I` for the Trilinos include and `-isystem` for t

[2022-02-02 16:52] bartlettroscoe commented on #443
@bradking, While we are discussing CMake features, what about allowing the downstream CMake projects more fine-grained control on how they treat include directories for upstream IMPORTED targets like suggested [above](https://github.com/TriBITSPub/TriBITS/issues/443#issue-1121311896)?  Yes, the new CMake 3.23 property `IMPORTED_NO_SYSTEM` allows the upstream package to influence how its include di

[2022-02-02 16:58] bartlettroscoe commented on #443
@bradking, is it possible for a downstream CMake project to edit the properties on an IMPORTED target after they are defined?  For example, could a downstream CMake project change the value of the `IMPORTED_NO_SYSTEM` property on an IMPORTED target after it was defined from calling `find_package(...)`?  If so, that would allow a downstream customer CMake project to control how the include dirs for

[2022-02-02 17:12] bradking commented on #443
I think that would be okay so long as it is guarded by some option the project can set to avoid it.
Also, you should have some transition plan for removing the setting later.

For reference, that suggestion is:

<details><summary>It might be possible but will require deep design work (click to expand details):</summary>

The `target_link_libraries` command internally just maps to storing the named

[2022-02-02 17:16] bartlettroscoe commented on #434
@mperrinel, the instructions in [TribitsExampleApp/README.md](https://github.com/TriBITSPub/TriBITS/tree/master/tribits/examples/TribitsExampleApp/README.md) assume that you have installed `TribitsExampleProject` first as per:

Would it help if this was changed to:

?

[2022-02-02 17:18] bartlettroscoe commented on #434
@mperrinel, correct.  To make this simpler, we should perhaps just set `TribitsExProj_ENABLE_SECONDARY_TESTED_CODE=ON` by default?  But then I think you can't build by default without a Fortran compiler.  Perhaps we just need to document this better?

[2022-02-02 17:24] mperrinel commented on #434
@bartlettroscoe Review of the checbox **5.6**
Instructions works perfectly well.

[2022-02-02 17:29] bartlettroscoe commented on #434
@mperrinel, okay.  Then let's update [TribitsExampleProject/README.md](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/examples/TribitsExampleProject/README.md) to recommend explicitly setting:

[code]

and mentioning that this will require Fortran. We will also need to update the instructions for `TribitsExampleApp/README.md` that `TribitsExampleProject` needs to be configured with `Tri

[2022-02-02 17:37] mperrinel commented on #434
Sure, I can create a PR for that if you want

[2022-02-02 17:55] bartlettroscoe commented on #443
@bradking

Also, you should have some transition plan for removing the setting later.

I think what we would do is to have a  TriBITS project-level cache var option `<Project>_SET_CMAKE_NO_SYSTEM_FROM_IMPORTED` that would be set to `TRUE` by default for CMake versions < 3.23 and `FALSE` for CMake versions >= 3.23.  If `<Project>_SET_CMAKE_NO_SYSTEM_FROM_IMPORTED=TRUE`, then TriBITS would put in `s

[2022-02-02 19:03] bartlettroscoe commented on #443
NOTE: I just got confirmation from the SPARC developers that they want to keep pulling in the Trilinos include dirs with `-I` since they use pragmas to silence specific warnings from specific Trilinos header files but they want to keep getting warnings from some Trilinos headers like Kokkos when they help catch mistakes in their code.

This is just more motivation to set `CMAKE_NO_SYSTEM_FROM_IMPO

[2022-02-02 22:26] bradking commented on #443
Having those options with defaults based on the version of CMake sounds fine to me.

AFAIK there is no documentation explicitly encouraging or discouraging that.  There is no mechanism to enforce it either way.

There is documentation at the bottom of [this section](https://cmake.org/cmake/help/v3.22/manual/cmake-buildsystem.7.html#include-directories-and-usage-requirements) in the `cmake-buildsys

[2022-02-02 23:20] bartlettroscoe commented on #443
Thanks @bradking, I think we have a workable plan [above](https://github.com/TriBITSPub/TriBITS/issues/443#issuecomment-1028202788) then.  Thanks for your feedback and perspective.

There are several things about include directories that seems to be unspecified.  For example, how are the include directories listed in an IMPORTED target's `INTERFACE_SYSTEM_INCLUDE_DIRECTORIES` property treated when

[2022-02-03 11:29] bradking commented on #443
I opened [CMake MR 6942](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6942) to update the documentation for those.

It's not affected.  I included that in the documentation update.

I've also mentioned the ordering change in the documentation update.

FYI, compilers always search `-isystem` directories after `-I` directories regardless of the order of those flags on the command line.  C

[2022-02-03 14:57] bartlettroscoe commented on #434
@mperrinel, If no one is keeping testing Trilinos with recent versions of SuperLU and if SuperLU is not maintaining backward compatibility, then we should not be surprised that updated versions of Trilinos and SuperLU don't work together.

@keitat, is this not what ECP-xSDK not supposed to be doing; keeping recent versions of these software packages working together?  Who is running CI testing bet

[2022-02-03 15:57] bartlettroscoe commented on #443
@bradking, are there compilers that don't support silencing warnings from system headers?

[2022-02-03 16:14] bradking commented on #443
There are compilers that only have `-I` or equivalent and do not have `-isystem` or equivalent.  One of the major ones was MSVC, which only in the last couple of years started to have versions that support an equivalent to `-isystem`.  For such compilers, we still re-order the includes for consistency, but they are still passed with `-I` or equivalent.

[2022-02-03 16:40] marcinwrobel1986 commented on #434
Hello @bartlettroscoe @mperrinel ,
I just created a [PR](https://github.com/TriBITSPub/TriBITS/pull/445) with readme improvements.
Please feel free, to take a look, comment, edit.
I also went through the whole process.
We could mark done the 5.4, 5.5 and 5.6 points in the issue.

[2022-02-03 17:40] bartlettroscoe commented on #443
NOTE: If any an include directory from any target is listed in the property `INTERFACE_SYSTEM_INCLUDE_DIRECTORIES` it will be listed as `-isystem`.  So to make an include directory not a system directory after the targets are created, you would have to search all upstream targets and remove the include dirs from all of the `INTERFACE_SYSTEM_INCLUDE_DIRECTORIES` properties.

[2022-02-03 17:55] bartlettroscoe commented on #443
After talking with @bradking and others at the TriBITS Refactoring meeting, I think we have come to the following decision:

* Don't change the default behavior of IMPORTED modern CMake targets in downstream projects (i.e. Trilinos include dirs are `-isystem` by default)
* Implement TriBITS project-level cache var option `<Project>_IMPORTED_NO_SYSTEM` that would be set to `FASLE` by default that w

[2022-02-03 20:49] keitat commented on #434
I confirmed the error with Amesos.  Can you change back to superlu@4.3?  I will report it to Amesos team.

[2022-02-03 21:22] keitat commented on #434
I just found SuperLU 4.3 is no longer available through Spack (Spack's auto-download cannot find SuperLU4.3).   I suggest using SuperLU-Dist (super-dist) with Spack for the time being.

BTW, Amesos2 team is adapting SuperLU-5.3.  However, I do not know if we will do the same thing for Amesos (legacy version).

[2022-02-03 21:23] keitat commented on #434
@bartlettroscoe We disable SuperLU interface in xSDK, and enable SuperLU-dist.

[2022-02-03 22:17] bartlettroscoe commented on #434
@keitat, so do modern customers of Trilinos through Spack just use SuperLU-dist even for single-process solves?

[2022-02-08 01:00] bartlettroscoe commented on #443
FYI: We have given SPARC its own gtest implementation to resolve the build issues on the 'van1-tx2' system as implemented in internal MR [sparc/sparc-ear99!882](https://cee-gitlab.sandia.gov/sparc/sparc-ear99/-/merge_requests/882).  Once they merge that, MR to SPARC 'master', this SPARC issue will no longer be an impediment for this TriBITS work.

[2022-02-08 01:02] bartlettroscoe commented on #433
FYI: We have given SPARC its own gtest implementation to resolve the build issues on the 'van1-tx2' system as implemented in internal MR [sparc/sparc-ear99!882](https://cee-gitlab.sandia.gov/sparc/sparc-ear99/-/merge_requests/882).  Once they merge that, MR to SPARC 'master', this SPARC issue will no longer be an impediment for this TriBITS work.  But we still need to address (at least with docume

[2022-02-10 16:43] bartlettroscoe commented on #434
FYI: Looking at what SPARC is using with Trilinos right now as shown with their build `[Trilinos-atdm-cee-rhel7_clang-9.0.1_openmpi-4.0.3_serial_static_opt](https://testing.sandia.gov/cdash/build/10577083)` shown [here]([Trilinos-atdm-cee-rhel7_clang-9.0.1_openmpi-4.0.3_serial_static_opt](https://testing.sandia.gov/cdash/build/10577083))

shows the TPLs being used by ATDM:

[code]

with SuperLUDis

[2022-02-14 18:13] bartlettroscoe commented on #433
With the merge of internal MR [sparc/sparc-ear99!890](https://cee-gitlab.sandia.gov/sparc/sparc-ear99/-/merge_requests/890), SPARC now has its own internal build of gtest that will be used instead of any other gtest installed in Trilinos or on the system (because the include dirs for the internally build gtest are included with -I and come before all other include dirs).

[2022-02-15 21:25] bartlettroscoe commented on #160
It would be difficult to robustly determine if orig-dir or dest-dir was running in an ignored subdir of a git repo.  It is easy to determine these are git repos because git commands are run in each to make sure they are clean and those commands would fail if you try to run them in a non-git repo.

Now that I have added the option `--no-op` in PR #450 and updated the documentation show [here](https

[2022-02-16 10:07] mperrinel commented on #434
@bartlettroscoe  **Review of the checbox 6.1:**
- I think that the document [TribitsExternalPackageWriteConfigFile](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/package_arch/TribitsExternalPackageWriteConfigFile.cmake ) is good for me. I saw some spelling mistake in the documentation (from the varaibles; for the list of targts given...). I can create a PR to fix them if you want.

[2022-02-16 13:10] bartlettroscoe commented on #434
@mperrinel

Yes, please create a PR with suggested fixes

It is harmless to define dependencies if there really is none.  To be safe, we just need to maintain the ordering of the libs provided on the link line in case that is significant.  That is really all the code is doing since we can't actually link between libraries that are already created.

That is not true.  You have to maintain the order

[2022-02-16 15:56] bartlettroscoe commented on #433
FYI: I verified that the internal build of googletest (gtest) with SPARC does not appear to have broken any of their nighty builds.  See [internal issue tribitsrefactoring#3](https://cee-gitlab.sandia.gov/rabartl/tribitsrefactoring/-/issues/3#note_2184795).

Now, I can't do this amount of work for every application code that breaks a build due to this upgrade of TriBITS.  But at least now with thi

[2022-02-16 16:04] bartlettroscoe commented on #434
@mperrinel, because that unit test just calls the function `tribits_external_package_process_libraries_list()` which just processes the list of libraries in `TPL_${tplName}_LIBRARIES`.  It does not create the `${tplName}::all_libs` target.  It is a unit test.

[2022-02-16 16:39] mperrinel commented on #434
@bartlettroscoe @keitat Progress on 5.2:
I built Trilinos using Superlu-dist (available variant of spack Trilinos) and I didn't add any other Superlu. In addition I disabled, as suggested SuperLu for Amesos : **-D Amesos_ENABLE_SuperLU=OFF**

This is my final list of Enables TPL :
`Final set of enabled TPLs:  Pthread HWLOC MPI BLAS LAPACK Boost Scotch METIS ParMETIS Zlib HDF5 CGNS Pnetcdf Netcdf S

[2022-02-16 17:13] bartlettroscoe commented on #434
@mperrinel, can you dig into these errors some and see if you can post Trilinos GitHub issues for these?  The reproducibility instructions should involve the branch of spack that you are using to generate these results.  (That is the whole point of this exercise, to allow consistent reproductions of builds of Trilinos.)

Do you know how to use the the "Test Output" filter starting with:

* https:/

[2022-02-17 16:24] bartlettroscoe commented on #443
CC: @keitat

@mperrinel and @marcinwrobel1986,

It occurred to me that a good way to help me is to take point on the writing the documentation for the impact of moving to modern CMake and its impact in changing how include directories are handled (from `-I` to `-isystem`) that is occuring with TriBITS and Trilinos.  We need to document this both in the TriBITS and Trilinos user and developers docu

[2022-02-17 17:54] keitat commented on #434
package.py for Trilinos does not provide the equivalent option.

Need a process to automate to create package.py generation.

[2022-02-17 21:10] bartlettroscoe commented on #434
For now, you can just create a branch in the spack repo and make the changes right there.

[2022-02-17 21:13] keitat commented on #434
I will just add a few statements and do PR to stack team (or use my own Spack fork).  I will let you know as soon as it is ready.

[2022-02-19 23:44] bartlettroscoe commented on #442
@searhein,

This is done in TriBITS 'master' as of PR #453 that I just merged.  Can you please review the updated documentation described at the top of PR #453 and make comments there?

I will next do the git gymnastics to cherry-pick and then snapshot back just this one commit to a branch off Trilinos 'develop'.  (I can't snapshot all of TriBITS to Trilinos due to #433).

[2022-02-20 00:12] bartlettroscoe commented on #442
FYI: The Trilinos PR that brings just this PR back to the version in Trilinos 'develop' is  https://github.com/trilinos/Trilinos/pull/10219.

[2022-02-23 13:43] mperrinel commented on #434
Thanks @keitat
@bartlettroscoe I created an issue on the GitHub or Trilinos:
https://github.com/trilinos/Trilinos/issues/10235

[2022-02-28 17:46] bartlettroscoe opened #455 "Change from tribits/ReleaseNotes.txt to tribits/CHANGELOG.md and try to adopt GitHub standard"
**CC:** ???

## Description

It seems that the standard name for a changelog/release notes these days is `CHANGLOG.md` as described in:

* [xSDK Community Package Policies](http://dx.doi.org/10.6084/m9.figshare.4495136)
* https://changelog.md/
* https://keepachangelog.com/en/1.0.0/

However, the GitHub standard for these files is really a set of release notes with a different section for each rele

[2022-02-28 17:50] bartlettroscoe commented on #455
But since TriBITS does not yet put out official releases, we should consider a slightly different format.  That is, we should tag each CHANGELOG.md item with the type of change and just order them by date as:

----

## `<date-1>`

* **Added:** `<item1>`
* ...
* **Changed:** `<item2>`
* ....

## `<date-2>`

* **Deprecated:** `<item3>`
* ...
* **Fixed:** `<item4>`
- ...

## `<date-3>`

* **Removed:*

[2022-03-02 14:37] bartlettroscoe commented on #364
@jhux2

These policy [`CMP0115`](https://cmake.org/cmake/help/v3.23/policy/CMP0115.html?highlight=cmp0115) warnings are not from TriBITS, they are from Trilinos CMakeLists.txt files.  The warning is that the sources are being passed in without an extension.

For example, from the configure output at:

*  https://testing.sandia.gov/cdash/build/10672154/configure

the warning

[code]

is coming from

[2022-03-02 14:57] #364 closed

[2022-03-02 15:11] mperrinel commented on #443
HI @bartlettroscoe,
I'm working on the documentation and something seems not clear enough for me :
The new cache variable **<Project>_SET_CMAKE_NO_SYSTEM_FROM_IMPORTED** should permit to enable/disable SYSTEM for all imported variables (So, if the project "A", the same variable will after every imported targets coming from packages and TPL used by A). But with cmake  >= 3.23, Tribits will introduc

[2022-03-02 15:49] bartlettroscoe commented on #443
@mperrinel, I did not realize you were working on the documentation.  I have been working on it to.  I will post my PR immediately and then you can merge with whatever you have.

[2022-03-02 16:04] bartlettroscoe commented on #443
@mperrinel, we are not implementing that.  See the final decision [above](https://github.com/TriBITSPub/TriBITS/issues/443#issuecomment-1029249966). the **Tasks** [above](https://github.com/TriBITSPub/TriBITS/issues/443#issue-1121311896).

In the future, if you are going to work on something, please add comment here like "Hey, I am going to start working on this by doing A and B.  Is there anythin

[2022-03-02 16:05] bartlettroscoe commented on #443
@mperrinel, actually, if you look at this Issue #443, you will see the associated commits that I have been making related to this.

We need to meet to discuss the exact documentation that is needed and where it will go.

[2022-03-02 17:15] bartlettroscoe commented on #443
@mperrinel, that is not true.   The former maintains backward compatibility and the latter does not.  See the "Pro" and "Con" items [above](https://github.com/TriBITSPub/TriBITS/issues/443#issue-1121311896) under **Possible workarounds that can be implemented in TriBITS**.

[2022-03-02 17:23] bartlettroscoe commented on #443
Not sure what you mean here but allowing more fine-grained control over setting the `IMPORTED_NO_SYSTEM` property on the package-by-package level or TPL -by-TPL level might be useful.  (But the names would be different.)  We should discuss.

But longer term, CMake proper should allow downstream CMake clients to decide how the include dirs from each IMPORTED library target are handled.  (See **Desi

[2022-03-02 20:02] bartlettroscoe commented on #443
@mperrinel, see the updated list of **Tasks** [above](https://github.com/TriBITSPub/TriBITS/issues/443#issue-1121311896).  And let's meet as soon as possible to discuss what documentation is needed.

[2022-03-03 01:01] keitat commented on #434
With Spack we can install Trilinos without Amesos.  However, I recommend building Trilinos without Spack.   Ross, what Trilinos packages do you activate?
spack install trilinos@13.2.0~amesos+superlu

[2022-03-03 15:11] bartlettroscoe commented on #434
At this point I think we should consider abandoning the Spack build of TPLs for Trilinos to allow NGA to reproduce Trilinos builds and tests with updated TriBITS versions.  Instead, we should descope and just have NGA run TriBITS test suite and review TriBITS PRs and Issues (and provide comments for related Trilinos PRs).

Let's discuss at the meeting today.

[2022-03-03 15:28] bartlettroscoe opened #458 "Update GitHub Actions testing after CMake 3.23.0 release"
Once CMake 3.23.0 is released, we need to update the GitHub Actions testing to replace the CMake 3.21 build with a CMake 3.23 build and remove the CMake 3.23.0-rc2 build (see PR#457).

[2022-03-03 16:41] bartlettroscoe commented on #443
We need documentation in Trilinos to explain:

* The break in backward compatbility from `-I` to `-isystem`

Ways to address changes from `-I` to `-isystem` (and point to TriBITS issue #443)

* Upgrade to CMake 3.23.0+ and set `-D Trilinos_IMPORTED_NO_SYSTEM=ON` when configuring, building, and installing Trilinos (maintains backward compatibility)
* Set CMake cache var [`CMAKE_NO_SYSTEM_FROM_IMPOR

[2022-03-03 17:48] bartlettroscoe commented on #443
@marcinwrobel1986, @mperrinel

An example of a response to [above](https://github.com/TriBITSPub/TriBITS/issues/443#issuecomment-1043149612) request.

@bartlettroscoe, yup, I can start on that next week.  I will get in contact with you about the details.

[2022-03-03 17:51] bartlettroscoe commented on #443
@marcinwrobel1986 and @mperrinel,

I will create the draft of the needed documentation and I will post new PRs in TriBITS and Trilinos that I will ask you to review.

[2022-03-04 03:50] bartlettroscoe commented on #455
@mperrinel, this issue drive the change to the tribits/CHANGELOG.md file in PR #456.

[2022-03-04 03:56] bartlettroscoe commented on #443
@mperrinel, can you please do a detailed review of the following PRs as connected set:

* https://github.com/TriBITSPub/TriBITS/pull/459
* https://github.com/bartlettroscoe/Trilinos/pull/6

?

Once you are finished that, can you please review (with a formal GitHub review with comments) the PRs listed under the "In Review" column in order shown in:

* https://github.com/TriBITSPub/TriBITS/projects/

[2022-03-04 09:02] mperrinel commented on #443
@bartlettroscoe
I reviewed the PR #459 and it is good. I put a comment about a potential missing info in the release note. The way you describe the behavior of the new CACHE variable sounds good for me.

[2022-03-04 11:21] mperrinel commented on #443
@bartlettroscoe
I reviewed the PR https://github.com/TriBITSPub/TriBITS/pull/456 and it seems alors good for me. I wrote some comments.

[2022-03-07 15:59] bartlettroscoe commented on #443
This is done with the merges of PRs #456 and #459.  Moving to done.

[2022-03-07 15:59] #443 closed

[2022-03-07 17:40] bartlettroscoe commented on #433
The Trilinos PR #9978 is now updated to resolve everything listed in "Tasks" [above](https://github.com/TriBITSPub/TriBITS/issues/433#issue-1076074013).  Now we just need to merge that PR to Trilinos 'develop'.

As I noted in https://github.com/trilinos/Trilinos/pull/9978#issuecomment-1060942454, Trilinos 'develop' is now **6 months behind** TriBITS 'master'.

[2022-03-07 17:50] bartlettroscoe commented on #299
FYI: Given that the lingering TriBITS snapshot into Trilinos 'develop' in Trilinos PR #9978 breaks backward compatibility (see #443), we might as well just wait to merge #9978 and charge ahead with completing the transition of TriBITS to modern CMake targets.

[2022-03-10 14:33] bartlettroscoe opened #462 "TimingUtils.cmake: Replace execute_process(date ...) with string(TIMESTAMP) with microsecond support with CMake 3.23"
With CMake 3.23, the [`string(TIMESTAMP ...)` command](https://cmake.org/cmake/help/v3.23/command/string.html#timestamp) now supports microseconds `%f`:

[code]

This would allow us to replace the expensive `execute_process(date ...)` command in `timer_get_raw_seconds()` with a much faster and more portable `string(TIMESTAMP ...)` command.

[2022-03-10 17:13] bartlettroscoe commented on #434
NOTE: Trilinos PR testing is using SuperLU 4.3.  For example, see [here](https://testing.sandia.gov/cdash/build/10713142/configure) showing:

[code]

**But we should abandon this effort and just skip NGA testing with Trilinos.***

[2022-03-10 17:39] bartlettroscoe commented on #443
@MikolajZuzek, see this issue.  This is where we break backward compatibly.

[2022-03-12 20:09] bartlettroscoe opened #465 "Sphinx generated documentation not coping and pointing to example files correctly"
@marcinwrobel1986, I just noticed that the Sphinx generation code is not copying and setting up references to example files correctly.  For example, the correct link at:

* https://raw.githubusercontent.com/TriBITSPub/TriBITS/master/tribits/doc/guides/TribitsGuidesBody.rst

containing:

[code]

is translated in the copied/updated file:

[code]

which contains:

[code]

And that results in showing

[2022-03-12 20:27] bartlettroscoe commented on #465
@marcinwrobel1986, I think should be fixed or we should take down the hyperlinks to the Sphinx-generated documentation so that users don't see this when coming from the tribits.org site.

[2022-03-13 09:10] marcinwrobel1986 commented on #465
@bartlettroscoe hello Ross, I will look at that first thing on Monday.

[2022-03-14 12:48] marcinwrobel1986 commented on #465
@bartlettroscoe I am on it. I have fixed already other problem I have found.

[2022-03-14 19:28] mperrinel commented on #434
@bartlettroscoe @keitat. Please find attached the documentation requested
[TrilinosBuildWithSpack.md](https://github.com/TriBITSPub/TriBITS/files/8248003/TrilinosBuildWithSpack.md)

[2022-03-14 20:46] bartlettroscoe commented on #434
@mperrinel, there are some formatting problems with the rendered Markdown (as per the Markdown Viewer Chrome Extension).  It shows:

![image](https://user-images.githubusercontent.com/1959736/158258281-ba4c00b1-ca8a-4e23-87b5-1e4e63c675ff.png)

Can you fix the formatting?

[2022-03-15 08:28] mperrinel commented on #434
Ok @bartlettroscoe, it is updated

[2022-03-24 14:44] marcinwrobel1986 commented on #465
Looks good https://tribitspub.github.io/TriBITS/

[2022-03-24 15:01] bartlettroscoe commented on #465
Yup, it looks correct.

[2022-03-24 15:07] bartlettroscoe commented on #465
@marcinwrobel1986, related to file handling, why is there no version being produced?  As shown at:

* https://tribitspub.github.io/TriBITS/users_guide/index.html

it shows:

![image](https://user-images.githubusercontent.com/1959736/159946338-ad16a836-dac6-4eae-bcf0-9391ac855f9f.png)

My guess is that the documentation needs to be generated on the 'master' branch which produces the file `TribitsGi

[2022-03-24 15:16] marcinwrobel1986 commented on #465
@bartlettroscoe there is literaly just `.. include::` directive. What is does it just puts whatever is in the file `TribitsGitVersion.txt` if the file is missing, then nothing is put there.

[2022-03-24 15:34] bartlettroscoe commented on #465
But that file gets created as part of the build process so why is it not there?

[2022-03-24 15:44] marcinwrobel1986 commented on #465
Maybe this function does not work on GitHub runner... no idea

[code]

[2022-03-24 16:11] bartlettroscoe commented on #465
Note, this is being done correctly locally which produced:

![image](https://user-images.githubusercontent.com/1959736/159960792-a9fcdc69-2d27-4eed-87a8-35fe05f430e1.png)

[2022-03-24 16:11] bartlettroscoe commented on #465
Seems to be fixed except for the version so that is progress.  let's close this.

[2022-03-24 16:11] #465 closed

[2022-03-24 16:40] bartlettroscoe commented on #434
Let's call this done

[2022-03-24 16:40] #434 closed

[2022-03-24 17:01] bartlettroscoe commented on #465
@marcinwrobel1986, yup, that looks to be the problem looking at:

* https://github.com/TriBITSPub/TriBITS/runs/5678069002?check_suite_focus=true#step:6:15

showing:

[code]

We can deal with that later.

[2022-03-24 18:24] bartlettroscoe commented on #465
The problem appears to be that GHA is doing a shallow copy with no tags:

* https://stackoverflow.com/questions/4916492/git-describe-fails-with-fatal-no-names-found-cannot-describe-anything

The fix seems to be to run:

[code]

I will try that out.

[2022-03-24 22:25] bartlettroscoe commented on #465
And PR #470 fixed git described as shown in:

* https://github.com/TriBITSPub/TriBITS/runs/5684037733?check_suite_focus=true#step:6:84

with the updated documentation at:

* https://tribitspub.github.io/TriBITS/users_guide/index.html

now showing:

![image](https://user-images.githubusercontent.com/1959736/160020239-90376dc3-eb98-4924-9861-1a223890143b.png)

Now this Issue is done done.

[2022-03-29 15:04] bartlettroscoe opened #473 "Set up for automerge of TriBITS PR"
GitHub now supports automerging of PRs as described [here](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request).

To require that all of the tests pass and that reviews are done, you need to:

* Enable auto-merge
* Add GitHub Actions tests (or other tool)
* Require all changes to the repo through P

[2022-03-29 15:12] bartlettroscoe commented on #473
On the page:

* https://github.com/TriBITSPub/TriBITS/settings/branch_protection_rules/1260474

for the 'master' branch, I enabled "Require a pull request before merging" and "Require approvals" (with "1" required approval) and "Dismiss stale pull request approvals when new commits are pushed.  I also enabled "Require status checks to pass before merging" and "Require branches to be up to date bef

[2022-03-29 15:29] bartlettroscoe commented on #473
So it appears that you can't set auto-merge for a PR that has already passed the status checks but has not been reviewed yet.   For example, for the PR:

* https://github.com/TriBITSPub/TriBITS/pull/469

it shows:

![image](https://user-images.githubusercontent.com/1959736/160646098-a03a41a0-dded-4722-a678-40c072332dea.png)

I think it is showing this because I am an administrator and I can bypass

[2022-03-29 15:48] bartlettroscoe commented on #473
There must be a bug in GitHub because even for a new PR where the status checks are running (and have not finished):

* https://github.com/TriBITSPub/TriBITS/pull/474

GitHub is not allowing me to "Enable Automerge":

![image](https://user-images.githubusercontent.com/1959736/160652046-f9a43019-65e2-4141-90f1-67a5ae6de990.png)

No idea why this is not showing.

[2022-03-29 16:02] bartlettroscoe commented on #473
So this turns out to be a worthless feature since you can't set up automerge your own PRs.  What a waste of my time.

[2022-03-29 16:10] bartlettroscoe commented on #473
Bingo!  I had forgot to save the 'mastser' branch protection settings "Require a pull request before merging" and "Require approvals" (1), and now for the PR:

* https://github.com/TriBITSPub/TriBITS/pull/474

I see:

![image](https://user-images.githubusercontent.com/1959736/160656892-dea9c2ad-1c7b-4139-96d6-3dc37f9f1fb2.png)

Now, I don't want to auto-merge that PR but I will create another PR t

[2022-03-29 16:36] bartlettroscoe commented on #473
Shoot, I created PR #475 and clicked "Enable automerge" and put in the commit message and as soon as @rabartlett1972 completed the review, it merged!  It did not even wait for the GHA tests to finish that are shown [here](https://github.com/TriBITSPub/TriBITS/actions/runs/2059831416).

I need to try that again.

[2022-03-29 17:31] bartlettroscoe commented on #473
So, I updated https://github.com/TriBITSPub/TriBITS/settings/branch_protection_rules/1260474 to select specific status checks one at a time and checked "Require branches to be up to date before merging" as:

![image](https://user-images.githubusercontent.com/1959736/160670419-d906c566-67f6-4014-b241-61400a4d4904.png)

And with that, now we see:

![image](https://user-images.githubusercontent.com/1

[2022-03-29 17:47] bartlettroscoe commented on #473
So this really requires a lot of setup to get working correctly summarized as:

* In the [general settings page](https://github.com/TriBITSPub/TriBITS/settings):
  * Check "Allow auto-merge"

* On the [branch projections page for 'master'](https://github.com/TriBITSPub/TriBITS/settings/branch_protection_rules/1260474):
  * Check "Require a pull request before merging"
    * Check "Require approval

[2022-03-29 18:11] bartlettroscoe commented on #473
This confirms that the auto-merge feature is working correctly and we can close.

[2022-03-29 18:11] #473 closed

[2022-05-07 00:05] bartlettroscoe commented on #458
I actually already replaced the CMake 3.21 build with a CMake 3.23.0 build a while ago in commit c7b7dcad54bfebb9f7241cf0d779d01180fe9753.  And I just now changed this to CMake 3.23.1 in commit 769f615fafbaac66be8caa47d2916b1e9b078f5d.

[2022-05-07 00:25] bartlettroscoe commented on #458
The updated CMake 3.23.1 build is shown [here](https://testing.sandia.gov/cdash/index.php?project=TriBITS&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=tribits_cmake-3.23.1&field2=revision&compare2=65&value2=769f61&field3=buildstarttime&compare3=84&value3=now) showing:

![image](https://user-images.githubusercontent.com/1959736/167230335-d4ffd78a-ea3f-415d-9321-

[2022-05-07 00:25] #458 closed

[2022-05-18 20:59] bartlettroscoe commented on #274
I don't know why I did not close this.  It should have been closed a long time ago.

[2022-05-18 20:59] #274 closed

[2022-06-02 17:38] bartlettroscoe opened #483 "Add CDash URLs to all builds and failing tests for a given repo revision"
Now the CDash 3.1 supports the "Revision" filter for the index.php and queryTests.php pages, we can construct and display CDash URLs for all builds and failing tests for the same repo version.  This will be especially useful for GitHub Actions driven PR testing that runs a set of different builds independently and we want to be able to view the results for all of the related builds.

[2022-06-08 22:12] bartlettroscoe commented on #299
FYI: With the merge of #479, this is essentially done. All of the TriBITS tests pass and I tested this against Albany and Nalu (see [internal tribitsrefactoring#4](https://cee-gitlab.sandia.gov/rabartl/tribitsrefactoring/-/issues/4) and [internal tribitsrefactoring#5](https://cee-gitlab.sandia.gov/rabartl/tribitsrefactoring/-/issues/5)).  I will test against SPARC next and will create a new TriBIT

[2022-06-10 18:09] bartlettroscoe commented on #483
FYI: I will close this once PR #486 is merged.

[2022-06-10 22:10] bartlettroscoe commented on #299
FYI: I created PR trilinos/Trilinos#10614 to update the snapshot of TriBITS 'master' into Trilinos 'develop' that switches to modern CMake targets.

[2022-06-17 14:28] bkochuna opened #489 "Create a TribitsFindJuliaInterp.cmake"
Julia is similar to Python. It is a programming language that features an interpreter.
The base CMake releases typically include a FindPython, but do not include a FindJulia.cmake

This issue is about adding a feature to TriBITS to find a Julia installation in basically the same fashion as it finds a python installation/interpreter.

The propsed task would be to copy and modify `./cmake/tribits/co

[2022-06-17 14:37] bartlettroscoe commented on #489
Hello @bkochuna!

Just a few questions:

1. Who is the customer?
2. What is the use case for this?  How does Julia get used in a TriBITS project?  Would the be core to TriBITS in some way?  (NOTE: TriBITS core can use Python if available and that is why TriBITS Core the `tribits_project()` macro looks for Python by default.)
3. Is there a way for a specific project to contain this module itself an

[2022-06-17 15:01] bkochuna commented on #489
Hi Ross,

For now the customer is us. Futility/MPACT/VERA.

The use case is we have a module/package written in Julia that we access in Futility through a C API.

Happy to include this stuff in our own project, just figured it might be worthwhile to any TriBITS user as they could then pull in features in Julia like they could for Python.

[2022-06-17 15:02] bkochuna commented on #489
As a follow up, We can just treat Julia like a TPL very easily in this case, but I think that this sort of abuses the abstraction of what a TPL is.

[2022-07-12 18:20] bartlettroscoe commented on #442
This has been done for a long time with the merge of PRs #453 and https://github.com/trilinos/Trilinos/pull/10219.

Closing as complete.

[2022-07-12 18:20] #442 closed

[2022-07-12 18:21] bartlettroscoe commented on #381
This has been done for a long time with the merge of PR #384.  Closing.

[2022-07-12 18:21] #381 closed

[2022-07-12 18:58] bartlettroscoe opened #494 "Improve management of TPL dependencies with new TriBITS (#299, #63)"
It just occurred to me a better way of dealing with the break in backward compatibility with the usage of `<tplName>_LIB_ENABLED_DEPENDENCIES` mentioned in https://github.com/trilinos/Trilinos/pull/10614#issuecomment-1158900416 and documented in:

* https://github.com/bartlettroscoe/Trilinos/blob/16a8e7310a5f19b325c71e35788023cd87ad1b58/RELEASE_NOTES#L94-L114

and in the entry "For now, dependenci

[2022-07-14 15:39] bartlettroscoe commented on #368
The issue of naming came up in https://github.com/TriBITSPub/TriBITS/pull/493#discussion_r921290889 that is very much related to the refactoring of TriBITS Core into smaller reusable components.

[2022-07-14 16:55] bartlettroscoe commented on #340
@sethrj, note that all of the concreate `FindTPL<tplName>.cmake` modules that call `find_package(<externalPkg>)` will then need to be upgraded as well (such as I did [here](https://github.com/sandialabs/seacas/pull/322)).  This can be done in a way that maintains backward compatibility for configure scripts that are currently passing in lists of libraries and include dirs as described in the lower

[2022-07-15 12:14] bartlettroscoe opened #496 "Pending post-merge reviews for KyleFromKitware"
Hello @KyleFromKitware

The list of post-merge reviews what were requested are listed under the "In Review" column in the query:

* https://github.com/TriBITSPub/TriBITS/projects/2?fullscreen=true&card_filter_query=assignee%3Akylefromkitware

The only way that I can see to organize post-merge reviews with GitHub and make them searchable is to move merged PRs back to the "In Review" column and then

[2022-07-15 12:19] bartlettroscoe commented on #340
From the TriBITS perspective, I believe this is complete as of the merge of PR #493.  I am putting this issue "In Review" until this gets merged into Trilinos proper.  Then it will be up to the projects using TriBITS to upgrade TriBITS and refactor their `FindTPL<tplName>.cmake` modules as per:

* [Creating FindTPL<tplName>.cmake using find_package() with IMPORTED targets](https://tribitspub.githu

[2022-07-15 13:09] sethrj commented on #340
Thanks @bartlettroscoe . We're at the final stage of rewriting the SCALE build system to use native modern CMake (with a very few thin helper functions) so the TriBITS dependencies for us now are a moot point. Cheers!

[2022-07-15 15:25] sethrj commented on #340
We've got just a single SCALEConfig.cmake file. Our code is still too tightly coupled for separate package-level granularity to be meaningful: over time if we can develop stable, limited-surface-area APIs then we might be able to break our packages into separate, versioned, cleanly coupled code bases. Until then, we're just going to require that all the components that *can* be built *will* be bui

[2022-07-15 16:30] sethrj commented on #340
Yep! That is the idea. I think we could use COMPONENTS to indicate the configurable options (e.g. support for CUDA, Qt, etc.) or if we add configurable package components, but our immediate goal is a very few number of possible configurations with 100% reliability for being able to configure/compile/link/test/run.

[2022-07-15 16:56] sethrj commented on #340
`COMPONENTS` isn't to my knowledge used to eliminate capability, just to require it. So hypothetically if you have a CUDA-enabled SCALE and don't list the `CUDA` component, linking against SCALE can still require linking against CUDA.

We now have about 25 "packages" (each of which has one library, down from 200+ subpackages) based on high-level code structure and "software products", among which

[2022-07-15 17:00] bartlettroscoe commented on #494
This is addressed in PR #495.

[2022-07-15 17:18] bartlettroscoe commented on #340
Actually, it is completely up to the package to determine the meaning of `COMPONENTS` and what it means when `COMPONENTS` (or `OPTIONAL_COMPONENTS`) is missing.  For Trilinos, when you leave off `COMPONENTS` from `find_pacakge(Trilinos ...)` it returns all of the Trilinos packages that were enabled, built, and installed.

How do you manage the dependencies between these 25 internal "packages"?  Ho

[2022-07-18 22:58] bartlettroscoe commented on #299
NOTE: PR trilinos/Trilinos#10614 was just merged.  I will leave this issue "In Review" for a few weeks to collect any lingering issues that may not have been caught yet.  I will work very hard to help resolve issues ASAP so we don't back out upgraded TriBITS.

[2022-07-20 13:17] bartlettroscoe commented on #299
With the merge of trilinos/Trilinos#10614 two days ago, it exposed that there were still downstream CMake projects at SNL that were generating export makefiles for Trilinos, but indirectly by looping over `${Trilinos_LIBRRAIES}` (which is now just a list of namespaced targets).

[2022-07-20 15:11] bartlettroscoe opened #500 "Fix installed <tplName>Config.cmake files to not point into build tree"
As described in https://github.com/trilinos/Trilinos/issues/10774#issuecomment-1190334078, the current TriBITS-installed `<tplName>Config.cmake` files are setting `<upstreamTplName>_DIR` to point into the build tree instead of the install tree.  This is breaking all of the SPARC Trilinos Integration builds starting SPARC testing day [2022-07-19](https://sparc-cdash.sandia.gov/index.php?project=SPA

[2022-07-20 15:27] bartlettroscoe commented on #500
NOTE: It would be good to fix this in a way that allows for relocatable installs.  So instead of creating separate `<tplName>Config.cmake` files for the build and install trees, I will create just one and set `<upstreamTplName>_DIR` based on the base directory path of the `<tplName>Config.cmake` file calling it.  That will allow the install tree to be moved and keep working (at least w.r.t. these

[2022-07-20 16:17] glhenni commented on #500
This one bit GEMMA as well. Oddly, not on all platforms. I'm going to wait to get into any depth as to why it only bit us on the ASCICGPU platforms but not the ASCIC (non GPU) platforms to see if your fix gets rid of the problem.

[2022-07-20 16:31] bartlettroscoe commented on #500
@glhenni, if the build directory is visible and accessible from the configure process for the downstream APP, it will work.  For SPARC, the Trilinos builds were done on one machine under /scratch/ different from where the SPARC configures were done and, therefore, none of the SPARC configurations could find them and they all broke.

I should have a fix in for this by the end of the day hopefully (

[2022-07-20 16:33] bartlettroscoe commented on #299
Below is a response to an internal Trilinos customer about supporting export makefiles.  This approach really has nothing to do with TriBITS.

----

If you really want to support export makefiles, an approach that will work is outlined in:

   https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-582585296
   https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-828678848
   https:

[2022-07-20 18:48] bartlettroscoe commented on #340
Closing since PR trilinos/Trilinos#10614 is merged.

[2022-07-20 18:49] bartlettroscoe commented on #500
FYI: The updated tests exposing the defect and the fix are in PR #501.

[2022-07-20 19:13] bartlettroscoe commented on #340
Closing since PR trilinos/Trilinos#10614 is merged.

[2022-07-20 19:13] #340 closed

[2022-07-20 19:56] mathstuf commented on #299
I've done it, but it is specific to each project. One for ParaView can be seen here: https://gitlab.kitware.com/paraview/paraview/-/blob/master/Clients/CommandLineExecutables/paraview-config.in

[2022-07-26 02:02] bartlettroscoe commented on #500
This was confirmed in GEMMA testing as documented in https://github.com/trilinos/Trilinos/pull/10784#issuecomment-1192653538 and we see this issue fixed in the SPARC Trilinos Integration builds starting [2022-07-22](https://sparc-cdash.sandia.gov/index.php?project=SPARC&date=2022-07-22&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Trilinos%20Integration).

[2022-07-26 02:02] #500 closed

[2022-07-26 02:04] bartlettroscoe commented on #494
This has not caused any problems after the merge to Trilinos 'develop' and in fact has helped to make it easy to resolve issues with TPL dependencies in https://github.com/trilinos/Trilinos/pull/10614.

[2022-07-26 02:04] #494 closed

[2022-07-26 02:05] bartlettroscoe commented on #433
The merge of #10614 a week ago with no related issues reported (but a new set of issues reported) seems to suggest we can close this issue.

[2022-07-26 02:05] #433 closed

[2022-07-26 19:32] bartlettroscoe commented on #299
FYI: There are a few issues with the merge of trilinos/Trilinos#10614 that are covered in trilinos/Trilinos#10774.  Once those issues are resolved, I think it is safe to close this issue.

[2022-07-27 20:13] bartlettroscoe opened #505 "Fix find_package(<Package>) calls from TriBITS-generated <Package>Config.cmake files from different dirs (#299)"
It was reported that the new TriBITS-generated `<Pacakge>Config.cmake` files don't work correctly when calling `find_package(<Package>)` from different directories for different packages that have a dependency relationship.  This was reported from a SEACAS project customer that is trying to call `find_package()` from two different directories for two different SEACAS subpackages from that have a d

[2022-07-27 20:28] bartlettroscoe commented on #505
I was able to reproduce the error on 'hpws055' using the slightly simplified project:

[code]

with the project:

[cmake-seacas-error2.tar.txt](https://github.com/TriBITSPub/TriBITS/files/9203340/cmake-seacas-error2.tar.txt)

where the files are:

[code]

Configuring this project gives:

[code]

[2022-07-27 23:06] bartlettroscoe commented on #505
So the situation is that SEACASNemeis has a direct dependency on SEACASExodus as shown by:

[code]

So I should be able to create a test in TriBITS that has a similar relationship and show this occuring.

[2022-07-28 16:35] clintonstimpson commented on #505
Thanks Ross for submitting this for me.  We have a project currently not building because of this.
I guess one workaround would be for us to move both find_package() calls up to the parent directory.

[2022-07-28 16:48] bartlettroscoe commented on #505
@clintonstimpson, I will comment back here with status once I know more.  Hopefully we can fix this quickly without having to modify your CMake project.  (The thing working against us is that the standard way of writing `<Package>Config.cmake` files does not scale and makes `find_package(Trilinos ...)` take over 20 minutes to run.)

[2022-07-28 22:47] bartlettroscoe commented on #505
@gsjaardema, can you please update the TriBITS snapshot in the SEACAS repo?  I think the PR #506 just merged will fix this bug reported by @clintonstimpson and documented above.

[2022-08-03 23:40] bartlettroscoe commented on #505
FYI: @clintonstimpson confirmed in a separate email that after SEACAS updated its snapshot of TriBITS 'master', his use case now works.

Closing this as complete.

[2022-08-03 23:40] #505 closed

[2022-08-09 18:59] bartlettroscoe opened #508 "Switch from testing.sandia.gov to my.cdash.org"
### SNL Kitware Issue

* [snl-kitware#213](https://gitlab.kitware.com/snl/project-1/-/issues/213)

### Description

It seems that testing.sandia.gov/cdash/ is going away (see https://github.com/trilinos/Trilinos/issues/10852), I need to start posting TriBITS results to my.cdash.org.

[2022-08-10 02:39] bartlettroscoe commented on #508
PR #509 was merged.  I had not created the "Pull Request" group yet and the PR results when to "Experimental".  I will see if the next PR correctly posts results to the "Pull Request" group before I close this issue.

[2022-08-11 01:37] bartlettroscoe opened #510 "Fix defect where <Subpackage>_TEST_ENABLED_DEPENDENCIES is empty but it should not be"
A defect in TriBITS logic was discovered as part of Trilinos testing.  It is a tricky defect to trigger and it is described in detail in https://github.com/trilinos/Trilinos/issues/10842#issuecomment-1211465535.

ToDo: Fill in the cases where the problem occurs and what should be done to fix it.

[2022-08-11 16:47] bartlettroscoe opened #511 "TriBITS not enabling downstream package with test-only dependency on upstream package with <Project>_ENABLE_ALL_FORWARD_DEP_PACKAGES=ON"
While working on #510, I discovered that TriBITS is not enabling downstream packages that only have test dependencies on an upstream package.  For example, if you configure TribitsExampleProject with:

[code]

you don't get the subpackage `WithSubpackagesB` enabled and have its test built even though that package has an optional test dependency on `MixedLang`.

[2022-08-11 20:08] bartlettroscoe commented on #511
Turns out TriBITS was doing the right thing.  I just had not enabled ST packages when setting up my test.

Closing as INVALID.

[2022-08-11 20:08] #511 closed

[2022-08-11 20:36] bartlettroscoe commented on #268
I am actually working on this as part of #510.

[2022-08-11 21:33] bartlettroscoe commented on #508
FYI: After this change, the results for the PR #512 shown [here](https://github.com/TriBITSPub/TriBITS/actions/runs/2842857588) are not submitting to the TriBITS project on my.cdash.org.   Therefore, I created the PR #513 to switch back.

[2022-08-12 02:47] bartlettroscoe commented on #510
FYI: I merged the updated TriBITS snapshot to PR #10813 and put `AT: RETEST` on it.  Now we just wait for it to run and hope we don't get hit by the random Tpetra test failure described in #10847.

[2022-08-12 21:47] bartlettroscoe opened #514 "INVALID: Mistake"

[2022-08-12 21:49] #514 closed

[2022-08-17 03:12] bartlettroscoe opened #516 "Export informational variables to `<Package>Config.cmake` files for downstream CMake projects"
**Parent Issue**

* #367

### Description

It is often the case that downstream CMake projects need to know how an upstream CMake project was configured and what features it supports.  For example:

* Albany wants to know if the installed Anasazi package was configured with RBGen or not (i.e. the value of `Anasazi_ENABLE_RBGen`). (needed to resolve an issue for https://github.com/trilinos/Trilinos

[2022-08-17 22:14] bartlettroscoe commented on #508
@zackgalbreath, I would like to give this switch another shot to see if we can make this work.  Then we would not have to deal with trying to keep an external CDash server under a sandia.gov domain.  I have already created the project:

* https://my.cdash.org/index.php?project=TriBITS

But I could  never get the submits to the "Pull Request" group working correctly.  Let me set up a local configur

[2022-08-18 00:00] bartlettroscoe commented on #508
I posted the new PR #517 to see if the submits go to:

* https://my.cdash.org/index.php?project=TriBITS&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Pull%20Request

correctly.

[2022-08-19 02:07] bartlettroscoe commented on #508
Since there was good results from posting PR #517, I decided to merge this.  This goes back to posting to my.cdash.org and so far so good.

[2022-08-19 02:55] bartlettroscoe commented on #508
I merged PR #519.  Now I put this in review for a few day days to make sure that "Nightly", "Continuous" and "Pull Request" build submit correctly.

[2022-08-19 17:54] bartlettroscoe commented on #508
Okay, the "Nightly" GitHub Actions builds showed up today at:

* https://my.cdash.org/index.php?project=TriBITS&date=2022-08-19&filtercount=0&showfilters=1

and

* https://testing-dev.sandia.gov/cdash/index.php?project=TriBITS&date=2022-08-19&filtercount=0&showfilters=1

So there have been builds submitted to both CDash sites for the groups "Nightly", "Continuous", "Pull Request" and "Experimental

[2022-08-24 15:45] bartlettroscoe commented on #516
With the merge of PRs #520 and #521, I think enough of this scope is done.  I will defer the implementation of the macros `tribits_pkg_set_option_and_export(<optionName> <defaultVal>)` and `tribits_pkg_set_and_export(<varName> <defaultVal> CACHE <type> "<doc>")` until later, if they are needed.

I will put in review for now.

[2022-08-24 16:21] bartlettroscoe commented on #510
This failure has not been seen in Trilinos PR builds since the merge of PR https://github.com/trilinos/Trilinos/pull/10813.

Closing as complete.

[2022-08-24 16:21] #510 closed

[2022-08-24 21:48] bartlettroscoe opened #522 "Add cmake_minimum_required() calls to <Package>Config.cmake files"
Seems the expected convention for `<Package>Config.cmake` files is to include a call to `cmake_minimum_version()` to handle any features of CMake that may need newer policies, like `if (... IN_LIST ...)`.  In particular, the example in the book "Professional CMake: 11th edition" shows:

[code]

This came up due to Kokkos adding extra CMake code to `KokkosConfig_install.cmake` as shown in:

https:/

[2022-08-25 00:45] bartlettroscoe commented on #508
Submits to the new CDash site to https://my.cdash.org/index.php?project=TriBITS have been going really well.

Closing as complete.

[2022-08-25 00:45] #508 closed

[2022-08-25 13:49] bartlettroscoe commented on #522
For a longer discussion of why we need to do this, see https://github.com/trilinos/Trilinos/pull/10930#discussion_r954990717.

[2022-08-26 01:57] bartlettroscoe commented on #522
With the merge of PRs #523 and #524 and the updated snapshot of TriBITS 'master' into Trilinos 'develop' with the merge of PR trilinos/Trilinos#10930, this issue is resolved.

[2022-08-26 01:57] #522 closed

[2022-08-26 20:51] bartlettroscoe commented on #516
Irina Tezaur confirmed that this works for the Anasazi_ENABLE_RBGen case described [above](https://github.com/TriBITSPub/TriBITS/issues/516#issue-1341107577).

Closing as complete.

[2022-08-26 20:51] #516 closed

[2022-08-26 20:52] bartlettroscoe commented on #299
With the merge of Trilinos PR #trilinos/Trilinos#10930, I believe the transition to modern CMake for TriBITS and Trilinos is complete!

Closing as complete!

[2022-08-26 20:52] #299 closed

[2022-08-26 20:53] bartlettroscoe commented on #367
FYI: The move to modern CMake targets for TriBITS and Trilinos is complete.  See https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1228937911.

[2022-09-16 16:23] bartlettroscoe commented on #268
This is **not** quite complete due to a defect discovered by a customer and reported in #11002 (see https://github.com/trilinos/Trilinos/issues/11002#issuecomment-1244293784).

[2022-10-04 00:46] bartlettroscoe commented on #268
PR #529 should fix this defect.

[2022-10-17 15:59] bartlettroscoe commented on #268
I was confirmed in https://github.com/trilinos/Trilinos/issues/11002#issuecomment-1275719232 that the problem reported in https://github.com/trilinos/Trilinos/issues/11002#issuecomment-1244293784 is addressed in Trilinos 'develop'.

Closing as complete again.

[2022-10-17 15:59] #268 closed

[2022-10-19 18:37] ibaned opened #533 "Find NetCDF and HDF5 using only CMake config files"
Since recent versions of NetCDF and HDF5 both install good CMake config files and export proper CMake targets, it would be great (actually, it is necessary for me) if TriBITS could bring in these TPLs using only these CMake config files and targets. In particular, TriBITS should do the equivalent of the following:
[code]
and only require `hdf5_ROOT` and `netCDF_ROOT` to be defined during CMake con

[2022-10-19 19:28] bartlettroscoe commented on #533
That is that idea.  See [Creating FindTPL<tplName>.cmake using find_package() with IMPORTED targets](https://tribitspub.github.io/TriBITS/users_guide/index.html#creating-findtpl-tplname-cmake-using-find-package-with-imported-targets).

What are the minimum versions of HDF5 and NetCDF needed to supply these package config files?  I think you would have to feed those versions into the `find_package(

[2022-10-19 20:00] ibaned commented on #533
It looks like at least HDF5 1.10.8 and netCDF 4.3.0 export a CMake config file at least... I'm not sure exactly what the compatibility range is.

However, I think we could do the following right now: change `FindTPL<tplName>.cmake` to attempt first to use CMake config files and only if that fails fall back to other methods. Does that sound reasonable? If it would be a change you would accept I cou

[2022-10-19 20:31] ibaned commented on #533
I tried the following changes:

https://github.com/sandialabs/seacas/pull/336/files

And just using `tribits_extpkg_create_imported_all_libs_target_and_config_file` and returning doesn't seem to work as I would expect:
[code]

[2022-10-19 21:53] bartlettroscoe commented on #533
@ibaned,

I don't think you can use a return().  You will need more sophisticated logic, especially if you want to avoid breaking a bunch of existing configure scripts for Trilinos.

I think if you follow the second pattern shown [here](https://tribitspub.github.io/TriBITS/users_guide/index.html#creating-findtpl-tplname-cmake-using-find-package-with-imported-targets) that includes calling `tribits

[2022-10-19 21:59] bartlettroscoe commented on #533
@ibaned, if you think about existing configure scripts, it is not that simple.  Search for "legacy" under the section [9.4 How to add a new TriBITS external package/TPL](https://tribitspub.github.io/TriBITS/users_guide/index.html#how-to-add-a-new-tribits-external-package-tpl) for a discussion of the issues.

However, if you are willing to help everyone update their configure processes for Trilinos

[2022-10-19 22:01] gsjaardema commented on #533
One issue we might have with netCDF is that we had been setting some values while we were finding netCDF that were used to help drive the dependencies and build options.  For example, `NetCDF_NEEDS_HDF5`, NetCDF_NEEDS_PnetCDF`, and `NetCDF_PARALLEL`.

The same information should be available in the netCDF-supplied config files, but we may have to also change or adapt some downstream variable/depen

[2022-10-19 22:03] gsjaardema commented on #533
It looks like they may be `netCDF_HAS_PARALLEL`, `netCDF_HAS_PNETCDF` and `netCDF_HAS_HDF5`

[2022-10-20 05:05] ibaned commented on #533
Okay, I've gotten to a point that actually works for one of my applications:

https://github.com/sandialabs/seacas/blob/88aada319687049fb25e2b2b5cd44a9031876e1d/cmake/tribits/common_tpls/FindTPLNetcdf.cmake

I've had to write my own `NetcdfConfig.cmake` file because apparently the official netcdf project did not quite do their CMake correctly and does not add `find_dependency(hdf5)` into their `ne

[2022-10-20 13:21] gsjaardema commented on #533
@ibaned The netCDF developers would probably be open to fixing their CMake.  I can open a PR if you show me the change; or you could...

[2022-10-20 16:53] ibaned commented on #533
Oh sorry, I didn't describe that clearly. `NetcdfConfig.cmake` is generated by `FindTPLNetcdf.cmake`, in a manner similar to how `tribits_extpkg_create_imported_all_libs_target_and_config_file` would generate that config file.

I'm glad we have a plan to get this accepted! Should I create a branch of Trilinos and apply my patch to `FindTPLNetcdf.cmake` there? What should the starting point be for

[2022-10-20 17:26] bartlettroscoe commented on #533
@ibaned

Got it.

Okay, this is where TriBITS may come to the rescue.  All you need to do is to is update the file [`FindTPLHDF5.cmake`](https://github.com/trilinos/Trilinos/blob/develop/cmake/tribits/common_tpls/FindTPLHDF5.cmake) along the lines [here](https://tribitspub.github.io/TriBITS/users_guide/index.html#creating-findtpl-tplname-cmake-using-find-package-with-imported-targets), add the fil

[2022-10-20 17:44] ibaned commented on #533
Thanks @bartlettroscoe

I just realized I did this with a locally modified version of NetCDF, so let's pause this for a bit while I try to redo it with the mainline GitHub version of NetCDF.

[2022-10-21 03:55] ibaned opened #534 "Using a custom MPI library"
I've found a solution for this issue that I will outline below, but I thought it was appropriate to describe here as its own GitHub issue. I use my own implementation of MPI for one rank with TriBITS-based projects: https://github.com/sandialabs/fbmpi.

When using TriBITS' MPI TPL, I couldn't specify my own `TPL_MPI_INCLUDE_DIRS` unless the call to `tribits_tpl_find_include_dirs_and_libraries` had

[2022-10-21 04:20] ibaned commented on #533
Okay, after a bit more work I did confirm that this works with the mainline NetCDF and fixed another issue that is unique to my application (#534) .

I've created the Trilinos branch `tribits-netcdf-mpi` that can be viewed via this draft PR: https://github.com/trilinos/Trilinos/pull/11175

[2022-10-21 17:12] ibaned commented on #534
@bartlettroscoe I might need your help with this too... as you point out it breaks normal Trilinos builds:

https://github.com/trilinos/Trilinos/pull/11175#discussion_r1001979683

Is there a way that the TriBITS MPI TPL can be set up to work both with the usual MPI compiler wrappers and with a specified include dir and library? Right now I'm running into this line which erases my `TPL_MPI_INCLUDE_

[2022-10-21 17:43] ibaned commented on #534
actually... maybe that file is different in my copy of SEACAS and latest TriBITS...

[2022-10-21 18:00] ibaned commented on #534
Nope, even with the latest snapshot of TriBITS this doesn't work

[2022-10-21 19:50] bartlettroscoe commented on #534
The simple fix would be to change that line to:

[code]

Can you try that and see if it fixes your use case?

It should be the case that if `TPL_${TPL_NAME}_INCLUDE_DIRS` is set by the user, then it should be used no questions asked.

[2022-10-24 16:55] ibaned commented on #534
Thanks @bartlettroscoe ! I'm trying this now

[2022-10-24 17:08] ibaned commented on #534
Yes! This is working for my use case! Thank you!

[2022-10-28 16:23] #534 closed

[2022-10-28 16:23] #533 closed

[2022-10-28 16:36] bartlettroscoe opened #536 "Use an linter for CMake code in TriBITS?"
CC: @KyleFromKitware

### Description

A good fraction of the comments in recent TriBITS PRs relate to basic CMake language issues.  These types of issues can be detected using a static analysis tool (aka, a linter).  It is generally agreed that it is better to catch these types of issues using an automated tool an focus human effort of a review on issues automated tools can't easily catch (see [5

[2022-10-28 16:37] bartlettroscoe commented on #536
Hello @KyleFromKitware, would you consider evaluating the tool:

* https://github.com/cmake-lint/cmake-lint

and try running it one some CMake projects, including TriBITS and see how it works?

Or, is there some other CMake linter you know about that we could try?

[2022-10-28 16:39] bartlettroscoe commented on #429
@KyleFromKitware, would you be willing to look into implementing this for TriBITS?  I know we are very underspent on the contract for help with TriBITS and I could use help with stuff like this (beyond just reviews).

[2022-10-28 17:09] KyleFromKitware commented on #429
Perhaps it would be best to have a single variable called `TRIBITS_HANDLE_TRIBITS_DEPRECATED_CODE=<IGNORE|WARN|ERROR>`. If it's `IGNORE` then all deprecated code works without warning. If it's `WARN` (default) then all deprecated code works with an error. If it's `ERROR` then all deprecated code exits with `FATAL_ERROR` as soon as it's called. For example:

[code]

[2022-10-28 17:15] KyleFromKitware commented on #536
https://github.com/cmake-lint/cmake-lint looks like it only catches the most basic of issues (extra spaces, etc.) It doesn't look like it checks quoting and such.

You're not the first customer to express interest in a linter. Perhaps we could either expand cmake-lint or write our own?

[2022-10-29 13:08] bartlettroscoe commented on #536
@KyleFromKitware, it seems like the CMake user community should fund an effort to use the CMake parser code that is already in CMake to create a linter.  Could we extend cmake-lint to add these checks?  That might be easier than starting from scratch.

But the current CMake language has such serious fundamental problems and there is a glaring need for a new CMake language (see [here](https://zenod

[2022-10-29 13:11] bartlettroscoe commented on #429
@KyleFromKitware, I have found that it is really useful to support both 	`SEND_ERROR` and `FATAL_ERROR`.  When developing on a CMake project where everything is clear, it is good to set checking to `FATAL_ERROR` so that new errors are easier to see.  But when you first turn checks on for an existing CMake project with lots of potential violations, you would typically like to use `SEND_ERROR` so th

[2022-10-29 13:13] bartlettroscoe commented on #429
@KyleFromKitware, also, when deprecating code, it is often useful to provide an informative error message that tells the developer/user how to fix their code or at least where to look for that documentation (e.g. in the CHANGELOG.md file).

[2022-11-02 21:26] bartlettroscoe commented on #429
@KyleFromKitware, with the basic support for the new `tribits_deprecated[_command]()` functions implemented in PR #538, would you be willing to apply this some of the existing TriBITS code that is deprecated?  Here are some places where I think these new functions could be used:

[code]

[2022-11-03 17:29] bartlettroscoe commented on #429
With the merge of #538 and #539, I think this is mostly complete.  I will move this into review and will wait to close this until after I have been able to update the TriBITS version in Trilinos and see what happens.