[2014-09-05 20:20] nschloe opened #1 "make package export files more modular"
Right now, linking information is stored in the project target file, e.g., `TrilinosTargets.cmake` where all packages of the project is gathered. This target file is then sourced from all package export config files as

[code]

(with the example being Trilinos here). This layout tightly ties together all export files of the project and makes it hard to use the export file of a (sub)package individ

[2014-09-08 15:03] bartlettroscoe opened #4 "Return added target/test names from TRIBITS_ADD_XXX() wrapper functions"
One issue that constantly comes up that when calling one of the TriBITS wrapper functions like `TRIBIS_ADD_LIBRARY()`, `TRIBITS_ADD_EXECUTABLE()`, `TRIBITS_ADD_TEST()`, and `TRIBITS_ADD_ADVANCED_TEST()` is that it is hard to tell exactly what targets and what tests are actually added or not and what the names of those targets or tests are.  This is an issue because people want/need to be able to s

[2014-09-09 11:44] bartlettroscoe opened #5 "(Defect) checkin-test.py scrpt is always just enabling TriBITS package no matter what has changed!"
It looks like I might have broken the checkin-test.py script's ability to detect changes in packages and enable them automatically.  For example, this commit by Chris Siefer is troubling:

[code]

Why was `Enabled Packages: TriBITS` and not the other packages?  Chris did not even change TriBITS or any file that should trigger the enable of TriBITS.

Holly crap, when I run the checkin-test-fissile4

[2014-09-09 11:52] nschloe opened #6 "add travis-ci support for intercepting the most basic failure in branches/pull requests"
Now that TriBITS is on GitHub, one could make use of the numerous webhooks available. Given the substantial amounts of tests available for TriBITS, a webhook that might turn out to be really useful is the one to travis-ci. It basically runs the test suite on all commit of all branches and pull requests, and reports the outcome of the test immediately on GitHub. This way, it makes clear to the main

[2014-09-09 16:02] #5 closed, assigned to nobody

[2014-09-09 17:16] #6 closed, assigned to nobody

[2014-09-10 21:13] bartlettroscoe opened #9 "Better identify and hanlde the TriBITS primary meta-project packges"
Currently, the way that I tried to allow a TrBITS meta-project to differentiate its primary meta-project packages from other upstream packages (just there to satisfy dependencies) was to it define the CMake variable `${REPOSITORY_NAME}_NO_IMPLICIT_PACKAGE_ENABLE` for each upstream repo to say that packages within the repo `${REPOSITORY_NAME}` should only be enabled if they are explicitly enabled.

[2014-09-11 19:25] nschloe opened #10 "access to PRIVATE, PUBLIC keywords on TARGET_LINK_LIBRARIES"
After the CMake requirement will have been increased to 2.8.11, I would like to have access to the `LINK_PRIVATE`/`LINK_PUBLIC` arguments of [target_link_libraries()](http://www.cmake.org/cmake/help/v2.8.11/cmake.html#command:target_link_libraries) (or just `PRIVATE`/`PUBLIC`, as there where renamed in [2.8.12](http://www.cmake.org/cmake/help/v2.8.12/cmake.html#command:target_link_libraries)). Thi

[2014-09-12 13:52] nschloe opened #13 "version checking for TPLs"
Most packages not only depend on a TPL, but a certain version or version range thereof.
TriBITS needs to support version checking and specification for TPLs.

[2014-09-14 12:55] bartlettroscoe opened #15 "Remove usage of eg from checkin-test.py and get working with all recent git versions"
When the `checkin-test.py` script was first changed to use git from CVS back in 2009, `git` was not very user friendly and we were using a tool called `eg` to make it a little easier to use.  The `checkin-test.py` script was made to use `eg` so it could model correct `eg` usage.  Since that time, `git` has become easier to use and now with git 2.0, it has changed some of the bad default behaviors

[2014-09-16 09:19] nschloe opened #16 "escape CMake control characters in strings"
Certain strings are copied literally from the input configuration to the export files. This has brought problems before where the `CXX_FLAGS` variable contained `"`, see [Trilinos bug #6074](https://software.sandia.gov/bugzilla/show_bug.cgi?id=6074) and the [corresponding fix](https://github.com/TriBITSPub/TriBITS/blob/master/package_arch/TribitsWriteClientExportFiles.cmake#L427). This problem mig

[2014-09-17 18:40] #9 closed, assigned to bartlettroscoe

[2014-09-18 13:12] lefebvre opened #17 "Add Mercurial support to TribitsCTestDriveCore.cmake"
This issue is for adding mercurial support into native TriBITS cmake.
Initial scope is the ctest/TribitsCTestDriverCore.cmake, which supports git and svn.
Ross can elaborate on further version control usage which will also be addressed by this issue.

[2014-09-18 13:18] lefebvre opened #18 "Implement CMake performance tips to reduce configure times"
This issue will address implementation of core cmake performance tips referenced at: http://www.cmake.org/Wiki/CMake_Performance_Tips
I have already implemented the include guards in lefebvre/TriBITS fork and seen a 10 second reduction in a 5 minute configuration of SCALE/Exnihilo/Trilinos(243 SE packages).

[2014-09-18 13:23] lefebvre opened #19 "Implement Mercurial support in Python layer"
This issue will address all implementation of Mercurial in the Python layer.
Initial target is the checkin-test.py script. Ross can elaborate on any further python files which deal with version control.

[2014-09-21 10:31] nschloe opened #20 "put the TriBITS repository on a diet"
Not only when you're with a slow uplink (like I right now), you really begin to appreciate the benefits of keeping a slim Git repository. There are a couple of places where TriBITS has put on too much data over the winter:
- `WordMarkLeaf.eps`, `WordMarkLeaf.pdf`, and `WordMarkLeaf.jpg` all contain the exact same data. They are absurdly large and don't even contain vectorized graphics. We probably

[2014-09-24 09:19] nschloe opened #21 "`INCLUDE()`s without proper path specification"
TriBITS contains heaps of `INCLUDE()` statements

[code]

referencing its own files à la

[code]

The directories in which CMake searches for include files does by default not include the current directory, however. Even if this should work, this naive include path can be overridden by setting `CMAKE_MODULE_PATH`.

A more robust solution would be to includes files like

[code]

[2014-09-25 13:23] lefebvre opened #22 "NOEXESUFFIX creating executable causes executable not found"
Using Intel15/Visual Studio 2013 on Windows 7, TRIBITS_ADD_EXECUTABLE_AND_TEST with NOEXESUFFIX causes CMake to look for executable with no suffix, but the executable is still compiled with the 'exe' suffix.

This wasn't an issue with Intel13/Visual Studio 2008 on Windows.

[2014-09-25 14:33] lefebvre opened #23 "Fortan Mangling error on Windows when compiler flags are set"
There is an issue with the config_tests/FortranMangling.cmake.
The issues stems from Windows variety of system libraries.
One can use /MD[d] /MT[d] /LD[d]  for linking their different libraries MSVCRT.lib, MSVCRTD.lib, LIBCMT.lib, LIBCMTD.lib.
CMake typically defaults to /MD for release and /MDd for debug.
If one needs a static build overriding all compiler flags with /MT[d] is necessary.
The Fort

[2014-09-25 16:46] #1 closed, assigned to nobody

[2014-09-27 16:11] nschloe opened #24 "TRIBITS_ADD_EXECUTABLE(): Deprecate DEPLIBS and replace with IMPORTEDLIBS and TESTONLYLIBS"
Just like `TRIBITS_ADD_LIBRARY()`, `TRIBITS_ADD_EXECUTABLE()` needs an `IMPORTEDLIBS` argument. This is needed for Trilinos's SEACAS, for example; see https://github.com/trilinos/trilinos/blob/master/packages/seacas/applications/aprepro/CMakeLists.txt#L17.

[2014-10-03 13:58] nschloe opened #25 "[snapshot-dir.py] Check if dest-dir is indeed a TriBITS installation"
We can probably improve the snapshotter a little bit. One of the things missing is a check if dest-dir is indeed a TriBITS installation, which makes it harder to shoot oneself in the foot.

I think I'll code around a little and file a pull request later.

[2014-10-03 14:51] bartlettroscoe opened #26 "Reorganize TriBITS repo directory structure and better define parts of TriBITS for reuse"
This story is to define a new organization for the TriBITS repo.  The goals are:
1. Better define the different parts of tribits and their dependencies: "Core", "CI Support", "CTest Driver", etc.
2. Allow for snapshotting and installs of only the desired parts of TriBITS.
3. Trim down the size of the TriBITS git repo.

[code]

This needs to be fleshed out more but the major directories would be:

[2014-10-03 20:17] nschloe opened #27 "TRIBITS_ADD_EXECUTABLE_AND_TEST needs IMPORTEDLIBS/TESTONLYLIBS"
Same as `TRIBITS_ADD_EXECUTABLE()`.

[2014-10-03 20:48] #27 closed, assigned to nobody

[2014-10-04 11:07] bartlettroscoe opened #28 "Add strong checking for usage of libs with TRIBITS_ADD_LIBRARY() and TRIBITS_ADD_EXECUTABLE()"
People are using the DEPLIBS and IMPORTEDLIBS arguments incorrectly in the TRIBITS_ADD_LIBRARY() and TRIBITS_ADD_EXECUTABLE() functions.  This is leading to a lot of problems as TriBITS is refactored and extended.

This story is to add strong checking of the usage of the DEPLIBS argument with TRIBITS_ADD_LIBRARY() and the TESTONLYLIBS and IMPORTEDLIBS arguments with TRIBITS_ADD_EXECUTABLE() (see #

[2014-10-06 14:48] lefebvre opened #30 "list sub-command REMOVE_DUPLICATES requires list to be present"
Ross,
I'm getting a configuration error processing some of our packages out of TribitsPackageMacros.cmake

515     LIST(REMOVE_DUPLICATES PARENT_PACKAGE_INCLUDE_DIRS)
516     LIST(REMOVE_DUPLICATES PARENT_PACKAGE_LIBRARY_DIRS)

Processing enabled package: ScaleSys (Shell, Examples)
CMake Error at TriBITS/package_arch/TribitsPackageMacros.cmake:515 (LIST):
  list sub-command REMOVE_DUPLICATES requi

[2014-10-06 15:11] #30 closed, assigned to nobody

[2014-10-06 15:19] nschloe opened #31 "update copyright year"
I see "2013" throughout TriBITS.

[2014-10-06 22:26] nschloe opened #32 "[export files] *_PACKAGE_LIST, *_LIBRARIES too long"
The export files are way to verbose on the `*_LIBRARIES` and `*_PACKAGE_LIST`. In Trilinos's NOX, for example we find

[code]

and

[code]

These are literally all dependent libraries and packages, respectively.

The linking information, however, is handled much more elegantly by CMake itself, through the target export files.

We need to prune the exported libraries and packages list.

[2014-10-07 12:04] nschloe opened #35 "Don't call `export_library_dependencies()`"
In `package_arch/TribitsGlobalMacros.cmake`, we find a call of `export_library_dependencies()`. This command, however, is [deprecated](http://www.cmake.org/cmake/help/v3.0/command/export_library_dependencies.html). Remove.

[2014-10-07 21:33] #35 closed, assigned to nobody

[2014-10-07 22:27] #31 closed, assigned to nobody

[2014-10-08 14:51] nschloe opened #36 "type "MAKLE*""
[code]

[2014-10-08 15:23] #36 closed, assigned to nobody

[2014-10-09 00:08] #4 closed, assigned to bartlettroscoe

[2014-10-09 17:44] bartlettroscoe opened #37 "TRIBITS_ADD_ADVANCED_TEST(): Add postfix _MPI_<num_procs> to test names"
The current implementation of `TRIBITS_ADD_ADVANCED_TEST()` never adds the postfix `_MPI_<num_procs>` to test name in an MPI build.  This is not consistent with `TRIBITS_ADD_TEST()` which does add this postfix.  It turns out that seeing the number of MPI processes right in the test name is a **very** useful bit of info when trying to assess a test suite.  For example, if a test is using a lot of p

[2014-10-13 15:32] bartlettroscoe opened #38 "Address users setting `XXX_ENABLE_YYY` to something other than `"ON"`, `"OFF"`, and empty `""`"
A recent refactoring of TriBITS now requires that all of the XXX_ENABLE_YYY variables that use the [CACHE STRINGS variable property](http://www.cmake.org/cmake/help/v2.8.11/cmake.html#command:set_property):

[code]

which is called in the TriBITS utility function `SET_CACHE_ON_OFF_EMPTY()`.  This function gets used in the following places in TriBITS:

[code]

When using the CMake GUI or ccmake, th

[2014-10-13 22:44] #38 closed, assigned to bartlettroscoe

[2014-10-16 10:19] bartlettroscoe opened #39 "Disable DEPLIBS, TESTONLYLIBS and IMPORTEDLIBS checks in release mode automatically"
I recently added strong checking for the correct usage of `DEPLIBS` in the `TRIBITS_ADD_LIBRARY()` function and I deprecated the usage of `DEPLIBS  in`TRIBITS_ADD_EXECUTABLE()`.   This produced a lot of warnings in several Trilinos packages.  The hope was that the developers of those packages would see the warnings and would read the detailed warning messages and fix the dependency issues in their

[2014-10-17 21:31] bartlettroscoe opened #40 "TRIBITS_ADD_EXECUTABLE(): Allow for manual lib link specification for libs inside of SE package"
This story is to upgrade the TriBITS handling of library and include directories **inside of an SE package** to allow manual linking of libraries and include directories for libraries and executables (not between SE packages).  The current system has different behavior for linking in libraries in `TRIBITS_ADD_LIBRARY()` and `TRIBITS_ADD_EXECUTABLE()` which confuses many people.  The current system

[2014-10-18 20:57] #39 closed, assigned to nobody

[2014-10-18 21:04] #28 closed, assigned to bartlettroscoe

[2014-10-18 21:11] #24 closed, assigned to bartlettroscoe

[2014-10-18 21:15] bartlettroscoe opened #41 "Improve error message when a TPL fails to configure"
Currently, when a TriBITS TPL fails to configure (i.e. can't find its libraries or header files), then it does a soft fail and prints a warning like:

[code]

It does not mention that the user could just disable the TPL and disable some packages to go along with it.

This story is to change the TPL error handing so that when a TPL like 'Netcdf' is enabled due to an enabled package in 'SEACAS', for

[2014-10-20 17:09] nschloe opened #42 "Turn on -Wl,--no-undefined by default in development mode"
The checkin-test script by default currently runs one `MPI_DEBUG` and one `SERIAL_RELEASE` build. I suppose the MPI/SERIAL DEBUG/RELEASE crossover this to cover as much of the code as possible.

One more way to extend bug checking here would be to build _shared_ libraries one of the two builds, and use `-Wl,--no-undefined` to catch undefined symbols. This way, we would avoid the weekly load of und

[2014-10-25 09:53] #41 closed, assigned to bartlettroscoe

[2014-11-03 23:35] bartlettroscoe opened #43 "Allow a TriBITS Project, Repository, or Package to have the same name and the same or different source directories and fix other related defects with extra repo handling"
The current implementation of TriBITS has some limitations on what Projects, Repositories and Packages can be called and what directories they exist in.  What is currently allowed is described in the developers guide section [Coexisting Projects, Repositories, and Packages](https://tribits.org/doc/TribitsDevelopersGuide.html#coexisting-projects-repositories-and-packages).  When these rules are bro

[2014-11-07 13:46] bartlettroscoe opened #44 "Add -std=c99 to TriBITS standard C strong warning flags"
Now that Trilinos has moved to require C99 support and sets `-std=c99`, other projects that use Trilinos and use TriBITS are having to adjust their compiler flags to compensate.  Given that Trilinos developers are likely to start using C99 features like C++-style comments '//' in C header files, this effectively means that all clients of Trilinos need to allow C99 too.

Therefore, it has been sugg

[2014-11-07 15:31] #44 closed, assigned to bartlettroscoe

[2014-11-08 17:52] bartlettroscoe opened #45 "Add features to gitdist to make easier to manage many repos"
The current gitdist script is very simple.  I just distributes a git command across a set of git repos.  While this is very useful, it is hard to get a sense of the state of all the git repos when you have more than a small number of repos.

This story is to add some features to gitdist that will make it easier to manage a larger number of git repos by focusing you attention on just what you need

[2014-11-10 18:00] #45 closed, assigned to bartlettroscoe

[2014-11-14 21:46] bartlettroscoe opened #46 "${PACKAGE_NAME}Config.cmake files generated in the build tree are broken"
The files `${PACKAGE_NAME}Config.cmake` generated in the build tree:

[code]

are broken.  That is, if a client CMake project tries to include these files, they are broken.

I will put in an automated test into TriBITS to demonstrate the problem.

[2014-11-19 14:30] bartlettroscoe opened #47 "TRIBITS_ADD[_ADVANCED]_TEST(): Add NUM_TOTAL_CORES_USED"
There are some tests that use mutiple cores but but are not directly run using MPI.  As a result, you can't use `NUM_MPI_PROCS` with `TRIBITS_ADD[_ADVANCED]_TEST()` to tell TriBITS/CTest how many cores will be used by the test (which is needed for effective test scheduling and to avoid overloading the test machine).  For example, Dakota uses job lanching to run multiple processes under a non-MPI e

[2014-11-23 03:27] #47 closed, assigned to bartlettroscoe

[2014-11-23 19:34] bartlettroscoe opened #48 "Change snapshot-dir.py to snapshot_dir.py and extend"
This story is to address several issues with `snapshot-dir.py`:
- _Change name from `snapshot-dir.py` to `snapshot_dir.py` and make a stand-alone script_: By only using underscores `_` and not dashes `-` in the name, this will allow `snapshot_dir.py` to be a python module (so we can do away with `SnapshotDir.py`) and then have just have the unit test module `snaphshot_dir_UnitTests.py`.  This will

[2014-11-26 18:32] bartlettroscoe opened #49 "Add -fstack-protector-all to default GCC development-mode, debug-mode flags"
So it seems that with `-fstack-protector-all` passed into GCC that it can detect invalid writing to stack-based data that valgrind can't detect.  I created a test program that demonstrated the errors that `-fstack-protector-all` can catch to demonstrate its usefulness (see later comment).

I tested the PT Trilinos packages with the `MPI_DEBUG` build with `-fstack-protector-all` and they all passed

[2014-11-26 19:11] #49 closed, assigned to bartlettroscoe

[2014-12-04 16:28] hcedwar opened #50 "C++11 flags error"
When C++11 is enabled both -std=c++11 and -std=c++98 are placed on the compile line

[2014-12-04 16:29] hcedwar opened #51 "Header only subpackage error"
Header only subpackages should be supported.

[2014-12-05 13:11] #20 closed, assigned to bartlettroscoe

[2014-12-06 00:04] bartlettroscoe opened #52 "Implement snapshot_tribits.py to support partial updates and installs"
In #26, I created a place-holder for the `snapshot_tribits.py` script under:

[code]

Right now it is just a soft link to `snapshot-dir.py` now in `TriBITS/tribits/python_utils/`.  After I complete the update to `snapshot_dir_to_git.py` (see #48), then it should be pretty easy to implement this script.

[2014-12-06 13:27] #50 closed, assigned to bartlettroscoe

[2014-12-07 17:45] #26 closed, assigned to bartlettroscoe

[2015-02-03 20:51] bartlettroscoe commented on #46
This has been addressed by Brian's changes that were merged in pull request #54.

I am going to close this issue as fixed.

[2015-02-03 20:51] #46 closed

[2015-02-14 14:48] sethrj opened #55 "Request: more fine-grained installation options"
This is more of "wish list" than an issue, but it would be nice to have a configure-time option to globally disable the installation of header files. Copying thousands of header files on slow file systems such as Lustre® is annoying and typically unnecessary.

This would probably mean writing another TRIBITS wrapper for `INSTALL(FILES ... )`, but being able to differentiate between installing head

[2015-02-14 17:07] bartlettroscoe commented on #55
This is something that we need for packages that don't install headers into the flat directory tree.

Noe that headers that are installed into the flat directory `${${PROJECT_NAME}_INSTALL_INCLUDE_DIR}/` that are passed into `TRIBITS_ADD_LIBRARY()` can already by excluded as described [here](https://tribits.org/doc/TribitsDevelopersGuide.html#install-targets-tribits-add-library) when `{PROJECT_NAM

[2015-03-03 18:33] bartlettroscoe commented on #43
This story has been sitting for a long time.  I finished the work to allow a package and a project share the same directory in a clean way a long time ago.  I updated the documentation on this [here](https://tribits.org/doc/TribitsDevelopersGuide.html#coexisting-projects-repositories-and-packages).

I should just bit the bullet on this and git it done.

[2015-03-04 21:30] kddevin opened #56 "Packages required only for tests are built even when tests are disabled"
Ross and I have discussed this issue already, but I wanted to record it so that I don't forget about it.

Packages that are required only for tests (via TEST_REQUIRED_DEP_PACKAGES) are built even when all tests are disabled.  These required dependencies should be built only if tests are enabled.

The following Trilinos configuration demonstrates this problem:
cmake \
-D CMAKE_BUILD_TYPE:STRING="DE

[2015-03-04 21:35] bartlettroscoe commented on #56
I think I know what happened to cause this.  I will take a look at this when I get around to refactoring the dependency management system (hopefully in the next few months).

[2015-03-04 22:26] bartlettroscoe opened #57 "TriBITS: Add REQUIRE_ZERO_RETURN_CODE option to TRIBITS_ADD_ADVANCED_TEST()"
When you tell TRIBITS_ADD_ADVANCED_TEST() to search for a regex using PASS_REGULAR_EXPRESSION or PASS_REGULAR_EXPRESSION_ALL in the output in order to pass a test, it will base the pass/fail on just the regex.  That is, as long as regex (or regexes) all match, then the test will pass reguardless of the return code.

This recently bit CASL VERA as a test printed "Test Passed" but gave a non-zero re

[2015-03-11 14:04] bartlettroscoe commented on #21
I just got hit by some defect with CMAKE_CURRENT_LIST_DIR with CMake 2.8.11 while working on VERA.  For some reason it was reporting CMAKE_CURRENT_LIST_DIR being one directory below where it should be.  I could not explain it.  And that was with CMake, not CTest!

[2015-03-19 16:25] bartlettroscoe opened #58 "More flexibility and handling of Python with TriBITS"
This story is to immprove the handling and flexibility of basic Python support by TriBITS.  Currently when configuring a TriBITS proejct there is a search for Python of version 2.4 or above.  There are a few problems with this.  First, if the given TriBITS project does not ever need Python, there is no need to look for Python.  Second, some projects need a version of Python more recent than 2.4.

[2015-03-19 16:26] bartlettroscoe commented on #58
I am working on this right now.  I will add automated tests to protect this.

[2015-03-22 19:23] bartlettroscoe commented on #58
This was resolved in commit 4d466f9.

[2015-03-22 19:23] #58 closed

[2015-04-10 19:24] bartlettroscoe opened #62 "Implement TRIBITS_INSTALL_HEADERS()"
We need a function TRIBITS_INSTALL_HEADERS() that abstracts the installation of header files into the install tree.   This is needed for a few different use cases:

1. Allow the installation of headers into subdirs under `${${PROJECT_NAME}_INSTALL_INCLUDE_DIR}/`.  This is needed for many SCALE pakages, STK, and other packages.  See #55.

2. Install headers not associated with a particular package.

[2015-04-10 19:25] bartlettroscoe commented on #62
I am going to work on this right now and sync this to Trilinos.

The hard part will be putting in automated testing to know this work.  I think I have an idea how to do that.

[2015-04-11 12:05] bartlettroscoe commented on #62
I have implemented `Implement TRIBITS_INSTALL_HEADERS()` and updated TriBITS.  I tested that Trilinos_version.h gets installed and it does before and after my commit.

I have already pushed this change to the TriBITS repo.

----

**Detailed Notes:**

1) Find the test that should install TriBITSExProj_version.h (but does not):

The test is called TribitsExampleProject_ALL_ST_NoFortran.  It already

[2015-04-11 12:06] bartlettroscoe commented on #62
I pushed the snapshot to Trilinos in the commit:

[code]

[2015-04-11 13:44] bartlettroscoe commented on #55
Seth, I just pushed commits to the TriBITS 'master' branches on the github and casl-dev repos adding a new function [TRIBITS_INSTALL_HEADERS())(https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-install-headers) and I added the argument `HEADERS_INSTALL_SUBDIR` to [TRIBITS_ADD_LIBRARY()](https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-add-library).  You can use these to remove

[2015-04-11 14:56] bartlettroscoe commented on #62
This has been pushed to Trilinos as a shapshot and the the casl-dev TriBITS repo.  I am closing.

[2015-04-11 14:56] #62 closed

[2015-04-14 11:36] bartlettroscoe opened #63 "Merge TriBITS concepts and implementation of Packages and TPLs"
The current design of TriBITS has TriBITS Packages and TriBITS TPLs and distinct separate entities.  TriBITS Packages are always built from source in the current TriBITS design while TriBITS TPLs are always pre-built and just pointed to at configure time.  This has been a successful model for Trilinos, CASL VERA, and other related projects for several years.  However, this model does not scale wel

[2015-04-14 19:38] bartlettroscoe opened #64 "Fail hard when C++11 is enabled but support can't be verified"
The current behavior of TriBITS (which was established may years ago by Chris Baker in this Tpetra work) is to turn off C++11 support if the configure-time tests for C++11 features fail.  However, now that Trilinos and other TriBITS projects are requiring C++11, this is no a desirable feature.   If `${PROJECT_NAME}_ENABLE_CXX11` is enabled on input then TriBITS should call `MESSAGE(FATAL_ERROR ...

[2015-04-14 19:47] bartlettroscoe commented on #64
I am working on this now.  Below shows an email thread leading to this story ticket.

-----

[2015-04-16 16:02] lefebvre opened #65 "TRIBITS_ADD_EXECUTABLE_AND_TEST Option TIMEOUT"
The TIMEOUT option for function TRIBITS_ADD_EXECUTABLE_AND_TEST does not work.
It works for TRIBITS_ADD_TEST, but appears to be ignored with the compound function.

[2015-04-16 16:04] bartlettroscoe commented on #65
There should be excellent unit tests that prove that it does and we rely on this in CASL VERA and we observe that it does work.   How can I reproduce the behavior you are seeing?

[2015-04-17 14:42] lefebvre commented on #65
Ross,

This example works where ${FTESTS} is a list of fortran unit tests:
--------------------------------------------------------------------------------------------
FOREACH(test ${FTESTS})

  GET_FILENAME_COMPONENT(name ${test} NAME_WE)
  TRIBITS_ADD_EXECUTABLE(${name}
    SOURCES ${test}
    COMM serial
    LINKER_LANGUAGE Fortran
    TESTONLYLIBS ${PACKAGE_NAME}_test_fortran_lib
  )
  TRIBITS

[2015-04-17 15:46] bartlettroscoe commented on #65
Jordan, as we discovered in your office, this is indeed a defect in the handling of the args in TRIBITS_ADD_EXECUTABLE_AND_TEST().  The issue is that the parsing code was handling TIMEOUT as a option (with no arguments) instead of as an argument.  My unit test played along and tested:

[code]
When I changed the unit test to:

[code]
It ended up passing the arguments to TRIBITS_ADD_TEST() in the or

[2015-04-17 15:46] #65 closed

[2015-04-17 17:39] bartlettroscoe commented on #65
Jordan,

I just pushed the following commit to the TriBITS casl-dev repo 'master' branch.  You can go ahead and pull that version.  I am in the process of pushing the change to the github repo (but I also have to push to Trilinos because Trilinos is testing TriBITS right now).  I will put this issue ticket in review after that is complete.

[code]

[2015-04-17 19:18] bartlettroscoe commented on #65
I pushed this commit also to the github repo.  I am putting this issue into review.

Jordan,

Please comment in this ticket once you have verified that the issue is resolved.

Thanks,

-Ross

[2015-04-28 20:03] csiefer2 opened #66 "TriBITS C++11 Detection Does Not Work with Visual Studio"
Modern version of Visual Studio evidently don't use flags any more to enable C++11 support, thus the flag detection in TribitsCXX11Support.cmake will always fail.

Can we fix this?

[2015-04-28 20:19] lefebvre commented on #66
Chris,
What version of visual studios?
I'm using 2013 with cl18 and I don't experience any issues.
Thanks,
Jordan
On Apr 28, 2015 4:03 PM, "Chris Siefert" <notifications@github.com> wrote:

[2015-04-28 20:20] csiefer2 commented on #66
2010

On 04/28/2015 02:19 PM, Jordan P. Lefebvre wrote:

[2015-04-28 20:43] bartlettroscoe commented on #66
As a workaround for this, you could simply just set:

    `-D<Project>_CXX11_FLAGS=" "`

(see [here](https://tribits.org/doc/TribitsBuildQuickRef.html#enabling-support-for-c-11)) and that should avoid the check for the what flags with with C++11.

Actually, it just occurred to me that we could expand the set of flags to check to include the empty string " ".   If the trial C++ program builds with

[2015-04-28 20:47] csiefer2 commented on #66
Works like a champ (at least as far as TriBITS goes), thanks.

On 04/28/2015 02:43 PM, Roscoe A. Bartlett wrote:

[2015-04-28 21:22] bartlettroscoe commented on #66
Given that there is a workaround, I will put this in the backlog.  If this becomes an issue for automated testing on Windows (or some other system), we will add the option " " as one of the compiler flags to try to test for C++11 support.

[2015-04-28 21:28] bartlettroscoe commented on #64
I finished this 2 weeks ago and pushed to the github TriBITS repo 'master' branch and snapshotted to the Trilinos repo (before the 12.0 branch).

[2015-04-28 21:28] #64 closed

[2015-05-05 23:05] bartlettroscoe opened #67 "Extend TriBITS TPL system to better accommodate Find<TPLNAME>.cmake modules"
The current approach for utilizing Find<TPLNAME>.cmake modules (such as are shipped with CMake) is to call `FIND_PACKAGE(<TPLNAME>)`, then set the variables `TPL_<TPLNAME>_INCLUDE_DIRS` and `TPL_<TPLNAME>_LIBRARIES`, then call `TRIBITS_TPL_FIND_INCLUDE_DIRS_AND_LIBRARIES()`.  The problem with this approach is that it bypasses the variables `<TPLNAME>_INCLUDE_DIRS` and `<TPL>_LIBRARY_NAMES`.

To de

[2015-05-07 15:18] bartlettroscoe commented on #67
This as now been pushed to the master branch for the TriBITS repos on github and casl-dev and I snapshotted this to Trilinos in the commit:

[code]

Documentation on how to use FIND_PACKAGE() in a TriBITS TPL is shown online [here](https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-use-find-package-for-a-tribits-tpl).  I am not super happy with that documentation but at least it is a start

[2015-05-07 15:18] bartlettroscoe commented on #67
I am closing this story.  Further improvements will be done offline.

[2015-05-07 15:18] #67 closed

[2015-05-08 14:51] bartlettroscoe opened #68 "Change name from <Project>BuildQuickRef.* to <Project>BuildReference.*"
There is nothing "quick" about the current `<Project>BuildQuickRef.*` document.  It is a full reference guild for configuring, building, and testing a TriBITS project.  This document could contain a project-specific quick reference but the entire document is too big for that.

Therefore, we will change the name from `<Project>BuildQuickRef.*` to `<Project>BuildReference.*`.

This will involve a lo

[2015-05-09 10:43] nschloe commented on #67
I tested this and it works, but I have to say that I dislike the magic that is behind
https://github.com/TriBITSPub/TriBITS/blob/master/tribits/common_tpls/FindTPLHDF5.cmake#L104. `FindTPLHDF5.cmake` would be much clearer if there was an `ELSE()` clause around everything that's not `IF (HDF5_ALLOW_PREFIND)`, but I'm sure that there's is some reason for not doing this, cf. "[...] and set some other

[2015-05-11 15:56] bartlettroscoe commented on #67
Nico,

It is important to always call `TRIBITS_TPL_FIND_INCLUDE_DIRS_AND_LIBRARIES()` at the end.  This is an important hook to make sure things are being done correctly.  For example, this is where we will put an assert that these libraries and include dirs actually exit (see [this todo](https://docs.google.com/document/d/1WKs8rJhI3037yKGnEVMhIx9dPN7a7uFRM5isdNAhAXI/edit#bookmark=id.ms4tb2w99u5q)

[2015-05-11 19:18] bartlettroscoe commented on #66
This problem was also run into by a Trilinos user (see below email).  Therefore, I will go ahead and fix this right away in the current version of TriBITS and snapshot into Trilinos.

-----

From: JR Cary [mailto:cary@colorado.edu]
Sent: Sunday, May 10, 2015 10:51 AM
To: trilinos-users@trilinos.org
Cc: Bartlett, Roscoe A.
Subject: Problem configuring C++ 11 on Visual Studio 12 (2013) and some ming

[2015-05-11 20:44] bartlettroscoe commented on #66
This has been pushed to the TriBITS github repo 'master' branch and I snapshotted it to the Trilinos repo as part of the snapshot commit:

[code]
I am closing this as complete.

[2015-05-11 20:44] #66 closed

[2015-05-18 19:43] bartlettroscoe commented on #68
This is complete as far as my work goes (See the list of things completed below).  However, Trilinos has not been updated to point to the right document (see below).

----

1) Change name of files and scripts in TriBITS/tribits/ [Done]

2) Test out publish of TriBITS/tribits/doc/ [Done]

3) Change name of files and scripts in VERA/ [Done]

4) Test out build and publish of VERA documents [Done]

5)

[2015-05-18 19:43] #68 closed

[2015-05-19 17:14] nschloe commented on #67
I don't really understand much of what comes after the `ENDIF()` in the HDF5 finding code. I would have expected a structure like
[code]
You say that that `TRIBITS_TPL_FIND_INCLUDE_DIRS_AND_LIBRARIES()` has to be called no matter what. Alright, so let's put that at the end. On top of that, though, a bunch of other things are happening, e.g.,
[code]
With a structure like
[code]
it looks like `# the

[2015-05-21 16:07] bartlettroscoe commented on #67
Yes, it is all based on variables and the behavior is unit tested to make sure it is correct.  We just need to document this process a little better but what is described now [here](https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-use-find-package-for-a-tribits-tpl) should be sufficient to help people use this.

I know this is not ideal but this setup is the best I could do given the con

[2015-05-21 16:10] nschloe commented on #67
Could everything from `ENDIF()` up to `TRIBITS_TPL_FIND_INCLUDE_DIRS_AND_LIBRARIES()` go into an `ELSE()`-clause? If yes, I'd vote for that.

[2015-05-21 17:39] bartlettroscoe commented on #67
It could be but it would make the code more complex IMHO, or at least more verbose and longer since you have to define the vars somehow if you call `TRIBITS_TPL_FIND_INCLUDE_DIRS_AND_LIBRARIES()` only once.

[2015-05-22 07:09] nschloe commented on #67
The reason why I'd prefer
[code]
over
[code]
is that, as a developer, the former gives you the guarantee that you don't need to fiddle with `# the TriBits way of finding` when dealing with `# the CMake way of finding`.

(Also, I think I didn't understand what you mean by

-- It's called once in any case, right?)

[2015-05-22 14:17] bartlettroscoe commented on #67
@nschloe, take a look at updated `FindTPLHDF5.cmake` file in #70 and see if that is more clear to you.   I have a todo to improve the documentation for uniform handing of TriBITS TPLs but there are some higher priority items to address, namely #63 (BTW, let me now if you have any comments on that.  I don't see any comments in the Google Doc yet.)

[2015-05-26 22:15] bmpersc opened #71 "Checkin test script fails when the ctest exe is anything other than ctest"
I received a bug report from a user that when they ran the checkin test script the testing step failed because it couldn't find ctest. They were confused by this because they had never had any issues testing manually running "make test" on the machine. It turns out that on his machine ctest is named ctest28. It appears that cmake knows this and generates makefiles that use the ctest28 name. I beli

[2015-05-26 22:53] bartlettroscoe commented on #71
Brent,

Does `make test` allow you to run multiple tests at the same time like with `ctest -j<N>`?  If not, there is no way we want to use `make test`.  Also, note that we are also going to need to support Ninja which will not be invoked with `make` so we can't assume `make test` anyway.  The checkin-test.py script will need to be updated to support ninja.  To support `ninja` and other generators

[2015-05-26 23:09] bartlettroscoe opened #72 "Add TriBITS testing for Ninja"
People are already using Ninja when building Trilinos.  Also, once Ninja supports Fortran, then almost every project I know about will be using Ninja.

I just built TribitsExampleProject (TribitsExProj) with Ninja and it worked right out of the box (no changes at all, just had to disable Fortran).

This story will be to add full support for Ninja and testing in all of the TriBITS tools.  This will

[2015-05-26 23:11] bartlettroscoe commented on #72
@bmpersc, note this new story ticket for adding Ninja support.  Because if this, we can't use `make test` as suggested in #71.

[2015-05-27 07:01] nschloe commented on #72
For reference, [here's the corresponding bug for CMake](https://public.kitware.com/Bug/view.php?id=14215).

[2015-05-27 15:34] bartlettroscoe commented on #72
Kitware has know about this for a long time (for the time they first put in the Ninja generator).  CASL has a contract with Kitware for them to add Fortran support to Ninja.  It turns out that this is more complicated that I imagined it would be because they have to support generating Fortran files with modules at build time.  What a mess.  I wish Fortran would just die (or Fortran developers woul

[2015-05-27 17:21] bartlettroscoe opened #73 "Implement support for pre-extra repositories"
The TriBITS projects SCALE/Exnihilo and MPACT need support for pre-extra repositories.  Currently, they are pulling in upstream Trilinos packages using the [NativeRepositoriesList.cmake](https://tribits.org/doc/TribitsDevelopersGuide.html#projectdir-cmake-nativerepositorieslist-cmake) file.  That file is a hack and needs to disappear.  Instead, projects should just use [ExtraRepositoriesList.cmake

[2015-05-27 23:01] bmpersc commented on #71
Ross,
  The make test target does, in fact, support multiple tests at the same time, but it is not obvious how to do it. It requires setting ARGS to the right value, eg. make test ARGS="-j 12".

I haven't used ninja so I do not know if cmake's ninja generator supports a test target like the make generator does. However, this point is well taken. I don't know if there are plans for allowing the che

[2015-05-27 23:08] bmpersc commented on #71
There appears to be a fairly simple way to discover what the name of ctest is by using an option to cmake. On linux and mac "cmake --system-information |grep CMAKE_CTEST_COMMAND" should report the full path to the ctest exe that it expects to use. I'm sure there is a much more portable way to do this just by scraping the output and using python's built in regex module. But that is the simple solut

[2015-05-27 23:27] bartlettroscoe commented on #71
Okay, I have the solution.  The solution is to grab the ctest command out of the `CMakeCache.txt` file.  It seems that CMake records its sister CTest executable path in the variable `CMAKE_CTEST_COMMAND`. For example, on my system this is:

[code]
I know that Kitware documentation says not to assume the structure of the `CMakeCache.txt` file but I have never seen it change.  It would be pretty eas

[2015-05-28 12:03] bartlettroscoe commented on #71
That is a better solution.  Since the CTest you use should always be matched to the CMake you use, we should not even bother with a `--with-ctest` argument.

The hardest part of making this change will be updating the automated tests.

[2015-06-05 17:42] bartlettroscoe commented on #73
Okay, I think I have about all of the features for PRE extra repos that we need to support the majority of functionality in TriBITS (see detailed notes below).  All of the changes are on a branch `pre_extra_repos_73` in my Github repo.  I will clean up and organize these commits before I push them to the master branch.

Now I am going to try to get MPACT using the ExtraRepositoriesList.cmake file

[2015-06-10 22:04] bartlettroscoe commented on #73
With the branch pre_extra_repos_73 now merged in to 'master' through the merge commits:

[code]
This issue is now resolved.  MPACT changes have already been made on a branch to take advantage of this and it seems to be working perfectly.

[2015-06-10 22:10] bartlettroscoe commented on #73
Closing and deployed.

[2015-06-10 22:10] #73 closed

[2015-06-25 19:46] lefebvre opened #74 "CppLint styleguide integration"
Ross,
I have been pushing code standards within SCALE and I have been playing with cpplint.py.
I have written some TriBITS code which integrates cpplint.
This facilitates style checking on each source and header file for libraries and executables.
What do you think about formally integrating this into TriBITS for all to use.

[2015-06-25 20:31] bartlettroscoe commented on #74
Jordan,

I am not sure about TriBITS enforcing the Google coding standard on all C++ code.  For example, Google does not allow C++ exceptions.  But I am supportive of TriBITS facilitating any type of analysis they want for a given TriBITS package or TriBITS Repository wants to impose.  So how would it work?   Would it be run as a custom command at build time automatically?  Would it be a new speci

[2015-06-26 00:17] lefebvre commented on #74
Ross,
Cpplint has a number of configuration options which should allow plenty of flexibility with c++ standards for different projects. I envision an optional configuration setting, such as code coverage or memory analysis, which would create custom targets for each source/header for executables/libraries. In this way a developer could enable it and see compile time violations as they are developi

[2015-06-26 00:43] bartlettroscoe commented on #74
Jordan,

In cpplint.py really really fast?  If it is not, then developers will turn it off to speed up the development process.  If it is not sufficiently fast, I would not make it part of the default 'make' targets.  If you do, people will hate you and find ways to turn it off.  If it is slow, you might consider adding a new targets like "make cpplint" or "make <filename>-cpplint" and letting dev

[2015-06-26 18:09] lefebvre commented on #74
Ross,
This would be an optional setting, defaulted off. I spoke to a couple of developers and they like the per source file approach. I have a patch ready for TriBITS that you can look over.

[2015-06-26 19:16] bartlettroscoe commented on #23
Jordan (@lefebvre),

Can you confirm that this issue has been resolved on your side?

[2015-06-26 20:11] bartlettroscoe commented on #74
Jordan,

The implementation of this in 7c64363 looks pretty reasonable.  However, it looks like a few more things need to be done before this can be integrated into the mainline:

1. Add a global level option `${PROJECT_NAME}_CPPLINT_SOURCE` that can turn off CPPLINT but let the package-level `${PROJECT_NAME}_CPPLINT_SOURCE` turn it on.  Also, you are going to want advanced cache vars to set `${PR

[2015-06-26 21:09] lefebvre commented on #74
Ross,
I'll look into these changes.
As always it would be nice sooner rather then later, but I'll make some changes and whenever you can provide feedback is fine.

Thanks!

[2015-06-29 15:15] lefebvre commented on #74
Ross,
My design creates a dependency on CppLint.cmake in core/package_arch/TribitsLibraryMacros.cmake and core/package_arch/TribitsAddExecutable.cmake.

I don't see a way to move CppLint.cmake to the analysis directory while keeping this design.
Do you have any advice?

[2015-07-06 14:24] bartlettroscoe commented on #74
Jordan,

You can see an example of doing this in:

    TriBITS/tribits/core/package_arch/TribitsProjectImpl.cmake

in the lines:

[code]

So basically, if that directory was not shapshotted along with TriBITS Core, then support for the `make dashboard` target is not added.  You can do the same thing with CppLint.  If the subdir `analysis/` is not present, then the CppLint features are not present

[2015-07-09 14:54] lefebvre opened #76 "TRIBITS_ADD_EXECUTABLE missing ADD_EXECUTABLE properties"
Ross,
The TRIBITS_ADD_EXECUTABLE does not provide a handle for passing thru the executable properties WIN32 and MACOSX_BUNDLE for the CMake ADD_EXECUTABLE function.

[2015-07-15 17:09] bkochuna opened #77 "Cannot find GIT in Windows"
In Windows TriBITS is unable to locate the git executable. This causes a configure failure when the generation of <PROJECT>RepoVersion.txt is enabled.

EDIT: The git format-patch commit is below.

[2015-07-15 17:25] bkochuna commented on #77
From fee7109f249ec897446377c307cbfa6bf91aa63c Mon Sep 17 00:00:00 2001
From: Brendan Kochunas <bkochuna@umich.edu>
Date: Wed, 15 Jul 2015 13:26:03 -0400
Subject: [PATCH] Fixing issue with finding git in Windows

---
 tribits/core/package_arch/TribitsConstants.cmake   |   11 -----------
 .../core/package_arch/TribitsGlobalMacros.cmake    |   15 +++++++++++++--
 2 files changed, 13 insertions(+), 13

[2015-08-03 18:06] kddevin opened #80 "TRIBITS_ALLOW_MISSING_EXTERNAL_PACKAGES prints extraneous warnings"
A Trilinos customer reports that extraneous Tribits warnings are causing failures in his CDASH dashboard.

TRIBITS_ALLOW_MISSING_EXTERNAL_PACKAGES prints warnings if the package is not found; e.g.,
WARNING: SCORECgmi is being ignored since its directory is missing and SCORECgmi_ALLOW_MISSING_EXTERNAL_PACKAGE = TRUE!
However, the user is not trying to enable SCOREC or any part of it, so this warnin

[2015-08-03 18:15] lefebvre commented on #80
Agreed! SCALE receives over a dozen of these about Trilinos packages.
The irritant is made worse by the new cdash recognizing these as formal
configure warnings. Which in hind sight I don't know why the older cdash
didn't recognize them.
On Aug 3, 2015 2:06 PM, "kddevin" <notifications@github.com> wrote:

[2015-08-04 15:16] bartlettroscoe commented on #80
The problem is how to alert the developer or user when they attempt to provide an optional package but misspell it or something.  For example, suppose someone tried to provide the `SCOREC` packages by cloning the `SCOREC repo` by cloned it lower case:

    `Trilinos/scorec/`

The user might think they provided the package and if you remove the warnings, the only indication they would get is that t

[2015-08-04 15:26] ibaned commented on #80
I think Roscoe's option 2, only printing such warnings
when we are trying to figure out why a package isn't here,
would be sufficient.
For the specific case in question, these are packages
which most Trilinos users do not have, and so they
are now getting warnings by default.
The defaults (and their current configurations) should
result in these packages being silently ignored,
with additional opt

[2015-08-04 17:38] bartlettroscoe commented on #80
Okay, I will implement:

2) Turn off these warnings by default in all modes by default but add a new option ${PROJECT_NAME}_WARN_ABOUT_MISSING_EXTERNAL_PACKAGES that will bring the warnings back.

The biggest job will be updating all of the unit tests that pin down behavior.

[2015-08-05 01:13] bartlettroscoe commented on #80
@lefebvre, I suspect that newer versions of CDash are flagging all "WARNING" strings in the CMake output as warnings.  Therefore, I think we need to change a lot of the using of "WARNING" in TriBITS to "NOTE" to avoid this.

[2015-08-05 14:28] bartlettroscoe commented on #80
So here is some output related to missing external/inserted packages that I would argue should say.

Currently, for example, in CASL VERA you see:

[code]

The first line giving the warning:
[code]
would disappear by default with the changes I am making, fine.

However, I would argue that the second line should stay, but `WARNING` should be changed to `NOTE` and the output should be changed to:
[c

[2015-08-05 14:33] ibaned commented on #80
makes sense, changing WARNING to NOTE is a good solution for things that still should print.

[2015-08-05 15:00] lefebvre commented on #80
I agree. Notification should be given to the user and "Note" instead of
"Warning" will resolve dashboard noise.
On Aug 5, 2015 10:28 AM, "Roscoe A. Bartlett" <notifications@github.com>
wrote:

[2015-08-05 19:42] bartlettroscoe commented on #80
I pushed the two commits shown in the TriBITS #80 Issue to the github repo and I snapshotted TriBITS to Trilinos 'master' in the commit:

[code]

This was also pushed to the CASL git repo for TriBITS so for SCALE to get it, it just needs to pull from git@casl-dev:TriBITS.

Documentation is updated at:

   https://tribits.org/doc/TribitsDevelopersGuide.html
   https://tribits.org/doc/TribitsBuildRe

[2015-08-05 19:42] #80 closed

[2015-08-30 22:44] nschloe commented on #63
If I may comment on this from the perspective of a (distro) package maintainer:

Every piece of software has a bunch of dependencies, in former times only listed in a README, and more recently rigorously checked at configure time.
Some projects ship third-party software (for example [gmsh](https://github.com/live-clones/gmsh/tree/master/contrib) with the idea to make it easier for users to install

[2015-09-02 18:57] bartlettroscoe opened #83 "Implement correct behavior for ${REPOSITORY_NAME}_REPOSITORY_OVERRIDE_PACKAGE_EMAIL_LIST"
It seems that when I wrote the [documentation for how CDash regression emails were supposed to be specified on a package-by-package basis](https://tribits.org/doc/TribitsDevelopersGuide.html#cdash-regression-email-addresses) in the TriBITS Developers Guide I did not get around to actually fully implementing it.  I can't explain why the documentation says one thing and the implementation does not f

[2015-09-02 19:01] bartlettroscoe commented on #83
Below is the last part of the email thread that lead to this Story ticket from being created.

[2015-09-03 00:42] bartlettroscoe commented on #83
This is fixed with commit 46f8d22.

[2015-09-03 00:42] #83 closed

[2015-09-23 15:11] clarnokt opened #84 "Change "WARNING" output that is not actually a warning to a "NOTE" to avoid CDash configure warnings"
TriBITS is currently printing several types of information prefixed with "WARNING".  These are not really warnings but just bits of extra info for the user to look at.  The problem is that newer versions of CDash are flagging lines with "WARNING" in the CMake output as warnings.  This was observed in #80 and fixed for that case.

This Story Issue is to find all of the places where TriBITS is print

[2015-09-24 15:36] kddevin opened #85 "FAIL_REGULAR_EXPRESSION does not work"
**Next Action Status:**

Clean tested fix pushed to TriBITS GitHub 'master' and snapshotted to Trilinos 'develop' (see [below](https://github.com/TriBITSPub/TriBITS/issues/85#issuecomment-258867969)).  Next: Final manual review or just close?

**Description:**

FAIL_REGULAR_EXPRESSION does not work with TRIBITS_ADD_EXECUTABLE_AND_TEST.
Ross suggested separate TRIBITS_ADD_EXECUTABLE/TRIBITS_ADD_TES

[2015-09-24 19:21] bartlettroscoe commented on #85
The problem is the hidden overwriting of the property `FAIL_REGULAR_EXPRESSION` with:

[code]

This is a hidden, undocumented feature of TriBITS that really should not even be in TriBITS since it is specific to Trilinos/Teuchos.  At the very least, it should be a plugin feature.

For now, I will add a unit test that will demonstrate the desired behavior and resolve the conflict with this default c

[2015-09-24 19:36] lefebvre commented on #74
I am closing this as I do not have time to finish its implementation.

[2015-09-24 19:36] #74 closed

[2015-09-24 19:50] kddevin commented on #85
Thanks, Ross.
Let me make sure I understand.  After the fix, if I specify
FAIL_REGULAR_EXPRESSION "FAIL;Teuchos::RCPNode"
I would catch failures reported by the test and RCPNode failures, right?
If this is correct, I will specify both strings in our CMakeLists.txt and we'll be good to go without losing any error checking.
Thanks for your prompt attention to this bug.
Karen

[2015-09-24 20:12] bartlettroscoe commented on #85
The question is what should the behavior be?  Would you rather that the user-specified FAIL_REGULAR_EXPRESSION be added to the default list?  That is, if you specify:

[code]
and dangling RCP node detection is turned on, would you want to have the property set as:

[code]

?

I guess that seems reasonable.

[2015-09-24 22:12] kddevin commented on #85
Yes, concatenating the default string with the user's string would be great if it is possible.  Thank you!
If it isn't possible, we can specify both in CMakeLists.txt.

[2015-09-25 19:43] bartlettroscoe commented on #84
A quick look through TriBITS Core shows 122 lines matching 'WARNING':

[code]

Some of these will be valid warnings for deprecated features (i.e. warnings that will turn into errors when the feature is removed).

I will wade through these and change all of the once that should obviously be "NOTE" to such.

[2015-09-26 01:08] bartlettroscoe opened #86 "checkin-test.py: Print out the full list of repos listed in ExtraRepositoriesList.cmake file and show which ones are added or not and why"
It was observed that that checkin-test.py script was not logging to the `checkin-test.out` file that `Nightly` repos were *not* being processed when only `Continuous` repos were requested.  Now that seems obvious when you say that, but when you have a complex project like CASL VERA with may TriBITS git repos and mixtures of 'Continuous' and 'Nightly' repos, it is easy for this to be confusing.

Fo

[2015-09-29 00:31] bartlettroscoe opened #87 "Move all TriBITS testing from Trilinos-based to TriBITS-based builds and post to my.cdash.org TriBITS project"
For the last few years, TriBITS has been tested under Trilinos-based builds and posted to the Trilinos CDash server at testing.sandia.gov.  When TriBITS became its own seprate git repo, I added TriBITS as a TriBITS git repo listed in Trilinos/cmake/ExtraRepositoriesList.cmake to clone from github.com.

There are a few problems with this.  First, it looks like most of the automated builds of TriBIT

[2015-09-29 01:34] bartlettroscoe commented on #55
Seth, I am going to assume this is working for you and close this Story.

[2015-09-29 01:34] #55 closed

[2015-09-29 01:36] bartlettroscoe commented on #87
I have updated the [TriBITS CDash Dashboard wiki page](https://github.com/TriBITSPub/TriBITS/wiki/TriBITS-CDash-Dashboard) and I have pushed the following commit to the Trilinos repo 'master' branch on software.sandia.gov:

[code]

I am going to leave this Story in the backlog until I find the time to set up this testing.  This testing should be set up as part of:

* [Make TriBITS itself use the c

[2015-09-29 01:41] bartlettroscoe commented on #86
AS of commit 7a502b8 this issue is now resolved.

[2015-09-29 01:41] #86 closed

[2015-10-15 20:29] kddevin commented on #85
The following diff fixes this bug.  Should I commit it directly in Trilinos' Tribits, or do you need to apply it in github and then transfer it to Trilinos?
There were two bugs:
-The wrong variables were checked when setting FAIL_REGEX_STRINGS, so concatenation was never happening.
-When passing ARGN to set_tests_properties, CMake broke regular expressions with multiple parts (e.g., "FAIL;BUMMER")

[2015-10-15 20:37] kddevin commented on #85
OK; I'm don't know why github reformatted my diff.  And it says I can't upload txt files.  So here's a screenshot.
![diff](https://cloud.githubusercontent.com/assets/9597421/10526803/32d7bfe6-734a-11e5-9ae0-513b16c3b07e.png)

[2015-10-20 21:56] bartlettroscoe commented on #85
Note the policies on [contributions to TriBITS](https://github.com/TriBITSPub/TriBITS/wiki/Contributing-to-TriBITS).  This is a pretty standard GitHub workflow and set of requirements for contributions but I figured it was necessary to make these clear for TriBITS.

I have it on my todo list to address this issue but for now the workarounds I have provided should be sufficient for your particular

[2015-10-23 02:43] bartlettroscoe commented on #85
Karen,

Changes committed directly to Trilinos/cmake/tribits/ and committed to the Trilinos `master` branch are no longer going to wiped out due to the snapshotting process.  See details [here](http://trac.trilinos.org/wiki/TriBITSTrilinosDev#trilinos_tribits_changes).

If you feel confident that this patch does not break the usage of TriBITS for Trilinos, go ahead and commit it.  But the burden f

[2015-10-30 23:08] nschloe opened #89 "bring back BLAS, LAPACK, HDF5 fixes"
Reverted by Sandia bug https://software.sandia.gov/bugzilla/show_bug.cgi?id=6452.

[2015-10-30 23:17] bartlettroscoe commented on #89
See #69, #59, #81.

NOTE: I did not revert anything in the TirBITS repo.  I only reverted the snapshot commit to Trilinos.  The new sync model of TriBITS to Trilinos described [here](http://trac.trilinos.org/wiki/TriBITSTrilinosDev) merges instead of overwrites changes in Trilinos.  Also, I did *not* revert the HDF5 changes, just the BLAS and LAPACK changes.

Therefore, you can just add new commit

[2015-10-30 23:23] mhoemmen commented on #89
On 10/30/15, 5:17 PM, "Roscoe A. Bartlett" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mhoemmen<https://github.com/mhoemmen>, can you get with Nico and test his changes on a TriBITS branch?

Gladly!  I am running out of time tonight but should have time over the next few days to check.

mfh

[2015-10-30 23:39] bartlettroscoe commented on #89
Hold your horses Mark, Nico does not work that fast!

[2015-11-01 21:06] mhoemmen commented on #89
Haha, no worries then!  Just let me know when I should start :-)

[2015-11-02 17:34] lefebvre opened #90 "TRIBITS_ADD_EXECUTABLE DEFINES have directory scope instead of function scope"
Using TRIBITS_ADD_EXECUTABLE(... DEFINES ...) applies definitions to all source files in a directory instead of to only the source files involved with the target.

Proposed solution is to add a new TRIBITS_ADD_EXECUTABLE argument named PROPERTIES.
After adding the executable, set the target properties to the PARSE_PROPERTIES.

This would allow for:
TRIBITS_ADD_EXECUTABLE(foo SOURCES foo.f PROPERTI

[2015-11-02 17:48] lefebvre commented on #90
New solution.
Switch the ADD_DEFINITIONS use to TARGET_COMPILER_DEFINITIONS.
Moving to after the ADD_EXECUTABLE call:
  IF (PARSE_DEFINES)
    TARGET_COMPILE_DEFINITIONS(${EXE_BINARY_NAME} PUBLIC ${PARSE_DEFINES})
  ENDIF()

works as expected.

[2015-11-02 17:50] bartlettroscoe commented on #90
Jordan,

The problem with adding generic PROPERTIES argument is that some of these properties may collide with other properties set for a target or test.  I can't find an explicit clash with the function TRIBITS_ADD_EXECUTABLE() but if someone also expects a PROPERTIES argument added to TRIBITS_ADD_TEST(), for example, this is a problem.  For example, what if someone tried to use:

[code]

Which t

[2015-11-02 17:53] bartlettroscoe commented on #90
The only problem with this solution is that it breaks backward compatibility.  I can almost guarantee that there are CMakeList.txt files that depend on this behvaior.

Would you be okay with adding `TARGET_DEFINES` to call `TARGET_COMPILE_DEFINITIONS()` and then deprecating `DEFINES`?

[2015-11-02 17:56] lefebvre commented on #90
When you say breaks backward compatibility you are talking about folks counting on the directory scope behavior now? I don't have time to add TARGET_DEFINES, but I would be fine going this route and then deprecating DEFINES.

[2015-11-02 18:25] bartlettroscoe commented on #90
I talked with Jordan over the phone and the plan will be for me to add`

[2015-11-03 00:57] #90 closed

[2015-11-03 00:59] bartlettroscoe commented on #90
Jordan,

As see, I pushed the commit.  I will merge and push to the casl-dev/master repo next.

-Ross

[2015-11-06 00:54] mhoemmen opened #91 "Trilinos Bug 6131: check-in test script claims to write pullInitial.*.out, but never does"
See Trilinos Bug 6131:
https://software.sandia.gov/bugzilla/show_bug.cgi?id=6131

Karen Devine writes:

When an initial pull fails in the checkin-test.py script, the following message appears:

Failed because initial pull failed! See 'pullInitial.*.out'

However, no file with this name exists when an error occurs due to having an untracked file in the repository.  The actual error message is somew

[2015-11-06 00:55] mhoemmen commented on #91
I am getting the same problem when a pull fails on my machine for some reason other than untracked files.  I am able to do "git pull" directly, and the repo is clean, but the check-in test script still refuses to pull.

[2015-11-06 12:33] bartlettroscoe commented on #91
Mark,

My guess is that you are using a newer version of git and the script may not be working with that version yet.  What version of git are you using?

I am on personal travel so I may not be able to get to this till Monday morning or Monday afternoon (have to fly to TN monday).

[2015-11-06 17:34] mhoemmen commented on #91
Thanks for the reply!  I tried both git 1.7.x and 2.1.x.  Both have the same trouble.

[2015-11-09 14:10] lefebvre opened #92 "TRIBITS_ADD_EXECUTABLE argument DIRECTORY changes executable location"
When using the DIRECTORY argument to specify the directory containing the list of source it has an unexpected consequence in that it compiles the executable in the specified directory.
For now I just specify the absolute source files, removing the DIRECTORY argument.

[2015-11-09 21:35] mhoemmen commented on #91
I actually got the pull to work on my workstation.  This could be related to the hostname changing while that shell was running, and resulting brokenness with ssh keys.

If the pull succeeds, the check-in test script does successfully write pullInitial.success and pullInitial.out to the check-in test directory.

[2015-11-09 23:10] bartlettroscoe commented on #91
Okay, that makes sense.  But that pullInitial.out file should have existed in the case where the the pull failed too.  Did it not?

Anyway, I need to change the error message to just tell you to look at the checking-test.log to see what command failed and what the sublog file is.

[2015-11-09 23:24] mhoemmen commented on #91
pullInitial.out didn't exist in the case where the pull failed, alas.  Thanks Ross for working on this!

[2015-11-09 23:41] bartlettroscoe commented on #92
Yea, the DIRECTORY arg also changes the location of the executable.  That is just missing in the documentation.  The purpose of the DIRECTORY arg is to allow you to create executables in subdirs from a base CMakeLists.txt file.  I forgot who asked for this feature but there it is.

I will update the documentation to reflect this.

[2015-11-10 00:06] bartlettroscoe opened #93 "checkin-test.py: Remove wrong sublog file from error message"
The checkin-test.py script currently tries to give a hint at what sublog file (i.e.g pullInitial*out) to look at when something fails.  The problem is that this is not very accurate in all cases (see #91 for an example).

This Story Issue will be to remove the guesses at the sublog file and just tell the user to grep the checkin-test.out log file for "failed" and then read the sublog file listed i

[2015-11-10 00:07] bartlettroscoe commented on #91
I have created TriBITS #93 to address the root of the problem, i.e. a bad error message.  Therefore, I am closing this Issue and defer to #93.

[2015-11-10 00:07] #91 closed

[2015-11-10 00:32] mhoemmen commented on #93
Thanks Ross!  I'm OK if the script just tells users where to look for the error message.

[2015-11-11 23:05] bartlettroscoe commented on #93
I am about to push a commit that has checkin-test.py print out:

"To find out more about this failure, grep the 'checkin-test.out' log file for 'failed'.  In some cases, the failure will be obvious.  In other cases, a system command failed and the details about the failure will be in the output file for the command that failed."

Hopefully that will be sufficient.

[2015-11-11 23:06] #93 closed

[2015-11-12 00:00] mhoemmen commented on #93
That sounds good, thanks!  If you happen to push a manual snapshot into Trilinos, could you close the corresponding Trilinos bug?  Otherwise somebody will close it once the automatic snapshot comes in.

[2015-11-12 03:34] #92 closed

[2015-11-12 03:39] bartlettroscoe commented on #92
The update documentation is shown [here](https://tribits.org/doc/TribitsDevelopersGuide.html#formal-arguments-tribits-add-executable).  It says:

"f specified, then the generated executable <exeTargetName> is placed in the relative or absolute directory <dir>. If <dir> is not an absolute path, then the generated executable is placed in the directory ${CMAKE_CURRENT_BINARY_DIR}/<dir>/. Also, the so

[2015-11-12 14:15] lefebvre opened #94 "TribitsCTestDriverCore allow for CTEST_BUILD_TARGET override"
Ross,
Several packages I develop require "install" to satisfy verification testing.
I believe this should be as easy as exposing the second build directive to environment override.

[code]

[2015-11-12 14:21] gdsjaar opened #95 "static vs shared library"
Is it possible to force a static library even if the BUILD_SHARED_LIBS is enabled?  I see that the CMake ADD_LIBRARY command has a STATIC option, but I don't see that listed as a valid option in the TRIBITS_ADD_LIBRARY command.

When I add STATIC to my TRIBITS_ADD_LIBRARY options, it doesn't complain, but it doesn't seem to force a static library.

Thanks,
..Greg

[2015-11-12 17:51] bartlettroscoe commented on #94
Jordan,

The variable CMAKE_BUILD_TARGET is actually used in two places.  Would you be okay if this was called something like TRIBITS_PACAKGE_BUILD_TARGET?  We would then define this like:

[code]
So then you would set `TRIBITS_PACAKGE_BUILD_TARGET=install`, right?

Note that we could add a similar option to the checkin-test.py script that would allow SCALE developers to use that in pre-push testi

[2015-11-12 18:01] bartlettroscoe commented on #95
Greg, that is a good point.  I guess `TRIBITS_ADD_LIBRARY()` should support all of the options passed the raw cmake command `ADD_LIBRARY` which includes (from CMake 2.8.11 documentation):

[code]

(we have to stick with CMake 2.8.11 until we upgrade the minimum CMake version again)

At this point, I would not add the IMPORTED or GLOBAL options because that involves a very different use case.  I ha

[2015-11-12 18:05] gdsjaar commented on #95
Currently with SEACAS, I cannot build everything with ENABLE_SHARED=ON since there is an SVDI library that won't work correctly as shared in its current configuration.  However, another piece of seacas (exodus.py) requires the shared exodus library, so currently, I require people to do two builds - one with ENABLE_SHARED=OFF and then another to rebuild exodus with ENABLE_SHARED=ON.

As for urgency

[2015-11-12 18:07] bartlettroscoe commented on #95
Let me try to get to this in the next week or so along with other work.  I will add this to my todo list.

[2015-11-12 18:50] gdsjaar commented on #95
Thanks.
..Greg
--
"A supercomputer is a device for turning compute-bound problems into I/O-bound problems"

From: "Roscoe A. Bartlett" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: TriBITSPub/TriBITS <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, November 12, 2015 at 1:07 PM
To: TriBITSPub/TriBITS <TriBITS@noreply.github.com<mailto:TriBITS@noreply.g

[2015-11-12 18:52] gdsjaar commented on #95
I have verified that this capability would enable SEACAS to build with ENABLE_SHARED=ON with a few of the libraries being forced to static archive libs, so I would definitely use the capability.

..Greg

--
"A supercomputer is a device for turning compute-bound problems into I/O-bound problems"

From: "Sjaardema, Gregory D" <gdsjaar@sandia.gov<mailto:gdsjaar@sandia.gov>>
Date: Thursday, November 1

[2015-11-12 19:24] bartlettroscoe commented on #95
Okay, so I looked at the implementation for TRIBITS_ADD_LIBRARY() and adding unit tests would be pretty hard since it calls a *lot* of raw global CMake commands that would need to be mocked out.  That will likely be worth the effort when I do the refactoring #63.  But for now, I think the easiest and most solid testing to is to create an example/test package TribitsMixStaticSharedLibsPkg where I w

[2015-11-12 19:44] bartlettroscoe commented on #95
Note that it does not look like you can set the STATIC vs. SHARED property after the fact with `SET_TARGET_PROPERTIES()` looking at the [list of target properties for CMake 2.8.11](https://cmake.org/cmake/help/v2.8.11/cmake.html#section_PropertiesonTargets).  Therefore, these have to be passed in to the call `ADD_LIBRARY()` and therefore must be passed through `TRIBITS_ADD_LIBRARY()`.

[2015-11-12 19:52] bartlettroscoe commented on #76
Don't remember seeing this Issue before (must have slipped through the cracks).

How do the properties WIN32 and MACOSX_BUNDLE behave in a Linux build?  Are they just ignored?  How common are these?

In think you can set the property [WIN32_EXECUTABLE](https://cmake.org/cmake/help/v2.8.11/cmake.html#prop_tgt:WIN32_EXECUTABLE) with using `SET_TARGET_PROPERTIES()` after calling `TRIBITS_ADD_EXECUTAB

[2015-11-12 20:16] bartlettroscoe opened #96 "Print CATEGORIES list along with other info when <Project>_TRACE_ADD_TEST=ON"
Currently, setting `${PROJECT_NAME}_TRACE_ADD_TEST=ON` results in a single like for each added or not added test.  If the test is added, it prints out the properties like NUM_PROCS_USED, NUM_TOTAL_CORES_USED.  But it does not print out what test categories these test are in.  It would be nice to see that.  Also, it would be nice if TRIBITS_ADD_ADVANCED_TEST showed what categories a test was in the

[2015-11-12 21:23] #96 closed

[2015-11-23 05:34] mhoemmen opened #97 "check-in test script pull fails with git 2.1.3; succeeds with git 1.7.1"
This is related to `eg` no longer receiving updates for newer versions of git.  It's unfortunate that we need to use git > 1.7.10 (RHEL 6 default is 1.7.1) to fix an ssh bug for accessing Trilinos through Github, but nevertheless cannot use git 2.x with the check-in test script.

[2015-11-23 05:42] mhoemmen commented on #97
Use of git 2.1.3 results in "INITIAL PULL FAILED", even if manually running "git pull" works fine.  The error message says to grep the output file for "failed", but that gives no indication of the cause of this error.

[2015-11-23 13:11] bartlettroscoe commented on #97
Yea, this is a know issue.  The plan is to get rid of 'eg' altogether and get working with multiple versions of raw git (see #15).

[2015-11-23 13:13] bartlettroscoe commented on #97
Given that this is a blocker for usage by Trilinos, I will try to get this done this week.

[2015-11-23 13:16] bartlettroscoe commented on #15
This is more urgent now that Trilinos developers need to use git > 1.7.1 to avoid an SSH usage bug.

[2015-11-23 15:11] mhoemmen commented on #97
Awesome, thanks Ross!!!

On Nov 23, 2015, at 6:13 AM, Roscoe A. Bartlett <notifications@github.com<mailto:notifications@github.com>> wrote:

Given that this is a blocker for usage by Trilinos, I will try to get this done this week.

-
Reply to this email directly or view it on GitHub<https://github.com/TriBITSPub/TriBITS/issues/97#issuecomment-158930109>.

[2015-11-23 17:36] lefebvre opened #98 "clone_extra_repos.py fails on Windows"
clone_extra_repos.py fails attempting to import gitdist.
[code]

[2015-11-23 17:43] bartlettroscoe commented on #98
I know what the problem is.  The problem is that `gitdist.py` is a symlink to `gitdist`.  To fix this on Windows, we just need to make `gidist.py` the real file and `gitdist` the symlink.  Then, on windows, if you want to use gitdist, just use `gitdsit.py` (or copy and paste `gitdist.py` to `gitdist` where you want to install it).

I will go ahead and make this change.

@lefebvre, What repo are yo

[2015-11-23 17:53] lefebvre commented on #98
For this new project I am working on I have a fork of TriBITSPub/TriBITS.

[2015-11-23 17:55] bartlettroscoe commented on #98
Okay, then I will push the the Github 'master' branch first.  Then you can just merge from this main TriBITS 'master' branch to your fork.

If you are making changes to TriBITS, let's try to get then back into the main version so they can be maintained long term.  For that, take note of [Contributing to TriBITS](https://github.com/TriBITSPub/TriBITS/wiki/Contributing-to-TriBITS).

[2015-11-23 18:02] bartlettroscoe commented on #98
Jordan,

Please merge the updated 'master' branch (which I forced pushed to fix the GitHub Issue ID) into your fork and see if that does the trick.

Please give the results one way or the other so that I can confirm.

[2015-11-24 13:22] lefebvre commented on #98
Ross,
It appears I'm running into an new issue.
[code]

[2015-11-24 13:40] bartlettroscoe commented on #98
@lefebvre, can you provide more info on the context for this so I can try to reproduce?

[2015-11-24 15:33] lefebvre commented on #98
Ross,
It looks like you are getting more then expected. Here is what Windows is getting on STDOUT.
[code]
My guess is that you are just expecting the array structure.

[2015-11-24 15:44] bartlettroscoe commented on #98
The clone_extra_repos.py script has not been tested with Hg repos.  It would need to be extended for Hg repos.  You can look at the automated tests for clone_extra_repos.py in the file:

     TriBITS/test/ci_support/clone_extra_repos_UnitTests.py

It should be much easier to add Hg support to the clone_extra_repos.py script than say the checkin-test.py script.

[2015-11-24 16:19] lefebvre commented on #98
Ross,
I have already added the necessary mercurial support in clone_extra_repos.
You can see this activity in TriBITS #17.
I did a little more digging.
The issue is actually because of windows line carriage returns.
This resolved the issue with python 2.7.10. I don't know about backwards compatability:
[code]

[2015-11-24 16:43] bartlettroscoe commented on #98
That change seems to work fine with python 2.6.6.  That is what we have on the CASL machines.  That is good enough for me.

I will go ahead and push this to the main TriBITS GitHub 'master' branch.

[2015-11-24 16:56] lefebvre commented on #98
Ross,
I noticed this split('\n') in many different locations.
You may want to replace them all across *.py to ensure Windows support.

[2015-11-24 17:18] bartlettroscoe commented on #98
It looks like splitlines() is not supported with Python 2.4.4 as shown [here](https://docs.python.org/release/2.4.4/lib/string-methods.html) but is listed as supported in Python 2.6.9 as shown [here](https://docs.python.org/2.6/library/stdtypes.html).  So, with this change, we loose backward compatibility to Python 2.4.  As recently as 3/3/2015, there was an old Trilinos test machine that was runn

[2015-11-24 17:30] bartlettroscoe commented on #98
I am replacing those too.

That is what I am in the process of doing.  Amazingly, there is slightly different behavior between split("\n") and splitlines().  I am having to fix up some code to get the tests to pass again.

[2015-11-24 17:45] bartlettroscoe commented on #98
Looks like split("\n") returns an empty array element at the end while splitlines() does not.  That is good, except I wrote the code to expect an empty element at the end.  Now I am fixing that.

[2015-11-24 17:48] lefebvre commented on #98
Devil in the details...

[2015-11-25 03:26] bartlettroscoe commented on #98
@lefebvre, I just pushed the commits.  Let me know if that solves the problem or not so that I can close this Issue.

[2015-11-25 15:01] lefebvre commented on #98
Windows works. Thanks.

[2015-11-25 15:01] #98 closed

[2015-11-26 00:15] bartlettroscoe commented on #15
@mhoemmen, I just pushed an update to the checkin-test.py script to the TriBITS and Trilinos master branches that removes the dependency on eg and now uses raw git.  I added git 2.1.0 to my path and used it to run the checkin-test.py script to push the changes to the TriBITS and Trilinos repos so it seems to work with newer versions of git.  Please pull the updated Trilinos version where you shoul

[2015-11-26 00:16] bartlettroscoe commented on #97
@mhoemmen, as mentioned in #15, this should be fixed now.  Please verify on your side.

[2015-11-26 19:48] mhoemmen commented on #15
Thanks Ross!  I did notice the change (e.g., the `--no-eg-git-version-check` option is no longer accepted) but haven't had a chance to try with git 2.1.x yet (check-in test script for some Tpetra changes is running now).  I really appreciate you working on this and prioritizing it!  It will help SEMS' efforts to standardize Trilinos testing, and also smooth the Github transition.

[2015-11-26 19:54] mhoemmen commented on #15
Hm, I'm still having a bit of trouble pushing using the check-in test script.  Is the CHECKIN directory allowed to be outside the source directory?

[2015-11-26 21:06] mhoemmen commented on #15
I think it is, but the final pull is still failing for me.  Here's what the check-in test script reports:

7.a.0) Git Repo: ''

Pulling in updates from 'origin' ...

Running: git pull && git rebase --against origin/master

  Running in working directory: /scratch/prj/Trilinos/Trilinos ...

  Writing console output to file /scratch/prj/Trilinos/CHECKIN/pullFinal.out ...

  Runtime for command = 0.0

[2015-11-27 15:05] bartlettroscoe commented on #15
@mhoemmen, can you please attach the generated "pullFinal.out" file?

[2015-11-29 04:05] mhoemmen commented on #15
Hold on, I'm trying to get my latest changes (relating to Tpetra performance) through tests first.  Will post as soon as they pass everything :-)

[2015-11-29 05:20] mhoemmen commented on #15
From github.com:trilinos/Trilinos
   3055c3a..11f4e50  master     -> origin/master
Auto-merging packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
Merge made by the 'recursive' strategy.
 packages/kokkos/config/nvcc_wrapper                | 15 +++-
 packages/kokkos/config/test_all_sandia             | 26 +++---
 packages/kokkos/core/src/KokkosExp_View.hpp        | 12 ++-
 .../kokkos/core/src/OpenMP

[2015-11-29 05:22] mhoemmen commented on #15
That above was the contents of pullFinal.out.  Here's the interesting bit:

error: unknown option `against'
usage: git rebase [-i] [options] [--exec ] [--onto ] [] []
or: git rebase [-i] [options] [--exec ] [--onto ] --root []
or: git-rebase --continue | --abort | --skip | --edit-todo

Available options are ...

[2015-11-29 05:22] mhoemmen commented on #15
[code]

[2015-11-29 05:26] mhoemmen commented on #15
(btw in case it wasn't clear, the check-in test script didn't work because the final pull didn't succeed.)

[2015-11-29 15:03] bartlettroscoe commented on #15
The argument `--against` is an `eg` argument and is not understood by raw `git`.  My validation pushes did not do a `--rebase` so this command did not get validated.  I will make sure and do a `--rebase` push to make sure.  Pushing in a minute here.

[2015-11-29 15:18] bartlettroscoe commented on #15
@mhoemmen, the following two commits were pushed to the Trilinos 'master' branch which should resolve the push issue:

[code]

I pushed to the TriBITS github/master branch using `--rebase` so this updated command (without `--against`) has been validated.

Let me know if you have any more problems with this.

NOTE: I still need to get the checkin-test.py script to work with tracking branches and th

[2015-11-29 15:22] bartlettroscoe commented on #97
Mark, as mentioned in #15, the issue with `--against` while doing a rebase should be resolved now.  Please verify on your side.

[2015-11-29 21:20] mhoemmen commented on #15
I'll try it out as soon as I get the chance -- thanks!

[2015-11-30 04:15] mhoemmen commented on #15
@kddevin I'm adding Karen Devine to the CC list, since she reported the original "missing pull*.out files" issue.  Ross' changes fixed that; I was able to get a pullFinal.out file that made clear what was going on.

[2015-12-01 00:58] mhoemmen commented on #97
I am now able to use the check-in test script.  I haven't tested the case where a rebase is necessary, but I think it's OK.  Thanks Ross!!! :-D

[2015-12-01 01:00] mhoemmen commented on #15
Works for me now!  I was able to use the check-in test script to push. I haven't yet exercised the case where git actually needed to do a rebase, but otherwise everything was fine.  Thanks Ross!!! :-D

[2015-12-01 01:11] bartlettroscoe commented on #15
@mhoemmen, if you look in the checkin-test.out log file, it should show you if it did a "git rebase".  Just do:

[code]
Does it show that line?

[2015-12-01 01:14] mhoemmen commented on #15
It didn't have to do a rebase in this case, because I have the habit of rebasing manually to avoid merge commits.  The only place the word "rebase" occurs in the file is in the printout of the list of arguments to the check-in test script.

Anyway, don't worry, I'm sure it works :-)  If you're worried, I can try making a trivial Tpetra change tomorrow without doing a manual rebase first, so that I

[2015-12-01 01:16] bartlettroscoe commented on #15
The checkin-test.py script rebases by default so it will do so if you pass in `--no-rebase`, it will do a rebase.

[2015-12-01 01:16] bartlettroscoe commented on #15
| The checkin-test.py script rebases by default so it will do so if you pass in --no-rebase, it will do a rebase.

That is, __unless__ you pass in `--no-rebase`.

[2015-12-03 14:58] bartlettroscoe commented on #15
I pushed an major refactoring to the checkin-test.py script to change it to
use tracking branches (detailed notes are below).  I pushed the individual WIP commits to a the branch
bartlettroscoe/tracking-branches-15.  I did a `git rebase -i @{u}` to squash
all of the individual commits specific to the checkin-test.py script and
pushed to the github/master branch.

This was a *lot* of work (about 20

[2015-12-03 21:12] bartlettroscoe commented on #15
I found a few more issues with the checkin-test.py script (one that was existing).  I pushed the updated version of TriBITS to github, Trilinos github and CASL casl-dev master banches.

I am now closing this as complete.

In total, I would guess this cost about 25 hours of my time.

SIDE NOTE: This is a complex script that is hard to keep the automated testing up to date.   I could do more targete

[2015-12-03 21:12] #15 closed

[2015-12-03 21:13] bartlettroscoe commented on #97
@mhoemmen, since you have done several pushes now, I will assume this is okay.  Closing as complete.

[2015-12-03 21:13] #97 closed

[2015-12-03 21:39] mhoemmen commented on #97
Works for me; thanks!!!

[2015-12-03 21:59] bartlettroscoe opened #99 "checkin-test.py: Implement extended --extra-pull-from for more flexible integration/sync scenarios"
This story is to allow individual repos and different branches to be selected for with the argument `--extra-pull-from`.  In particular, it would allow the syntax:

[code]

(where `<remote>:<remotebranch>` will apply to all the repos to maintain backward compatibility).  This will make Almost Continuous Integration (ACI) sync servers much easier to set up and much more flexible to run.

**Tasks:**

[2015-12-04 18:44] cgbaker opened #100 "gitdist: Fails for case of ambiguous 'HEAD'"
Warnings from git are not well handled by `gitdist dist-repo-status`.
For example,
[code]
will put my repo in a state where git commands issue warnings.

Some commands, such as the one used to determine the local branch, also result in errors:
[code]

Then, if I attempt a repo status, the parsing crashes:
[code]

The workaround, if desirable, is to filter out these lines where possible. I'm prepar

[2015-12-04 18:51] bartlettroscoe commented on #100
@cgbaker, what version of Python and git are you using?  I run gitdist on repos all the time that are in a deteched head state and not on tracking branches and it works just fine.

[2015-12-04 19:08] bartlettroscoe commented on #100
Okay, I have reproduced this with git 2.1.0:

[code]
I should be able to add a unit test for this strange git repo setup and then apply your fix.

[2015-12-04 19:09] cgbaker commented on #100
don't forget to `git tag -d HEAD` :)

i'm on git 2.4.3

[2015-12-04 20:22] bartlettroscoe commented on #100
Indeed!  'HEAD' is a very bad name for a tag, don't you think :-)

I am surprised that git even allows you to create a new tag called 'HEAD'.  But I guess you could have tags with the name as a branch too.  Check it out:

[code]
So while a tag named 'HEAD' never makes sense I don't think, I can see a situation were you could create a branch named 'something' then someone could push a tag named 'so

[2015-12-05 00:34] #100 closed

[2015-12-05 00:45] bartlettroscoe commented on #100
As described in commit 3102a4f, I updated the output to make more obvious what the problem is.  I tested this out with a VERA repo that I did a 'git tag HEAD' in and this is what it produced:

[code]

See, pretty obvious what the problem is, right?  I think that is better than just leaving it empty.

[2015-12-15 14:05] bartlettroscoe opened #102 "Make timing robust to negative 'date' difference"
It seems it is possible for 'date' called twice to result in a negative sum (see below emails).

This story will be to create unit tests to simulate this occurrence and then make the code robust (and printing a warning) for the case where it is negative.

----

From: Bartlett, Roscoe A.
Sent: Monday, December 14, 2015 8:55 AM
To: Baird, Mark L.
Cc: Lee, Ronald W.
Subject: RE: [CASL-VRI-testing] FA

[2015-12-15 16:19] bartlettroscoe opened #103 "Upgrade git version for install-git.py and integrate into install_devtools.py"
Now that the checkin-test.py script uses raw git instead of eg and works with tracking branches, we should be able to use the most up to date version of git.  This story is to update install-git.py to install a recent version of git along with git subtree and add it to the default install list for the install_devtools.py script.

[2015-12-15 18:41] bartlettroscoe commented on #103
I updated the install-git.py script to install git-2.6.4 and I updated the install_devtools.py script to not install git but mention install-git.py and why it is not called as part of install_devtools.py.

----

**Detailed Notes:**

1) Update install-git.py to git version 2.6.4 and install subtree:

Got the source for git-2.6.4.tar.gz off of the GitHub repo at:

   https://github.com/git/git/relea

[2015-12-16 00:59] bartlettroscoe commented on #103
Done

[2015-12-16 00:59] #103 closed

[2015-12-16 20:06] bartlettroscoe opened #104 "checkin-test.py: Add option --reset-nonchanged-repos to call git fetch then reset --hard instead of git pull"
A problem that we are frequently having with CASL VERA development is that people are accidentally pushing bad sets of commits to the shared branch and then they have to do a `git push -f` to fix it.  That is mostly because they forget to pass in the `--no-rebase` option to the checkin-test.py script but it has also been for other reasons as well (e.g. people just not understanding the most basic

[2015-12-16 20:08] bartlettroscoe commented on #76
@lefebvre, can you please look at my comment above and see what you think?

[2015-12-16 20:09] bartlettroscoe commented on #23
@lefebvre.  I am going to assume this is fixed given there was no response since July.

[2015-12-16 20:09] #23 closed

[2015-12-23 19:10] bartlettroscoe commented on #95
@gdsjaar, I am working on this now.  But I was wondering what your exact use case is for this.  Are these libraries used to link into exectuables but not used in downstream packages?  The issues is that if you create a static lib then try to link that to a downstream shared lib, this is not portable in general.

[2015-12-23 19:21] gdsjaar commented on #95
The libraries are all used with SEACAS.  Specifically, they are the

../lib/libsvdi_cdr.a
../lib/libfastqlib.a
../lib/libsvdi_cgi.a
 ../lib/libblotlib.a

Blotlib and fastqlib call routines which are in svdi_cgi and svdi_cdr.  There are no shareable libraries which depend on these static libraries.

TRIBITS_ADD_EXECUTABLE(blot_x11 NOEXEPREFIX NOEXESUFFIX
LINKER_LANGUAGE Fortran
       SOURCES ${CMA

[2015-12-23 19:46] bartlettroscoe commented on #95
@gdsjaar, thanks for the explanation.  Is the issue that you want to build these sources into a static library once and then reuse then in the various exectuables instead of having to build them again and again into different executabes?  What is the real problem?

The concern that I have right now is that TriBITS would add static libraries to the `${PACKAGE_NAME}_LIBRARIES` list and they would ge

[2015-12-23 21:20] bartlettroscoe commented on #99
Related to this, there is a defect introduced by the changes for #15 when the checkin-test.py script reports that there are no changes for repos that pulled changes from the --extra-pull-from pulls.  Details in in the below emails.

----

From: Bartlett, Roscoe A.
Sent: Wednesday, December 23, 2015 4:13 PM
To: Collins, Benjamin S.
Subject: RE: Sync Script

Ben,

I took the liberty to log into your

[2015-12-23 23:29] bartlettroscoe commented on #95
Pushed commit 73b3827 to github.  You can see updated documentation showing the new STATIC and SHARED options [here](https://tribits.org/doc/TribitsDevelopersGuide.html#formal-arguments-tribits-add-library).

I shapshotted this to Trilinos and pushed the following commits to the Trilinos github/master branch:

[code]

@gdsjaar, I think this is resolved,  Please go ahead and snapshot TriBITS to you

[2015-12-23 23:29] #95 closed

[2015-12-24 14:52] bartlettroscoe commented on #18
@lefebvre, given that the newer versions of CMake configure very fast (i.e. patched CMake 3.3.2 and unpatched CMake 3.4.1 reconfigure VERA 6x faster than 2.8.11), do we need to do much more with configure performance?  The real savings will happen when I get around to implementing #63.

[2016-01-07 00:16] bartlettroscoe opened #105 "Add usage of STOP_TIME to ctest_test() for TriBITS Dashboard Driver and TriBITS CTest Driver"
Currently if a build run with the TriBITS Dashbaord Driver system times-out (due to the CTest `TIMEOUT` property on the test that runs `ctest -S ...`), then it aborts all of the tests that are currently running for a TriBITS package and all of the tests that may otherwise be completed are lost.  This is a problem with the CASL VERA WEEKLY build since it will result in a loss of test results for al

[2016-01-07 02:00] bartlettroscoe opened #106 "Change test category WEEKLY to HEAVY and deprecate WEEKLY"
The TriBITS test category `WEEKLY` was added to support expensive tests with CASL VERA.  The idea is that eventually there would be so many expensive tests that you could only run them once a week.  For a long time, all of the CASL VERA WEEKLY tests could be run in 24 hours for a single build on a beefy machine so the WEEKLY test suite ran every day.  Then some more expensive tests were added so t

[2016-01-09 14:05] bartlettroscoe opened #107 "Incorporate XSDKDefaults.cmake into TriBITS"
One of the goals of the IDEAS project is to define configuration standards for packages.  The current specification for those standards are defined [here](https://docs.google.com/document/d/18028D6nsuhIrCvJnX6c07r8m_Np4SH-aGXMX4svMs1w/edit).  Part of that effort is to develop a standard CMake module `XSDKDefaults` that will automatically implement most of the standard behaviors.

This TriBITS Stor

[2016-01-10 23:09] bartlettroscoe commented on #107
I forgot to update the documentation.  I need to do that before I close this Isuse.

[2016-01-11 01:37] bartlettroscoe commented on #107
I would really love to have someone review this.

@jwillenbring, given that you are on the IDEAS project and the project requires these xSDK configure options, do you think you can review this?  In particular, it would be good to review the text in the documentation that mentions "XSDK".  See:

    https://tribits.org/doc/TribitsDevelopersGuide.html

Thanks,

-Ross

[2016-01-11 16:38] bartlettroscoe commented on #107
Here are my notes from the development process over the weekend for archival purposes (but the commit logs in the XSDKCMakeProj and TriBITS repos also reflect this).

-----

The code for XSDKDefaults.cmake is maintained in the independent GitHub repo:

    https://github.com/xsdk-ideas/XSDKCMakeProj

Way back in December 2014, I had prototyped the handling of C++ compiler and options and other opt

[2016-01-13 20:21] bartlettroscoe commented on #99
I rebased and cleaned up up the branch `extended_extra_pull_from_99` and pushed first to the `cas-dev/master` branch then to the github `master` branch.  I have pretty strong automated testing for this so I think this works.  But I will do a manual test to make sure that it works and then post that here.

[2016-01-13 20:35] bartlettroscoe commented on #99
I just tried this with VERA with:

[code]

and it showed:

[code]

The log file `pullInitialExtra.TriBITS.out` shows:
[code]
Looking at the commit pulled:
[code]

We see the worthless explicit merge commit that was used to pull from `casl-dev/master` to `github/master`.

This is good enough validation for me.  I am closing this as complete.

The next thing I am going to do is to add the options [-

[2016-01-13 20:35] #99 closed

[2016-01-14 03:24] bartlettroscoe commented on #107
I realized that I need to specify and test how compilers are selected under TriBITS when `USE_XSDK_DEFAULTS=TRUE`.  I am worried that if the user sets and env var `CC` and the cache var `MPI_C_COMPILER`, for example, that it will ignore the `MPI_C_COMPILER` option.  Or perhaps that is how it should be in MPI mode when XSDK defaults are enabled?  In any case, I need to characterize how this works a

[2016-01-14 14:30] bartlettroscoe commented on #107
@jwillenbring reviewed this as part of the Trilinos-specific issue trilinos/trilinos#76.  Therefore, I am going to go ahead and close this.  I will create a new Issue ticket for making the MPI compiler find behavior more consistent.

[2016-01-14 14:31] #107 closed

[2016-01-14 16:50] bartlettroscoe opened #108 "Set up TriBITS-specific googlegroups.com email lists and links"
This Story is to set up Google Groups email list for TriBITS.  I will start with tribits-users, tribits-developers, and tribits-checkins.

ToDo:
1. Set up mail lists tribits-users@googlegroups.com, tribits-developers@googlegroups.come and tribits-checkins@googlegroups.com and subscribe bartlettra@ornl.gov to all of these ([see comment](#issuecomment-171837326)) [Done]
2. Change over push email not

[2016-01-15 01:26] bartlettroscoe commented on #108
I found the document:

* http://losaltosbat.org/files/2013/12/HowToGoogleGroup.pdf

which describes the process for setting up a new Google Group email list.

I set up the groups `tribits-users`, `tribits-developers`, and `tribits-checkins` using the following process:

----

To create a new google groups email list:

1. Go to https://groups.google.com/forum/#!creategroup
2. Create the "Group name

[2016-01-15 13:53] bartlettroscoe commented on #108
I added the wiki page [Email Lists](https://github.com/TriBITSPub/TriBITS/wiki/Email-Lists) that outlines the Google Groups email lists for TriBITS, what they are for, and the process for subscribing.

[2016-01-15 16:18] bartlettroscoe commented on #108
I just sent the email:

----
From: trilinos-framework-bounces@software.sandia.gov [mailto:trilinos-framework-bounces@software.sandia.gov] On Behalf Of Bartlett, Roscoe A.
Sent: Friday, January 15, 2016 11:08 AM
To: trilinos-framework@software.sandia.gov; Nico Schlömer (nico.schloemer@gmail.com); Lefebvre, Jordan P.; Lefebvre, Robert A.; Johnson, Seth R.; Evans, Thomas M.; Brendan Kochunas; Collins

[2016-01-15 16:18] #108 closed

[2016-01-15 18:30] bartlettroscoe commented on #108
Well, what do you know.  Kevin Clarno just subscribed to the tirbits-users mail list and I got the following automated email:

----

From: TriBITS Users [mailto:tribits-users+noreply@googlegroups.com]
Sent: Friday, January 15, 2016 12:26 PM
To: Bartlett, Roscoe A.
Subject: Member requesting to join TriBITS Users

TriBITS Users
Google Groups

Kevin Clarno (clarnokt@gmail.com) has asked to join the

[2016-01-15 21:17] bartlettroscoe opened #109 "checkin-test.py: Add support for local defaults file"
Currently, the only way to provide local defaults for the checkin-test.py script is to write a wrapper script like:

[code]

The problem with this approach is that if there is already a wrapper script, then you have to write another wrapper script around it.  And if the wrapper script you are calling is written as a shell script, then arguments with spaces like:

[code]
cannot be passed through co

[2016-01-16 18:22] bartlettroscoe commented on #109
I have implemented local-checkin-test-defaults.py and I have good unit tests to show it works.  I also updated the checkin-test-fissile4.sh script to write a default local-checkin-test-defaults.py file to set -j16 when one does not exist.  Then I have local-checkin-test-defaults.8vt.th232.py under version control to be symlinked and used on th232.

I am going to close this.

[2016-01-16 18:22] #109 closed

[2016-01-24 02:43] bartlettroscoe commented on #106
As far as TriBITS is concerned, this is complete with commit c1aebb2.

Closing as complete.

[2016-01-24 02:43] #106 closed

[2016-01-24 02:49] bartlettroscoe commented on #18
I am going to close this.  With newer versions of CMake (such as the patched CMake 3.3.2 installed with install-cmake.py), the configure speed is very fast.  If this is not the case, please let me know but CASL VERA now reconfiugres and generates the coupled code package Tiamat in less than 30 seconds (which used to take about 3 minutes).

[2016-01-24 02:49] #18 closed

[2016-01-24 02:51] bartlettroscoe opened #110 "checkin-test.py: Add option --send-build-case-email=[always|only-on-failure|never]"
The current behavior of the checking-test.py script with `--send-email-to=<something>` is that it will send emails to that address for each build case (pass or fail) and for the final status (our push).  That is too many emails for some people and these people tend to just set `--send-email-to=""` so that they don't get any email at all.  That is a shame.

Therefore, for people who want to get les

[2016-02-03 18:59] bartlettroscoe opened #111 "CMAKE_CXX_FLAGS added twice in C++11 check"
The issue trilinos/Trilinos#126 claims that CMAKE_CXX_FLAGS is getting added twice in the configure-time test for the C++11 support flag.  When I was implementing the C++11 check, I don't remember seeing the C++ flags listed twice (but CMAKE_CXX_FLAGS might have been empty in my use cases so I would not have noticed).  In any case, I need to look at that patch and see how to write an automated tes

[2016-02-09 21:54] bartlettroscoe commented on #87
I will ping Zack once I get working on this.  This will be a nice demo for other people.

----

From: Zack Galbreath [mailto:zack.galbreath@kitware.com]
Sent: Tuesday, February 09, 2016 4:48 PM
To: Bartlett, Roscoe A.
Cc: Bill Hoffman
Subject: Re: GitHub and CDash integration?

Yes, we have.

Yeah, sorry about that.  We have a bit of a backlog for CDash documentation at the moment, but this featur

[2016-02-19 18:59] bathmatt opened #113 "find TPL hdf5 list of libs"
should hdf5 automatically include -lhdf5_hl -lhdf5

and often hdf5 requires a -ldl.  Should that be there as well?

[2016-02-19 19:03] bartlettroscoe commented on #113
@bathmatt, thanks for creating this.

@nschloe, do you have an opinion on this?

I am fine with changing the default personally.  The question is how to update the call to `FIND_PACAKGE(HDF5)` to comply.  For advanced users that know exactly what they want to link against for a particular platform, they just set `HDF5_LIBRARY_NAMES="<name0>;<name1>;...` and then they get what they want.  That is w

[2016-02-19 19:10] nschloe commented on #113
The HDF5 config tells you whether or not you need that, and CMake should actually pick it up automatically. That's a key idea of CMake: Only worry about your direct dependencies. Including more than what's necessary has often led to problems in the past.

[2016-02-19 19:15] bathmatt commented on #113
OK, then it doesn't seem to at least.  Ihave to specify it by hand.  This is on hansen for instance.

[2016-02-19 19:22] bartlettroscoe commented on #110
This issue is resolved.

[2016-02-19 19:23] #110 closed

[2016-04-02 13:55] bartlettroscoe commented on #43
Putting this back into the backlog.  My Kanban process for TriBITS is not really being used very well is it?

[2016-04-02 13:57] bartlettroscoe commented on #56
This is irritating.  I will get to this soon.

[2016-04-04 23:21] bartlettroscoe commented on #56
I just realized that I will need to do a lot of testing before I can update TriBITS with this change in any TriBITS project like Trilinos or CASL VERA.  That is because with this change in behavior, packages will no longer be enabled that might have been enabled before.  For example, suppose package Y defines a required test dependency on package X but really the library of package Y depends on pa

[2016-04-07 14:32] bartlettroscoe opened #114 "Add support for TriBITS installs and FIND_PACKAGE(TriBITS)"
As part of work getting the new [xSDKTrilinos](https://github.com/trilinos/xSDKTrilinos) package building as its own CMake/TriBITS project apart from Trilinos (and PETSc) (See IDEAS Issue SDK-79), I added hooks to install TriBITS as part of Trilinos (on the branch trilinos-release-12-6-branch) and then find TriBITS using an installed TriBITSConfig.cmake file.  I did that work pretty hastily.  The

[2016-04-13 02:50] bartlettroscoe opened #115 "Fix TPL link ordering when all TPL libs current exist on link line"
Problems have occured for a long time with TriBITS related to library link order for TPLs for static libs (where the order has to be correct).  The ultimate problem is that TriBITS TPLs don't know about what dependencies they have on each other.  For example, if your package only needs basic PETSc functionality, then it should only depend on the PETSc TPL.  But if PETSc is built against SuperLU an

[2016-04-13 03:09] rppawlo commented on #115
Would this also be fixed by implementing #63 ?

[2016-04-13 12:27] bartlettroscoe commented on #115
Yes, the TPL ordering issue would likely get fixed automatically as part of #63, but that is a much larger refactoring.  This story would be a much faster and easier refactoring than #63.  One of the goals of #63 is to eliminate a bunch of TPL-specific code so that Packages and TPLs are handled more uniformly (less TriBITS code, less unit tests, less to maintain, etc.).  But if that does not work

[2016-04-20 23:05] bartlettroscoe commented on #113
Is there an HDF5Config.cmake file that gets installed with HDF5?  That would be great.

[2016-05-04 00:07] lefebvrera opened #116 "multiple-defined link errors in Windows build due to non-inlined functions in winmath.h"
The file TriBITS/tribits/win_interface/include/winmath.h has methods that are not inlined, causing multiple-defined link errors.

[2016-05-04 14:59] bartlettroscoe commented on #116
I rebased this commit and pushed it.  See [here](https://github.com/TriBITSPub/TriBITS/pull/117#issuecomment-216891532).

[2016-05-04 21:57] #116 closed

[2016-05-06 13:17] bartlettroscoe opened #118 "Better document how to tenatively enbled TPLs"
There have been several questions about how to tentatively enable a TPL.  The function `TRIBITS_TPL_TENTATIVELY_ENABLE()` is documented in the TriBITS Developers Guide but it does not state that it should usually be called in a Dependencies.cmake file.  This story is to improve that documentation.

[2016-05-06 13:54] bartlettroscoe commented on #118
Because of the urgent need (see below email from Si), I pushed the updated documentation in the commit dfd55a4.  This shows the updated documentation at:

https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-tentatively-enable-a-tpl

Now I would like a post-push review.

@jwillenbring, @bmpersc, or @nmhamster, can one of you please look over this updated documentation?

@nmhamster, since you

[2016-05-12 13:58] jwillenbring commented on #118
I looked at the documentation and I do not have any suggested changes.

[2016-05-13 21:16] wfspotz opened #119 "Upgrade Python scripts to be compatible with versions 2.6, 2.7 and 3.x"
**Description:**

I am willing to take a crack at upgrading the TriBITS Python scripts to run under 3.0, while maintaining compatibility with 2.6. I'll need some TriBITS guidance at the beginning, though.

**Tasks:**

1. Update the Python code to work with Python 2 and 3 [Done]
1. Resolve a few remaining issues (see [below](https://github.com/TriBITSPub/TriBITS/issues/119#issuecomment-235696676)):

[2016-05-14 21:45] bartlettroscoe commented on #119
Excellent!

What if I add this info to the TriBITS documentation and then point you to the documentation?  That will help other people who want to contribute to or otherwise modify TriBITS down the line.

[2016-05-16 16:19] wfspotz commented on #119
Sounds good.

[2016-05-17 15:55] bartlettroscoe commented on #118
@jwillenbring, is it clear how to make a TPL "tentatively enabled" and file to modify to do this in?

[2016-05-17 21:04] jwillenbring commented on #118
It seems straight-forward.

after the
TRIBITS_PACKAGE_DEFINE_DEPENDENCIES(
  ...
    )

block in the Dependencies.cmake file, add a

TRIBITS_TPL_TENTATIVELY_ENABLE(SomeTpl)

entry.

[2016-05-17 21:07] bartlettroscoe commented on #118
That's it!  Thanks Jim!

@nmhamster, let me know if you are the Kokkos developers have any further questions about this.

Review is complete so I am closing.

[2016-05-17 23:16] bartlettroscoe commented on #118
Closing for real

[2016-05-17 23:16] #118 closed

[2016-05-18 00:06] bartlettroscoe commented on #43
This bit me bad when adding repos for inserted packages for Trilinos (see trilinos/Trilinos#176).  I am putting this back into selected.

[2016-05-19 12:59] sethrj opened #120 "Make executables optional in non-explicitly-enabled packages"
A number of packages produce executables (via `TRIBITS_ADD_EXECUTABLE`) that are primarily for development purposes or are otherwise not the main target of the build. (For example, building SCALE inevitably produces about a dozen binaries such as SONViewer.) When building for a particular installation, it would be better to not compile these executables rather than to delete them after "make insta

[2016-05-20 20:40] bartlettroscoe opened #121 "Make TriBITS senstivie to `XSDK_ENABLE_<LANG>` instead of just setting it based on `${PROJECT_NAME}_ENABLE_<LANG>`"
Currently, TriBITS just sets:

[code]
before it includes `XSDKDefaults.cmake`.  However, it seems that from [this discussion](https://github.com/trilinos/Trilinos/issues/375#issuecomment-220710255) and it is implied in [this specification](https://docs.google.com/document/d/18028D6nsuhIrCvJnX6c07r8m_Np4SH-aGXMX4svMs1w/edit#bookmark=id.5p93xforgann), that users expect to be able to set `XSDK_ENABLE

[2016-05-21 17:59] bartlettroscoe commented on #120
@sethrj, I am not sure that it makes sense to only turn on exectuables for a package only if it is explicitly enabled.  For starters, I am not sure how you would tell if a package was explicitly enabled by the time you got to processing its CMakeLists.txt file.  You could add some extra CMake data-structures for this I guess but I am not sure that is what we really want.

Taking a step back, the i

[2016-05-22 12:20] lefebvre commented on #120
Everything is there in TriBITS to achieve what Seth wants. The issue is
really a package/subpackage implementation on SCALE's part. Packages and
subpackages are simply not used as they were designed. A package/subpackage
reorganization in SCALE is very overdue and would resolve this issue.
On May 21, 2016 13:59, "Roscoe A. Bartlett" <notifications@github.com>
wrote:

[2016-05-23 14:09] gsjaardema opened #122 "Fortran Name Mangling code should be error if cannot determine correct behavior"
The fortran name mangling code in `tribits/core/config_tests/FortranMangling.cmake` currently issues a warning if it cannot determine the correct behavior (under, no_under, second_under, lower, upper).

This should instead produce an error.

The current behavior will continue the build and fail with unresolved symbols when linking libraries that are relying on linking fortran and C.  This is confu

[2016-05-23 14:23] bartlettroscoe commented on #122
@gsjaardema, so you just want to change:

[code]
to:

[code]
?

I don't remember why this was just listed as a warning and not an error.  Perhaps the idea was that the client CMake project would try another approach?  That does not seem like a good idea does it.

[2016-05-23 14:28] gsjaardema commented on #122
Yes, that is the suggested change.

[2016-05-24 22:46] bartlettroscoe commented on #119
@wfspotz,

Sorry for the delay but I have add info on getting started with developing on TriBITS and setting up to run the automated TriBITS test suite in the [README File](https://github.com/TriBITSPub/TriBITS#developing-on-tribits).   Please let me know if anything is not clear.  Once you can run the tests, just change the default version of python in your path to 3.x and then just see what TriB

[2016-06-02 09:46] nschloe opened #125 "scripts not executable"
Debian reports warnings about [script-not-executable](https://lintian.debian.org/tags/script-not-executable.html) for
[code]

[2016-06-02 13:08] bartlettroscoe commented on #125
@nschloe,

This is actually a Trilinos defect, not a TriBITS defect, as it is Trilinos that is installing TriBITS.  See:

https://github.com/trilinos/Trilinos/blob/trilinos-release-12-6-branch/CMakeLists.txt#L98

The problem it seems is that, by default, the CMake `INSTALL()` command does **not** maintain source permissions.  It seems that you have to pass in `USE_SOURCE_PERMISSIONS`.  See:

http:

[2016-06-02 15:01] nschloe commented on #125
Those are "just" warnings, so it'd be okay to have them fixed in 12.8 too.

[2016-06-02 17:02] bartlettroscoe commented on #114
As mentioned in #125, I need to make sure and have the `INSTALL(DIRECTORY ...)` command use ` USE_SOURCE_PERMISSIONS` so that it gives executable scripts the right permissions.

[2016-06-02 17:05] bartlettroscoe commented on #125
That is good.

To address this, I have added `USE_SOURCE_PERMISSIONS` to the scope of #114 and when it is done, I will snapshot TriBITS into Trilinos and this issue should be resolved.

I will therefore close this issue ticket and just raise the priority of #114 to make sure that it gets done before the next Trilinos release.

[2016-06-02 17:05] #125 closed

[2016-06-07 02:33] bartlettroscoe opened #126 "Fix RPATH handling in TriBITS"
**Next Action Status:** ???

**Relates To:** trilinos/Trilinos#91

**Description:**

Currently, TriBITS sets the `INSTALL_RPATH` property on libraries defined with `TRIBITS_ADD_LIBRARY()`using:

[code]

This results in having the RPATH for libraries swapped out in install for libraries.

However, executables installed with `TRIBITS_ADD_EXECUTABLE( ... INSTALLABLE ...)` do not currently have this p

[2016-06-07 02:48] bartlettroscoe opened #127 "Generalize C++11 support for C++14, C++17, etc."
**Description:**

Currently, TriBITS provides the global option `${PROJECT_NAME}_ENABLE_CXX11` and if TRUE, will look for the right compiler flag that gets a trial C++11 program to build successfully.

It is desired (mostly by Trilinos developers) to provide the same support for C++14, C++17, and other future C++ standards as they are being defined.

The goal of this Story is to refactor the curre

[2016-06-09 14:22] lefebvre opened #129 "TriBITS fails with MinGW"
I receive the following configuration error using TriBITS.
Windows 10, CMake3.6r1 with MinGW64-4.8.5 toolchain.

[code]

[2016-06-09 14:27] bartlettroscoe commented on #129
@lefebvre,

I will be testing the CMake 3.6 branch soon and I will see if this comes up.

Otherwise, if you can provide a PR that addresses the issue, then that would be great!

[2016-06-09 14:29] bartlettroscoe commented on #129
Just curious, but what projects are you using TriBITS with these days?

[2016-06-09 14:43] lefebvre commented on #129
@bartlettroscoe I updated to using CMake 3.4.3 and I received the same error.

[2016-06-09 14:45] lefebvre commented on #129
@bartlettroscoe  I have two projects that I am using TriBITS in.
I find declaring extra repos as NOPACKAGES so I can rename them as I wish in my directory structure is convenient. Is there anything I loose by doing this?

[2016-06-09 14:54] bartlettroscoe commented on #129
Looking at the code, I see this is set as:

[code]

I am wondering if you are getting bit by #43?  Do you have a TriBITS Repo and Package with the same name but different source dirs (which is currently not allowed but will be fixed as part of #43)?

Can you push your code so some branches somewhere so that I can take a look?  If this is EC, then perhaps you can give me access on the ORNL network.

[2016-06-09 14:59] bartlettroscoe commented on #129
Not SCALE, right?  Are you using git or Hg?  I would be interested to hear how that is going.

That works and can make sense in many cases.  This is less overhead because you don't have to supply a PackagesList.cmake or TPLsList.cmake file in these NOPACKAGES VC repos.  You just add the packages list and TPLs list directly the the parent TriBITS repo's files.  But I would need to see the full cont

[2016-06-09 15:01] lefebvre commented on #129
I have been bitten by #43 before. I haven't introduced any packages since resolving conflicts in the past.

This quick patch, formal include command with include guard, resolves the issue:
[code]

[2016-06-09 15:17] bartlettroscoe commented on #129
What, what file is this?   Is the the file:

    TriBITS/tribits/Version.cmake

that is symlinked as

   TriBITS/Version.cmake

?

I think this must be due to a symlink issue or something strange with CMake or the file system on MinGW64.

[2016-06-09 16:16] lefebvre commented on #129
So on Linux Version.cmake is a symlink to tribits/Version.cmake.
Symlinks don't work on Windows.
This indicated that I am including TriBITS differently than other Windows projects (SCALE).
However, both projects simply include TriBITS/tribits/TriBITS.cmake.
I don't know how SCALE is not running into this same issue.

[2016-06-09 17:45] bartlettroscoe commented on #129
@lefebvre,

Can you please commit this fix including `#129` in the commit log on a branch and then do a PR to this repo?  That makes all of this easier for me and it removes all ambiguity.  Much easier that raw patches.  And then you get credit once I merge (or rebase) your branch/commits.  See details at [Contributing to TriBITS](https://github.com/TriBITSPub/TriBITS/wiki/Contributing-to-TriBITS#

[2016-06-10 12:36] lefebvre commented on #129
My previous solution fixes the config error, however cmake "stops working".
I found an easier solution.
The problem originated with me listing TriBITS as an extra repo.
I did this so it would receive updates during CI.
The solution was to remove TriBITS from extra repo listing.

[2016-06-10 21:36] bartlettroscoe commented on #129
@lefebvre, where you listing TriBITS as an extra repo in the ExtraRepositoriesList.cmake file?  If you were doing that for the git clones and updates then you can just add NOPACKAGES and it will not try to add TriBITS as a TriBITS repo.  Unless you are developing on TriBITS, there is no reason to add TriBITS as a package.  I stopped doing that a long time ago in Trilinos.

As for the issue of TriB

[2016-06-13 23:18] bartlettroscoe opened #130 "Have TRIBITS_CTEST_DRIVER() checkout branch ${PROJECT_NAME}_BRANCH on all extra repos"
In order to consistently treat extra repos together with the base base repo as "one big repo", the CI and Nightly testing should occur on the same branch in all of the repos.  The `TRIBITS_CTEST_DRIVER()` function in the file TribitsCTestDriverCore.cmake defines the variable `${PROJECT_NAME}_BRANCH` that is used to specify a branch that is checked out on the base repo.  This Story is to add the sa

[2016-06-14 13:29] jwillenbring commented on #130
If there are projects developed independently from the main project, I wonder if this should be an assumption for all cases. Should there be an override? Perhaps a default name for a development branch (e.g. develop or master), and the ability to override that optionally for each extra repo? For example, consider if a package is developed at a University and brought in as an imported package, but

[2016-06-14 19:54] bartlettroscoe commented on #130
The key is "independently".  If a repo is being listed in Trilinos/cmake/ExtraRepositoriesList.cmake, then it is being continuously integrated and therefore cannot be considered to be "independently developed".  If repos are under CI, then the are "dependently developed".

That is possible and we might consider that in the future if there is a strong overriding need, but I don't that is needed for

[2016-06-14 21:52] jwillenbring commented on #130
Quote from Ross: The key is "independently". If a repo is being listed in Trilinos/cmake/ExtraRepositoriesList.cmake, then it is being continuously integrated and therefore cannot be considered to be "independently developed". If repos are under CI, then the are "dependently developed".

OK, this makes sense. Where is the documentation concerning the various classes of packages? I think I may have

[2016-06-14 22:03] bartlettroscoe commented on #130
Reply to @jwillenbring from [above comment](https://github.com/TriBITSPub/TriBITS/issues/130#issuecomment-226027487):

We need to document that on some Trilinos wiki pages.   As we discussed, I will add a new Trilinos Framework GitHub Issue about how to manage repos longer term.  Shorter term, I add a wiki page on the currently supported approach being used by TriBITS.  Actually, we should take di

[2016-06-15 18:49] bartlettroscoe commented on #130
Reply to @jwillenbring from [above comment](https://github.com/TriBITSPub/TriBITS/issues/130#issuecomment-226027487):

We need to document that on some Trilinos wiki pages.   As we discussed, I will add a new Trilinos Framework GitHub Issue about how to manage repos longer term.  Shorter term, I add a wiki page on the currently supported approach being used by TriBITS.  Actually, we should take di

[2016-07-02 13:15] bartlettroscoe opened #131 "Allow CamelCase names for CMAKE_BUILD_TYPE ‘Debug’, ‘Release’ and empty ''"
Raw CMake accepts CamelCase names for 'Debug', 'Release', 'RelWithDebInfo' and 'MinSizeRel' as well as empty '' for `CMAKE_BUILD_TYPE` as described here:

https://cmake.org/cmake/help/v3.0/variable/CMAKE_BUILD_TYPE.html

However, raw CMake applies the build options specified by `CMAKE_<LANG>_FLAGS_[DEBUG|RELEASE|RELWITHDEBINFO|MINSIZEREL]`.  That is obviously inconsistent.   Therefore, TriBITS man

[2016-07-02 13:30] bartlettroscoe commented on #131
For an example of what needs fixed, if you configure a TriBITS project (e.g. Trilinos) with:

[code]

it does **not** set up for debug-mode checking by default:

[code]

But when you use upper-case `DEBUG`, it does:

[code]

Also, if the user explicitly sets `-DCMAKE_BUILD_TYPE=""` it does not respect that and it goes ahead and sets a default build type:

[code]

It could be hard to fix this witho

[2016-07-02 16:28] bartlettroscoe opened #132 "gitdist: Improve and segment --help documentation"
The current `--help` command for gitdist produces a lot of output.  Some people find this overwhelming and distracting.  The basics of what gitdist does are simple so the basic documentation spit out by the --help command should be simple.

This story is to try to improve the situation by reducing the amount of documentation spit out from the default `--help` command and make it more terse.  But t

[2016-07-07 14:44] bartlettroscoe commented on #132
I pushed the updated documentation to the GitHub 'master' branch and you can see it reflected here:

* https://tribits.org/doc/TribitsDevelopersGuide.html#gitdist-documentation

I would like to get a review of this.  I will put this into review and then I will try to get a review of this as part of getting Trilinos to consider using gitdist to manage the multiple Trilinos git repos.

[2016-07-08 17:36] bartlettroscoe opened #133 "gitdist: Formalize error handling"
**Description:**

The current gitdist script simply runs the specified git commands over a set of git repos and ignores any errors that might occur with the command.  That has been fine when the script is run manually by a developer.  However, to use the script gitdist in other automated scripts, the gitdist script needs to have a more will defined error handling strategy.  The proposed updated er

[2016-07-08 17:40] bartlettroscoe commented on #133
NOTE: This will be needed for the CASL VERA project when it implements it 'develop'/'master' workflow (i.e. PHI `#3821`) and for the Trilinos 'develop'/'master' workflow when that workflow properly deals with its extra repos (see trilinos/Trilinos#440).

[2016-07-08 19:23] bartlettroscoe opened #134 "gitdist: Add dist-repo-version command"
Currently, the documentation for gitdist tells the user how to manually run gitdist to create a RepoVersion.txt file that can be used with the `--dist-version-file=<file>` argument.   That is sloppy and opens the door for the user to make a mistake and it allows very long and cluttered RepoVersion.txt files because developers are sloppy and someones create very long git commit summary lines.  But

[2016-07-08 20:34] bartlettroscoe commented on #130
This is a blocker for CASL VERA to move to the 'develop'/'master' workflow so I am putting in ready.

[2016-07-08 21:40] bartlettroscoe opened #135 "gitdist: Add dist-foreach command"
The basic usage of the gitdist command:

[code]

works well for many workflows.  However, there are some operations where one needs to ability to run arbitrary commands over each of the git repos.   This feature is supported by the Google Repo tool using the command [`repo forall -c <command>`](https://source.android.com/source/using-repo.html#forall) and by the git submodule command [`git submodu

[2016-07-08 22:12] bartlettroscoe commented on #134
This would be nice to have but it is not a blocker for any near-term story.  Taking out of "ready".

[2016-07-13 15:28] bartlettroscoe commented on #135
The tool gitslave:

* https://github.com/joelpurra/gitslave

also does substitution (see the section `SUBSTITUTION`), except it does substitutions using `%%<var-name>%%`.  That would be less likely to be substituted incorrectly than `_<var-name>_`.  That means that I should instead define:

* `%%toplevel%%`: Absolute path of the base directory where the .gitdist file is defined
* `%%relpath%%`: Re

[2016-07-15 02:09] bartlettroscoe opened #136 "TRIBITS_ADD_ADVANCED_TEST() functionality, performance, and error checking upgrade"
There are a few related things that need to be addressed with `TRIBITS_ADD_ADVANCED_TEST()`:
* There is currently a hard-coded restriction of 20 test cases (`TEST_0` ... `TEST_19`) (and people have tried to create more test cases).
* There is currently a potential performance problem with a lot of keyword arguments and long argument lists (O(numKeywords * numTotalArguments) (see email chain below)

[2016-07-15 02:18] bartlettroscoe commented on #136
In thinking about this, I had an idea for how to refactor the argument parsing in `TRIBITS_ADD_ADVANCED_TEST()` that will make the function not have any restriction on the number of `TEST_<IDX>` blocks, will scale linearly with the number of `TEST_<IDX>` blocks, and will catch errors in non-contiguous test blocks.

In the initial implementation, I just pass in a fixed number of `TEST_<IDX>` keywor

[2016-07-15 13:44] bartlettroscoe commented on #136
Here is the email chain that prompted the creation of this Issue ticket (which was first a CASL PHI Trac ticket).

**Email chain:**
----
From: Bartlett, Roscoe A.
Sent: Monday, March 10, 2014 10:36 AM
To: 'Robert Salko'
Subject: RE: tribits AddAdvancedTest

Bob,

I will see about removing the restriction on the number of test cases today.  However, there are some performance implications that I ne

[2016-07-15 23:46] wfspotz commented on #119
@bartlettroscoe,

I am finally getting around to looking at this. I don't have a Fortran compiler installed, so I am building TriBITS with `-D TriBITS_ENABLE_Fortran=OFF`. When I run the tests, 11 of them fail:

[code]

If I look through the log for `HellowWorld`, I see the following CMake Error:

[code]

Followed by

[code]

So it looks like TriBITS is not handling the absence of a Fortran compil

[2016-07-16 02:26] bartlettroscoe commented on #119
I am taking a look.  I don't think I have tested TriBITS on a machine recently that does not have a compatible Fortran compiler yet.  I will try to dig into what is happening.

[2016-07-16 02:58] bartlettroscoe commented on #119
@wfspotz, I think I was able to address this.  Please try to pull the updated 'master' branch for TriBITS (commit 8959441) and give it a try again.

[2016-07-18 18:55] wfspotz commented on #119
@bartlettroscoe, with the latest commit, the tests changed from 11 failures to 8:
[code]
So your update fixed tests 128, 129, and 130.

The failure for test 131 (`TriBITS_TribitsExampleProject_ALL_ST_NoFortran`) appears to be:
[code]

[2016-07-18 19:28] bartlettroscoe commented on #119
This looks like these tests might be relying on GCC warning messages.  @wfspotz, what compiler are you using?   Is this Clang C++ on a Mac?  What version?

[2016-07-18 19:32] wfspotz commented on #119
[code]

[2016-07-19 03:51] bartlettroscoe commented on #119
@wfspotz, I remembered that I have access to a Mac and I was able to reproduce the failing tests:

[code]

I will work through these and get them to pass.

[2016-07-19 23:39] bartlettroscoe opened #137 "Add argument ‘EXCLUDE_IF_NOT_TRUE <var1> <var2> ...’ to TAT() and TAAT()"
There are times when you need to exclude a test based on some arbitrary CMake variable.  For example, as part of porting the TriBITS test suite to OSX as part of #119 , I am finding there are a few tests that don't work without Fortran.  So I could just put a big `IF (${PROJECT_NAME}_ENABLE_Fortran)` around these but then that would indent the entire function call, and actually I should move the f

[2016-07-20 04:38] bartlettroscoe commented on #119
@wfspotz, I think I have all of these failures addressed as of commit 7db2a18.  If you pull from the 'master' branch, you should have all passing tests:

[code]
Hopefully we can get automated tests set up on OSX at some point in the future to maintain this.

NOTE: These failing tests did not indicate any problems with TriBITS itself on OSX.  The issues were all related to how these tests were spec

[2016-07-20 12:48] bartlettroscoe commented on #137
You can see the new argument `EXCLUDE_IF_NOT_TRUE` in:

* [TRIBITS_ADD_TEST()](https://tribits.org/doc/TribitsDevelopersGuide.html#formal-arguments-tribits-add-test)
* [TRIBITS_ADD_ADVANCED_TEST()](https://tribits.org/doc/TribitsDevelopersGuide.html#overall-arguments-tribits-add-advanced-test)
* [TRIBITS_ADD_EXECUTABLE()](https://tribits.org/doc/TribitsDevelopersGuide.html#formal-arguments-tribits

[2016-07-20 12:48] #137 closed

[2016-07-20 13:20] bartlettroscoe opened #138 "Automate install and update of local git hooks and commit template"
**Description:**

Projects benefit from using [local git commit hooks](https://www.atlassian.com/git/tutorials/git-hooks/conceptual-overview).  Closely related to this is providing a [default commit log message template](http://codeinthehole.com/writing/a-useful-template-for-commit-messages/) (see trilinos/Trilinos#501).

**Tasks:**

1. Learn and document the ins and outs of installing local git c

[2016-07-20 14:07] bartlettroscoe commented on #138
The site:

* https://www.atlassian.com/git/tutorials/git-hooks/local-hooks

provides a nice overview of local git commit hooks.  Basically, you just install hooks into the directory `<repoDir>/.git/hooks/`.  Executable files with the names:

* `pre-commit`
* `prepare-commit-msg`
* `commit-msg`
* `post-commit`
* `post-checkout`
* `pre-rebase`

are automatically used as git hooks.  That above websit

[2016-07-20 14:15] bartlettroscoe commented on #138
For installing git hooks, we need a function like:

[code]

To install the git commit template, we could use a function like:

[code]

A TriBITS repo could then call these functions from the file `<repoDir>/cmake/CallbackSetupExtraOptions.cmake` as:

[code]

The file `<repoDir>/cmake/CallbackSetupExtraOptions.cmake` is a good file to put this in because this file only gets processed when a [full c

[2016-07-20 20:05] wfspotz commented on #119
Great! I pulled and re-ran, and all the tests pass.

I have a desktop MacPro with 12 processors and 2 GPUs, suitable for nightly testing.

[2016-07-23 20:17] wfspotz commented on #119
@bartlettroscoe,

I have upgraded the TriBITS python scripts to work under Python 2 and 3, mostly successfully. 192 of the 193 tests pass, under both versions of Python. The one failing test is
[code]
For this test, 189 unit tests pass, 4 fail, with 0 errors. These four unit tests are complicated enough that I am having trouble debugging them. I suspect that I tried to update a `print` statement,

[2016-07-25 20:15] bartlettroscoe commented on #119
Responding to @wfspotz from [above comment](https://github.com/TriBITSPub/TriBITS/issues/119#issuecomment-234737943):

Bill, the best way to more forward is for you to [fork the TriBITS repo into your GitHub account](https://help.github.com/articles/fork-a-repo), push the branch there, and then submit a pull-request as outlined [here](https://github.com/TriBITSPub/TriBITS/wiki/Contributing-to-TriB

[2016-07-25 20:53] bartlettroscoe commented on #119
@wfspotz, I would like to experiment with allowing contributors to directly push topic branches to the main TriBITS git repo.  Therefore, I have created a @TriBITSPub/collaborators team (which I added you to if you accept) that should allow you to directly push your branch.  If that works, then we can colloaborate on the same topic branch.  Can you try pushing your local branch directly to the mai

[2016-07-26 16:14] rppawlo opened #139 "gitdist: Support for large binary files or SVN?"
For large binary files, we use svn to store system test data. When adding new capability, this results in adding system tests along with changes to the source code. We use gitdist to pull and push multi-repo changes. Multiple users have been burned because gitdist doesn't push the svn repo changes. It would be nice for gitdist to support some simple commands for updating/pulling and pushing to rep

[2016-07-26 16:46] bartlettroscoe commented on #139
@rppawlo, I am not sure that adding non-git commands directly into gitdist is a good solution.   Right now, the appeal of gitdist is that it just distributes raw git commands across a set of git repos; simple.  If we start to add commands for other VC systems, this is going to get complicated very fast.

It sounds like instead that Drekar developers are looking for a tool like [mr](http://myrepos.

[2016-07-26 16:49] wfspotz commented on #119
@bartlettroscoe,

I have pushed the python3 branch to the TriBITS github repository. Reproducing the errors should be easy. I have attached my configuration script for reference (I had to give it a `.txt` suffix for github to recognize it as a text file).

[do-configure.txt](https://github.com/TriBITSPub/TriBITS/files/384321/do-configure.txt)

Note the line
[code]
I use this to switch between Pyth

[2016-07-26 22:16] bartlettroscoe commented on #139
FYI:

I cloned the myrepos git repo off github, installed `mr` under `~/bin/` and then tried to set it up to use with my set of Trilinos git repos:

[code]

I looked at the source code for `mr` and the problem is that it is hard-coded to assume that the remote repo is named 'origin'.  Because I use multiple git repos and different projects, I don't name my remotes 'origin' so that I don't get conf

[2016-07-27 13:36] bartlettroscoe commented on #43
I think as part of this work, I am going to take on some related changes/enhancements that are mentioned in the [TriBITS Backlog for multi-repo support](https://docs.google.com/document/d/1WKs8rJhI3037yKGnEVMhIx9dPN7a7uFRM5isdNAhAXI/edit#bookmark=id.4h7nwyhrxo24):

* Allow `${PROJECT_NAME}_PRE_REPOSITORIES` and `${PROJECT_NAME}_EXTRA_REPOSITORIES` to list the names of `NOPACKAGES` repos (see [here

[2016-07-27 14:00] bartlettroscoe commented on #139
@rppawlo, it looks like git-annex has a new [v6 repository mode](https://git-annex.branchable.com/tips/unlocked_files/) that looks very close to the ease of usage of standard git commands (just `git add <large-file>` and `git commit`).   It looks very close to the usage of the Git LFS spec (see [annex-largefiles](https://git-annex.branchable.com/tips/largefiles/)).  The downside is that it will st

[2016-07-27 15:59] bartlettroscoe commented on #139
@rppawlo, we should wait and see how Seth responds to the below email but from looking into this new git-annex mode, I think it might be possible to streamline the usage of git-annex with new `gitidst` commands `dist-fetch` (which will do a 'git annex sync'), `dist-pull` (which will do  and `dist-push`.  Once you set up the usage of gitdist and set up the logic for what (large/binary) files git-an

[2016-07-27 17:20] bartlettroscoe commented on #119
I am taking a look right now, first with Python 2.  Any changes I made I will add with new commits that I will push to the shared 'python3' branch.

[2016-07-27 17:23] rppawlo commented on #139
Thanks for looking into this Ross! I'll sit tight until we hear back from Seth.

[2016-07-27 17:25] rppawlo commented on #139
Adding @eric-c-cyr to this conversation

bummer about the "mr" tools being hard coded to origin - it looked really good.

[2016-07-27 18:22] bartlettroscoe commented on #139
It might just be that the 'mr register' command is hard-coded to 'origin'.  Grepping through the script, I don't see other explicit mentions of 'origin'.  It might be that if you manually build the the `.mrconfig` file that you can get around that restriction.

I understand the attractiveness of SVN (because many people already know that tool) but git-annex might be worth a look.  Let's see what S

[2016-07-27 19:40] bartlettroscoe commented on #119
@wfspotz, a 1-char change in the commit 8a393db got the remaining tests to pass.  I also commented out the temp `print()` debug statement in commit fbca615.  Now all of the tests pass:

[code]

and the CheckinTest tests show:

[code]

I need to look through all of the changes more but it looks like the most common changes where:

* Python 3 requires `print(...)` while Python 2 allowed `print ...`

[2016-07-28 02:10] bartlettroscoe commented on #119
I find that a much more natural way to format strings.  I dislike the C-style formatting of `print "<strconst> %s <strconst>" % (strvar)`.  That does not pass the locality test.  Also, you can format strings like that in C++ and it works well.

The problem with `pprint` is that it prints a dict on multiple lines.  That is not what I want for a more compact error message like this.  I think I thoug

[2016-07-28 18:24] bartlettroscoe commented on #139
The response back from Seth my response to him are given below.

Boy, if GitLab could be installed at SNL and supported Git-LFS, then that is something that SEMS should really look into.   That could make GitLab very attractive.  Note that Sandia does seem to have a GitLab instance installed (see issue https://sems-jira.sandia.gov/browse/SEMS-1104).

But note that Git-LFS is not all roses:

* http

[2016-07-29 20:18] cgbaker commented on #119
I don't run gitdist regularly, but I just noticed the print issue today, on my laptop on which I've apparently updated default python to 3.x. My temporary workaround was to tell my gitdist.py
`
#!/usr/bin/env python2.7
`
But obvs that doesn't work in general, so I'm looking forward to the update :)

[2016-07-29 20:28] bartlettroscoe commented on #119
Good to hear from you Chris!  This is almost ready to go (see the remaining 'tasks' above in the first comment).

@wfspotz, do you think you will be able to refactor and aggregate all of the char encoding functions, document them, and reduce duplication (see [above](https://github.com/TriBITSPub/TriBITS/issues/119#issuecomment-235780458))?  If not, I can likely find some time for that next week to

[2016-07-29 20:35] wfspotz commented on #119
@bartlettroscoe, @cgbaker,

Yeah, it shouldn't take long. I was required to do a security update that has spiraled out of control, but I should be able to get to it soon.

[2016-07-29 21:33] bartlettroscoe commented on #139
Below is and email response from Seth and my response to him.  To sum up feedback from Seth:

* Exnihilo is currently using git-annex and they use a script called autoannex.py to automate handling of large files to the Exnihilo git repo with git-annex.
* They would like to move from git-annex to Git-LFS but there is no support for that yet at ORNL (but it could be added to the ORNL code-int.ornl.g

[2016-07-29 22:06] wfspotz commented on #119
@bartlettroscoe, the test fails for Python 3:
[code]
Why the same dictionary hashes two different ways, I have no idea. But this is what I was seeing before.

I added a sorted_str() function to CDashQueryPassFail.py. I use it when the output message is generated, as well as in the test. All tests pass, for both versions of Python. Commit 116a2bda860207f4a96a4ca1c79b697b20ed347e.

I still have the

[2016-08-01 16:41] wfspotz commented on #119
@bartlettroscoe -- I think I am done with the TriBITS conversion. Give it a look.

[2016-08-01 18:49] bartlettroscoe commented on #139
FYI:  Looks like Sandia has GitLab sites (SON and SRN) set up that are supposed to support Git-LFS (but not git-annex).  I have created [Trilinos JIRA Issue TRIL-62](https://sems-jira.sandia.gov/browse/TRIL-62) to document this and investigate if Git-LFS works.

[2016-08-01 21:26] bartlettroscoe commented on #119
@wfspotz , I looked over the changes you made in the last two commits and they look great.  Thanks for doing that!  I wish the Python proper had a `sorted_str()` function for dictionaries.  I think I will rename this `sorted_dict_str()` (because this only works with dict objects, not all types in Python) and move it into GeneralScriptSupport.py so that it can be reused in other functions that need

[2016-08-02 01:03] bartlettroscoe commented on #119
@wfspotz , I completed all of the tasks described below and merged a rebased branch to TriBITS 'master' and snapshotted to Trilinos 'develop' and pushed.

I am putting this into review.  Let me know if you find any problems with this.  Otherwise, we can close.

Thanks again for taking care of this!

----

**Detailed Notes:**

* Rename `sorted_str()` to `sorted_dict_str()` and move it to GeneralScr

[2016-08-02 18:55] wfspotz commented on #119
I will pull from the master branch and test with Python 3, just to be sure. Hopefully later this afternoon.

[2016-08-02 20:36] wfspotz commented on #119
@bartlettroscoe,

OK, on the master branch, with Fortran disabled, and in serial/debug mode, 193 of 193 tests pass using Python 3. I have no more issues.

[2016-08-02 21:01] bartlettroscoe commented on #119
@wfspotz, thanks for the review!  I will go ahead and close this.

[2016-08-02 21:01] #119 closed

[2016-08-02 23:42] bartlettroscoe commented on #139
So after a lot of back and forth with the maintainer of the gitlab.sandia.gov site and a lot of research and experimentation, it seems that Git-LFS works with that site but you have to use HTTPS authentication (SSH authentication does not work with GitLab with Git-LFS).  See [Trilinos JIRA Issue TRIL-62](https://sems-jira.sandia.gov/browse/TRIL-62).

But I think I am far enough along to say that G

[2016-08-03 11:04] bartlettroscoe commented on #139
@rppawlo,

I created a Git-LFS version of the DrekarSystemTests repo on the SNL GitLab servers gitlab-ex.sandia.gov and gitlab.sandia.gov and it went smoothly.  It was an easy process and I got it working with Git-LFS on a new machine (shiler) in just a few minutes.  The details are below.

If we can get the Git-LFS client installed on to the SEMS NFS mount and the ATTB machines, then it should be

[2016-08-03 17:30] eric-c-cyr commented on #139
On internal machines that accessing HTTPS requires a proxy. Thus on some of the clusters, I've used ssh to get to github. Is there a way to set the HTTPS proxy?

[2016-08-03 17:59] bartlettroscoe commented on #139
Eric,

I did not need to set any proxy from the machines shiller or muir in order to access github.sandia.gov or github-ex.sandia.gov.  What machines need a proxy?  Are these on the SRN, SON or outside of the SNL network?

In any case, hopefully there should be simple instructions to set up the HTTPS proxy on any given machine.

Longer term, the hope is that GitLab will get Git-LFS to use SSH auth

[2016-08-08 21:25] bartlettroscoe commented on #119
Looks like this is not complete (see trilinos/Trilinos#541).  The issue is that there may not be any automated test for the tdd_driver.py script.  Actually, the problem is that we don't have automated testing for the `extraEnv` argument for the `echoRunSysCmnd()` function in `GeneralScriptSupport.py`.

I will add a failing unit test and fix this.

[2016-08-09 19:04] bartlettroscoe commented on #138
I am now thinking to instead do one function:

[code]

This would then be used like:

[code]

That way, we have just one function and yet we don't silently install the git commit template or hard-code the name of the git commit template file.  Git itself hard-codes the names of the hook scripts 'commit-msg', 'pre-push', etc. so what have to go with that.

[2016-08-09 20:03] bartlettroscoe commented on #138
Below is a long email chain with Brenan Kochunas dicussing this story.  He implemented a verion of MPACT that I will then take and use as the foundation for the TriBITS version.

-----

From: Kochunas, Brendan [mailto:bkochuna@umich.edu]
Sent: Tuesday, August 09, 2016 3:44 PM
To: Bartlett, Roscoe A
Cc: casl-vri-infrastructure@casl.gov
Subject: Re: [EXTERNAL] Adding git config install to configure

[2016-08-11 01:57] bartlettroscoe commented on #139
Just a tip, but you can speed up the initial clone using `git lfs clone <url>` vs. `git clone <url>`.

The time with raw `git clone <url>` is:

[code]

The time with `git lfs clone <url>`:

[code]

The `git lfs clone <url>` command gets all of the LFS objects at once.  The raw `git clone <url>` gets the LFS files one at a time.

The same goes for `git lfs pull` vs. `git pull`.  It is just a perfor

[2016-08-11 03:17] bartlettroscoe commented on #102
I have never seen this happen since.  Therefore, I am going to close this as wontfix.

[2016-08-11 03:17] #102 closed

[2016-08-11 14:13] bartlettroscoe commented on #139
BTW, I went ahead and updated the DrekarSystemTests Git-LFS repo for the current version of the SVN repo just to show that it is easy to do in the commit:

[code]

It is just a few commands to do this:

[code]

[2016-08-17 14:06] rppawlo commented on #139
Ross - just occurred to me that there might be another solution. git supports working directly from svn repos.

https://git-scm.com/book/en/v1/Git-and-Other-Systems-Git-and-Subversion

I recall that the moose team did this for quite a long time before moving to github. It's not the most appealing, since there are some a few dangerous things you have to manage. Just thought I would mention. I discu

[2016-08-17 16:49] bartlettroscoe commented on #139
I had not thought about git-svn.  The truth is that the DrekarSystemTests repo is really pretty small so I suspect that even if git-svn is extremely slow (which people seem to be claiming) that using git-svn with DrekarSystemTests may not be too bad.

But looking at:

* https://git-scm.com/book/en/v1/Git-and-Other-Systems-Git-and-Subversion
* http://blog.leneghan.com/2012/03/experiences-of-using-g

[2016-08-17 22:35] bartlettroscoe opened #141 "Add option to strip out email addresses for package regression emails"
This story is to add an option to TriBITS that will skip assigning email addresses for package regression emails.  The driving use case is that there is a contractor for Trilinos that needs to be able to submit results to their internal CDash site but they don't want the submit to create new dummy CDash accounts (which is how Kitware implemented the email regression capability with the uploaded CD

[2016-08-29 23:58] bartlettroscoe opened #142 "Add new developers guide section "How to check for and tweak ‘ENABLE’ variables""
This story is to add a new "How To" section to the TriBITS Developers Guide that explains to TriBITS project developers how to check and tweak TriBITS "ENABLE" variables (e.g. package, TPL, etc.).  It can be confusing if you don't realize that TriBITS allows these to be empty or true or false and sets up persistent cache vars that default to empty "".

[2016-08-29 23:59] bartlettroscoe commented on #142
An MPACT developer was asking about this so I will try to document this and get his feedback.

[2016-08-30 03:33] bartlettroscoe commented on #142
I added the section:

   https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-check-for-and-tweak-tribits-enable-cache-variables

I will now ask the MPACT developer to review.

[2016-08-30 13:34] bscollin commented on #142
Just a few minor comments.

*  Do you define <XXX> and <YYY>?  If its normal notation in the rest of the document, then I’m okay with it.
*  Should e SE packages and TPLs

Other than that, it looks pretty good.

[2016-08-30 13:38] bartlettroscoe commented on #142
@bscollin, can you please take a quick look at the first paragraph at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-check-for-and-tweak-tribits-enable-cache-variables

and see if it addresses the issue?

Thanks again for the review!

[2016-08-30 14:22] bscollin commented on #142
Yes, this update addresses my issues.

[2016-08-30 15:40] bartlettroscoe commented on #142
Thanks.  Closing as complete.

[2016-08-30 15:40] #142 closed

[2016-09-06 14:46] bartlettroscoe commented on #139
Looks like GitLab CE is on the verge of allowing Git-LFS to use pure SSH authentication with the GitLab server (but transferred over HTTPS).  See [this update](https://gitlab.com/gitlab-org/gitlab-ce/issues/3589#note_14899337).    We don't care how the objects are copied (SSH or HTTPS are fine, both are encrypted), we only care about how the authentication is done.

Hopefully we will see this on t

[2016-09-06 15:17] bartlettroscoe commented on #142
I made one more update to this section in commit f88cc6e.  Hopefully this will allow those who just want the steps without the explanation to get what they need faster.

[2016-09-09 15:50] bartlettroscoe opened #143 "Support TriBITS Repos that are not VC Repos in ExtraRepositoriesList.cmake file"
For repos listed in the file ExtraRepositoriesList.cmake, currently, TriBITS supports repos that are VC repos but are not TriBITS repos (i.e. passing `NOPACAKGES` for the `REPO_PACKSTAT` field in [TRIBITS_PROJECT_DEFINE_EXTRA_REPOSITORIES()](https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-project-define-extra-repositories)).  However, it does not support repos that are TriBITS repos bu

[2016-09-09 16:02] bartlettroscoe commented on #143
I fear that this work will be more difficult because I have not yet done the work to clean up the handling of extra repos that will occur in #43.  Therefore, I think that I just need to bite the bullet and take on that refactoring first before I take on this story.  As a result, I will block this story with #43 and and put this story into "Ready" for now.

[2016-09-09 19:00] bartlettroscoe opened #144 "checkin-test.py: Add option --enable-extra-packages for more robust sync processes"
The checkin-test.py script is used to implement multi-repo sync processes (see [Multi-Repository Almost Continuous Integration](https://tribits.org/doc/TribitsDevelopersGuide.html#multi-repository-almost-continuous-integration)).  This provides a robust and easy to set up way to sync changes from one repo to another in a multi-repo project (e.g. CASL VERA).  In general these sync scripts are set u

[2016-09-09 19:01] bartlettroscoe commented on #144
I am going to start working on this right now.  I think this is a pretty easy thing to implement.

[2016-09-09 21:10] carlos-stellar commented on #127
There appears to be a trend to move away from checking for conformance with specific versions of the C++ standard towards checking for availability of specific features. I've included some relevant links below. This idea is not new to client-side JavaScript development (link below at the bottom).

Before effort is put into detecting C++14, C++17, etc, I wonder if a different approach using feature

[2016-09-09 23:11] bartlettroscoe commented on #127
@carlos-stellar, thanks for the perspective.  This is a complex issue.  In a perfect world, you should just be able to assume that a compiler is all C++11, C++14, ..., compliant and then use all of the features that that standard says it should support.  But of course reality is messier.

The approach that we are taking in this ticket is to give a name "C++XY" to a set of desired C++ features for

[2016-09-11 21:09] bartlettroscoe commented on #144
This is complete.  I will just wait for confirmation from the driving customer Kevin Clarno and the CASL VERA SCALE/Exnihilo sync scripts.

[2016-09-12 00:33] carlos-stellar commented on #127
Thank you for the explanation.

The TriBITS Reference Guide, 2016-06-24, section 4.5, contains this:

“By default, the system will try to automatically find compiler flags
that will enable C++11 features. If it finds flags that allow a test
C++11 program to compile, then it will an additional set of
configure-time tests to see if several C++11 features are actually
supported by the configured C++

[2016-09-12 12:09] bartlettroscoe commented on #143
After some thought, I have decided to try to take on this specific Story without doing the full refactoring to clean up the handling of multiple repos by TriBITS in #43.  I think this is possible because right now TriBITS essentially assumes that every repo listed in the ExtraRepositoriesList.cmake file is a VC repo (and most use cases require it to be a git repo at that).  Therefore, the only cha

[2016-09-12 14:33] bartlettroscoe commented on #127
@carlos-stellar, the documentation you reference at:

* https://tribits.org/doc/TribitsBuildReference.html#enabling-support-for-c-11
* https://trilinos.org/docs/files/TrilinosBuildReference.html#enabling-support-for-c-11

looks to be pretty close to what is implemented in:

* https://github.com/trilinos/Trilinos/blob/master/cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake#L1763
* https://

[2016-09-13 02:29] bartlettroscoe commented on #143
I was able to reproduce the configure failure that was seen for processing the MPACT_Utils repo/package and fix the basic functioning.  I pushed to the branch empty-vctype-143 in my GitHub repo fork.  However, I ran into a defect with TriBITS related to #43 that will not allow the target use case to work.  Therefore, I need to pause on completing this story and bite the bullet and work an expanded

[2016-09-13 02:49] bartlettroscoe commented on #43
In order to complete the use case PHI Kanban #4365 "Make MPACT_Utils accessible to CTF and MAMBA" that is motivating #143, I need to fix the TriBITS extra repo handling to allow TriBITS repos to to be in subdirs not at the base level.  For example, when I tried adding the MPACT_Utils repo with:

[code]

TriBITS currently ignores the repo dir MPACT/MPACT_Utils and it instead just assumes the dir is

[2016-09-13 15:12] bartlettroscoe commented on #144
Kevin Clarno turned on this option and used it in a push.  I think this is all of the confirmation needed.  The details are in (CASL people only can see):

* https://vminfo.casl.gov/trac/casl_phi_kanban/ticket/3464#comment:22

Closing as complete.

[2016-09-13 15:12] #144 closed

[2016-09-13 15:54] carlos-stellar commented on #127
Thank you! This is all of a sudden making a lot more sense.

Right now I am just trying to understand TriBITS/Trilinos better. I do
not have any particular interest in this story, beyond making sense of
it in the bigger context of the software and documentation.

Carlos Reyes

1-505-206-1569 (mobile)

On 09/12/2016 08:33 AM, Roscoe A. Bartlett wrote:

[2016-09-17 13:32] bartlettroscoe opened #146 "Enable git bisect with multi-repos with gitdist and TriBITS"
**Blocked By:** ???

**Description:**

Since TriBITS archives `<Project>RepoVersion.txt` files with every CI and Nighty on CDash it was easy enough to manually go back in history and reproduce any build to allow a type of manually bisect.  (This has allowed CASL VERA to reproduce any build shown on CDash with history going back months).  But I appreciate the need/desire for using the automated git

[2016-09-21 18:10] bartlettroscoe commented on #139
FYI:

It looks like the next release of GitLab CE will have support for pure SSH authentication for Git-LFS.  See:

* https://gitlab.com/gitlab-org/gitlab-ce/issues/3589#note_15739652

I think this means that this will show up on the SNL GitLab servers in a few months.

[2016-09-23 22:36] mhoemmen commented on #72
If Fortran is off, is this hard to do?  I would particularly like to have checkin-test.py support.  I'm willing to do the work (e.g., add the command-line argument) if it's not hard.

[2016-10-03 21:04] bartlettroscoe commented on #72
A few things:

1) Currently, checkin-test.py would have to be trained to call 'ninja' instead of 'make'.  Not a big deal but I want to have TriBITS generate dummy makefiles to call ninja to help with usability of ninja and ease transition for users/tools that don't know about ninja (see below).

2) I understand the desire to use Ninja for driving development but does it make a big impact for pre-p

[2016-10-03 21:42] mhoemmen commented on #72
Ah, I see.  That would be delightful; please don't let me hinder you :-)  I am in no rush to have this work.

It's not a huge deal for me.  I use the check-in test script to manage all my build configurations.  I normally run either make or ninja by hand while I'm doing development.  Ninja doesn't let me change into subdirectories and build there like make does, so my current manual-build process

[2016-10-11 15:29] sethrj opened #148 "Custom FindPythonInterp prevents Python 3"
I'd like to test out our code with Python 3, but the call made by `FindPythonInterp`

    import sys; print sys.version.split()[0]

is a syntax error in Python 3.0 and higher. Rather than fixing that error (and adding Python 3 versions to that same file), it would be simpler and more future-proof to simply remove the `core/modules/FindPythonInterp.cmake` script and allow the CMake-distributed scri

[2016-10-11 15:41] bartlettroscoe commented on #148
@sethrj, I think @wfspotz added the module [tribits/core/modules/FindPythonInterp.cmake](https://github.com/TriBITSPub/TriBITS/blob/master/tribits/core/modules/FindPythonInterp.cmake) a long time ago (before it got moved to Trilinos/cmake/tribits/ which was then pulled out into this separate TriBITS git repo).  I think @wfspotz did that to better support PyTrilinos but I am not sure. Therefore, I

[2016-10-11 15:49] wfspotz commented on #148
I overrode FindPythonInterp.cmake in order to add version checking. It looks like the new version of CMake's standard FindPythonInterp.cmake now supports version checking. We would have to determine at what CMake version this was added and compare that to TriBIT's minimum CMake version requirement.

[2016-10-11 16:12] sethrj commented on #148
@wfspotz I can confirm that version checking and setting of `PYTHON_VERSION_STRING` is present in 2.8.12, which is one minor version above `TRIBITS_CMAKE_MINIMUM_REQUIRED`.  The 2.8.12 release notes don't say anything about the FindPythonInterp module being changed so I think it's safe to assume the change was from an older version of cmake.

[2016-10-11 18:55] carlos-stellar commented on #148
I'm sure there are other fixes that would need to be applied to the
file, but the fix for the code sample you provided is trivial:

import sys; print(sys.version.split()[0])

This revised code should behave the same way under both Python 2 and 3.

Carlos Reyes
1-505-206-1569 (mobile)

On 10/11/2016 09:29 AM, Seth R. Johnson wrote:

[2016-10-11 22:53] bartlettroscoe commented on #148
@sethrj, can you try this in your local version of TriBITS and see if it fixes your issue?  If it does, can you submit a PR with this fix?

Soon we should try to push to update the minimum-supported version of TriBITS from 2.8.11 to something more recent.  I would say we should push for at least CMake 3.0.0 or newer.  Then we don't need as many if statements for older version of CMake.

[2016-10-12 17:06] wfspotz commented on #148
This should have been addressed in the Python 2 -> 3 upgrade we did. I am confused as to why we are seeing it.

[2016-10-12 19:38] sethrj commented on #148
@carlos-stellar @bartlettroscoe Yes, that certainly does allow a Python 3.0 executable to be accepted, but the configure failure is only part of the problem.
The `FindPythonInterp` script in TriBITS does not search for python versions greater than 2.7; but more importantly (for our case) it doesn't set the `PYTHON_VERSION_STRING` variable that CMake 2.8.11's version sets.  So if you want to make a

[2016-10-12 23:38] bartlettroscoe commented on #148
Then we have to update the minimum version to cmake 2.8.12, right?

[2016-10-13 03:11] sethrj commented on #148
@bartlettroscoe I downloaded 2.8.11 and verified it has all the Python version checking logic present in the current version and more recent than the TriBITS version. So removing FindPythonInterp will not require a change in the minimum CMake version.

[2016-10-13 13:40] bartlettroscoe commented on #148
@sethrj, I am fine with PR #148.  My only worry is that it will break PyTrilinos under Trilinos.  I am not set up to be able to build and test PyTrilinos so I will need some help testing it.  Also, it appears that there is no automated testing set up for PyTrilinos as shown here:

* http://testing.sandia.gov/cdash/viewSubProjects.php?project=Trilinos&date=2016-10-12

so if we do break it, we will

[2016-10-13 13:54] bartlettroscoe commented on #148
I accepted PR #149 by rebasing and editing the commits (to add the GitHub ID and requested here and then tested as pushed as the commits 36fd6cf and b3be5c7. I am closing this PR.

@sethrj, do you need this synced to the CASL VERA TriBITS clone or is having it pushed to the 'master' branch of this GitHub repo enough?  It will get synced to CASL and Trilinos eventually.

Let me know if it is okay t

[2016-10-17 13:40] bartlettroscoe commented on #148
No response to above comment so closing as complete.

[2016-10-17 13:40] #148 closed

[2016-10-17 21:05] bartlettroscoe commented on #126
I am going to slam this out since this would likely fix a problem for xSDKTrilinos on an OSX system (see trilinos/xSDKTrilinos#8).

[2016-10-19 01:07] bartlettroscoe commented on #139
Good news, the latest release of GitLab has the full SSH authentication for Git-LFS:

* https://about.gitlab.com/2016/09/22/gitlab-8-12-released/

Now we just need to get them to insall it for the SNL GitLab servers.

[2016-10-19 23:56] bartlettroscoe commented on #126
So much for slamming this out ...

I am working on a slightly revised plan:

* Define new global project option `${PROJECT_NAME}_SET_INSTALL_RPATH` and allow projects to set the default with `${PROJECT_NAME}_SET_INSTALL_RPATH_DEFAULT` but make the default `TRUE`.

* If `${PROJECT_NAME}_SET_INSTALL_RPATH==TRUE`, then set default for `CMAKE_INSTALL_RPATH` to the library install directory.

* Set the

[2016-10-20 13:20] bartlettroscoe commented on #139
Looks like they already installed GitLab 8.12 on the SNL GitLab servers but it does not seem to work for SSH Git-LFS authentication yet.

-------

From: Bartlett, Roscoe A
Sent: Tuesday, October 18, 2016 10:28 PM
To: Hickey, Richard A
Subject: RE: GitLab 8.12 with pure SSH for Git-LFS

It looks like it does not work:

[code]

This cloned the repos but failed to replace the LFS-mangaed files  with

[2016-10-21 22:33] ibaned commented on #126
I assume this issue encompasses adding TPL RPATHs to Trilinos libraries, for example `libzoltan.so` would have the RPATH to find `libparmetis.so` if the ParMETIS TPL is enabled ? If so I am interested in the resolution of this issue, thank you for doing this work.

[2016-10-22 15:37] bartlettroscoe commented on #126
@ibaned,

Yes, this will resolve that issue.  The new default will be the add the directories for all the external TPLs to RPATH.  But you can do that right now by just configuring with:

[code]

That is a magical CMake option that I just learned about recently.  The new TriBITS will make that the default.

Would you be willing to review the documentation for RPATH once I push it to this GitHub re

[2016-10-22 17:11] ibaned commented on #126
Excellent, I've also been making that the default in my codes (actually, the whole "full RPATH" from Kitware's documentation). I wasn't sure TriBITS would respect it on the command line, but I'll try that in the meantime. I'd be happy to review, just let me know when it's pushed.

[2016-10-22 18:23] bartlettroscoe opened #150 "Add new pass/fail critera for test cases for TRIBITS_ADD_ADVANCED_TEST()"
While implementing the tests for RPATH handling (#126), I identified that we really new a few new pass/fail criteria for TRIBITS_ADD_ADVANCED_TEST() for each individual `TEST_<IDX>` case:
- `ALWAYS_FAIL_ON_NONZERO_RETURN`:  Require a zero return value in addition to other pass/fail criteria.  (Often times you want to grep for output but you would also like the return value to be zero in addition.

[2016-10-22 19:49] bartlettroscoe commented on #150
Wow, this is crazy but I found out that the `FAIL_REGULAR_EXPRESSION` argument passed to a test case for TAAT() was just being ignored!  How did that happen?

I am going to fix this as part of this story as well.

[2016-10-23 00:24] bartlettroscoe commented on #85
Sorry for the long delay, but commit 4303bea fixes this cleanly and adds good automated tests to demonstrate and protect correct behavior.

I will snapshot this into Trilinos proper once I get #126 finished.  I will run as much of the Trilinos test suite when I do.

[2016-10-23 00:25] bartlettroscoe commented on #150
I should have this reviewed but I don't know who would be willing to review it.

[2016-10-23 01:51] bartlettroscoe commented on #126
For the perspective of the user who is just configuring using CMake, in general, a project that uses TriBITS should behave just like any regular old CMake project (except perhaps with different defaults).  If you set any raw CMake variable, it should have the same effect as it would with any other CMake proejct.  However, there are some known examples where this is not true that need to be fixed (

[2016-10-25 15:29] bartlettroscoe opened #151 "gitdist: Change name of --dist-extra-repos to --dist-repos and add base repo as ‘.’"
With the current gitdist script, it is a bit verbose to run git commands on a subset of repos.  For example, to only run git commands on the repos `<repox>` and `<repoy>` one had to run:

[code]

That is more verbose that one would want.

Also, there are some use cases where one wants to manage a set of git repos where the base directory is not a git repo.  Therefore, one would have to run:

[code

[2016-10-25 15:29] bartlettroscoe commented on #151
I was flying on a plane and bored so I started working on this.  I have this about done including updated unit tests.

[2016-10-25 19:43] bartlettroscoe commented on #151
Pushed the branch with commit 27ef959.  I just need to warn people that this change is coming and get their feedback.

[2016-10-27 03:56] bartlettroscoe commented on #87
See the commits just pushed to 'master' 50d8cdf, d8ca6ff, and bc66575.

This is a huge improvement for TriBITS testing.  Now you get nice compact output to Travis CI that is updated while the build and tests are running and then a link to the CDash site for more detailed results.

[2016-10-27 03:58] bartlettroscoe commented on #87
I also updated the page:

* https://github.com/TriBITSPub/TriBITS/wiki/TriBITS-CDash-Dashboard

I am putting this in review.

@jwillenbring, I would like too show this to you.  This is pretty slick and a nice model for possible Trilinos testing.

[2016-10-31 21:10] csiefer2 opened #152 "Checkin Test Script Feature Request: Ignore tests that were failing before our changes"
As discussed at TUG16, a useful TriBITS feature would be a way to tell the checkin test script to ignore tests that were failing before the changes represented by my commits.

[2016-10-31 21:11] csiefer2 opened #153 "Checkin Test Script Feature Request: Add Extra String to Push Commit Message"
It might be useful to allow the checkin test script to add an extra string to the push commit message.

For instance, this might be very nice in the case of manual code reviews and/or pair programming.

[2016-11-03 01:07] bartlettroscoe commented on #126
I just pushed the commit eb300ad to the 'master' branch so this is ready to review.  The updated documentation on RPATH handling can be seen here:

* https://tribits.org/doc/TribitsBuildReference.html#setting-install-rpath
* https://tribits.org/doc/TribitsDevelopersGuide.html#rpath-handling

I wrote some pretty good automated tests for these different RPATH use cases and ran them on OSX and Linux

[2016-11-03 01:25] bartlettroscoe commented on #151
I have now pushed this to the TriBITS GitHub 'master' branch as commit fecd692.  This will not be active in any project until this version of gitdist gets installed.

[2016-11-03 01:51] ibaned commented on #126
Thanks @bartlettroscoe !
Here are tiny spelling/grammar comments for the documentation:
 * In "Setting Install RPATH" should the first bullet be `CMAKE_INSTALL_RPATH` (the `R` is missing) ?
 * In that same section, I would rename items (2) and (3) to "targets will move after installation" and "targets and TPLs will move after installation", or at least shorten item (3)'s title
 * In "RPATH Handlin

[2016-11-03 13:46] bartlettroscoe commented on #126
@ibaned,

Thanks for the review!  I fixed the typos and make your other suggested changes in the commit 4769da4.

@bradking, let me know if you ca do a review.  I will leave this "in review" until then.

[2016-11-03 13:55] bradking commented on #126
@bartlettroscoe I've just finished reading through the documentation.  It looks fine after the fixup commit.

[2016-11-03 13:56] bartlettroscoe commented on #126
Thanks @bradking.  I am now closing at complete.

No more RPATH problems with shared libraries :-)

[2016-11-03 13:56] #126 closed

[2016-11-04 13:05] bartlettroscoe commented on #153
@csiefer2,

Can you give some more concrete use cases for what you would pass into an argument like this?

Could you accomplish this with just `git commit --amend` before running the checkin-test.py script?  What would be the advantage of passing this info in through an argument to checkin-test.py instead of using `git commit --amend`?

For some background, the reason the checkin-test.py script am

[2016-11-04 14:01] csiefer2 commented on #153
I see this as a means add a comment that has some sort of "final" description of the feature my string of commits is adding to the code.  Maybe with a note that says, "This code was reviewed / pair programmed with person X."

One could do git commit --amend before running the checkin-test.py script.  However, if checkin test script failed because the code is broken, you'd want to remove that "fina

[2016-11-04 14:17] bartlettroscoe commented on #152
Yup, that has been in the backlog for a while now.  See:

* https://docs.google.com/document/d/1WKs8rJhI3037yKGnEVMhIx9dPN7a7uFRM5isdNAhAXI/edit#bookmark=id.e6bef1l7mks
* https://docs.google.com/document/d/1WKs8rJhI3037yKGnEVMhIx9dPN7a7uFRM5isdNAhAXI/edit#bookmark=id.x0u2uu57d9w1

which states:

* Add option `--compare-tests-to=<base-testing-dir>` to allow comparing test results to another testing

[2016-11-04 14:29] csiefer2 commented on #152
Something like that would do exactly what I've suggested.

[2016-11-04 15:55] bartlettroscoe commented on #153
Okay, if the goal is to make sure and always amend the top commit message before the final push, the same commit that gets amended before the final push, then I can see the need for this option and not just using `git commit --amend` manually.  However, if the push fails and you don't amend, then you may need to create new commits to fix the problem and those might need to be reviewed as well.  In

[2016-11-04 16:03] csiefer2 commented on #153
I suspect that folks don't pair program all of the time.  I don't.  But it can be very useful for difficult to find bugs.

[2016-11-04 20:59] bartlettroscoe commented on #151
Actually I just realized that this is a pretty safe upgrade.  If you add '.' to the .gitdist.[default] file but don't upgrade gitdist, then you process the base repo twice.   I just noticed this when I was updating Trilinos/.gitdist.default:

[code]

So if you are just mostly doing things like `gitdist pull`, `gitdist push`, and `gitdist-status`, this is pretty harmless.  It is only doing other th

[2016-11-07 13:47] bartlettroscoe commented on #151
I also sent the following email to the CASL VERA developers warning them about the upgrade.

----

From: Bartlett, Roscoe A
Sent: Saturday, November 05, 2016 9:05 PM
To: casl-vri-testing@casl.gov
Cc: casl-vri-infrastructure@casl.gov
Subject: IMPORTANT: Update for gitdist change!
Importance: High

Hello VERA Developers,

I just merged a small non-backward compatible change for the `gitdist` tool to

[2016-11-07 15:33] bartlettroscoe commented on #85
The updated fix was snapshotted to the Trilinos GitHub 'develop' branch on Saturday, 11/5/2016 in the Trilinos commit:

[code]

Which was merged to the Trilinos 'devleop' branch in the commit:

[code]

To cleanly update Trilinos, I had to back out the earlier commit [c9f5e7bd](https://github.com/trilinos/Trilinos/commit/c9f5e7bd) that was made made directly to Trilinos to avoid a merge conflict.

[2016-11-08 17:26] lefebvre commented on #129
@bartlettroscoe I am encountering this issue again.
I require TriBITS to be an extra repository, but this symlink is causing a configuration error.
I have NOPACKAGES set for TriBITS, but it still presents with this error
[code]

So this symlink is switch out for a file with a single line containing the relative path to the link destination.
Any other ideas about how to resolve this issue?

Thanks,

[2016-11-08 17:40] bartlettroscoe commented on #129
For now I can just duplicate this file and I will put in a configure-time check to make sure they are the same in case I forgot if I change one without updating the other.  Longer term, I want to configure the Version.cmake file taking advantage of the current  git tag.  See:

* https://docs.google.com/document/d/1WKs8rJhI3037yKGnEVMhIx9dPN7a7uFRM5isdNAhAXI/edit#bookmark=id.c9fdw29elloo

If I crea

[2016-11-08 18:06] lefebvre commented on #129
@bartlettroscoe  no need to make a branch.
I will make a local change and test.

[2016-11-09 21:57] kddevin commented on #85
I have tests of this capability in Zoltan2 (called "testfail"); they worked with the patch I put in Trilinos' TriBits.  If they are running OK with the new snapshot, then the new snapshot must be OK, too.  Thanks, @bartlettroscoe .

[2016-11-09 22:01] bartlettroscoe commented on #85
@kddevin, Thanks for thanks for taking the time to review this and sorry this took so long.

Closing as complete.

[2016-11-09 22:01] #85 closed

[2016-11-10 19:21] jwillenbring commented on #87
@bartlettroscoe I am interested in learning about this. Are you thinking a Skype session? I don't know if you are at SC next week, if not we could set up a time. Otherwise, I have time Monday before Thanksgiving.

[2016-11-10 19:27] bartlettroscoe commented on #87
@jwillenbring, now that we know of a fool-proof way to create a good CDash URL (using "Build Stamp" from Zack), let me implement that before we meet.  That will address the remaining issues with this.   I will create a new TriBITS Issue for the few updates to this and CC you on that.  Not much more work to be done (other than better adding automated testing and examples).

[2016-11-10 19:27] #87 closed

[2016-11-10 20:35] bartlettroscoe opened #154 "Improve TribitsCTestDriverCore.cmake for integration with GitHub CI drivers"
**CC:** @jwillenbring

## Description

Currently, `tribits_ctest_driver()` just prints out the site name, the build name, and the URL of the CDash site.  That is good but we can do better.    We need to improve the URL to make it a single unique click.  We can do that by:

* Get “Build Stamp” from TAG file (which has `<date-time>` and `<build-type>`) to build CDash URL query with “Site”, “Build Na

[2016-11-11 02:18] bartlettroscoe opened #155 "checkin-test.py: Generated COMMON.config option BUILD_SHARED should be BUILD_SHARED_LIB"
**Description:**

The file `tribits/ci_support/CheckinTest.py` generates `*.config` files with example configuration changes commented out. One of them is `-DBUILD_SHARED:BOOL=ON`. But this should be `-DBUILD_SHARED_LIBS:BOOL=ON.`

[2016-11-11 02:27] bartlettroscoe commented on #155
Done

[2016-11-11 02:27] #155 closed

[2016-11-11 18:03] lefebvre commented on #129
Yes. This resolves the issue.

[2016-11-11 21:28] bartlettroscoe commented on #139
Looks like Git-LFS with SSH should work on the SNL GitLab servers.  I need to try that out.  See:

* https://sems.sandia.gov/jira/browse/TRIL-62?focusedCommentId=13159&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13159

[2016-11-14 17:38] bartlettroscoe commented on #152
To be safe, we would also need another option like `--allowed-failed-control-tests=<M>` that would restrict the number of existing failing tests that would be allowed in order to give the okay to push.  For example, if just 5 or 10 tests are already failing, then that might be okay but if 1000 are already failing, then it is likely not safe to push because you may be breaking those tests in a new

[2016-11-14 17:42] csiefer2 commented on #152
That sounds very reasonable.

[2016-11-15 02:20] bartlettroscoe commented on #129
@lefebvre,

I just pushed the commit:

[code]

to the TriBITS GitHub 'master' branch.

Can you please try this out to make sure this fixes your problem and then add a comment here?  I will keep this issue in review until I hear back from you.

[2016-11-16 13:25] bartlettroscoe commented on #129
Given the comment [above](https://github.com/TriBITSPub/TriBITS/issues/129#issuecomment-260017402), I am going to assume that creating a copy of the Version.cmake file fixes the problem.

[2016-11-16 13:25] #129 closed

[2016-11-22 20:18] bartlettroscoe opened #157 "Make `-D<Project>_CONFIGURE_OPTIONS_FILE:STRING=<rel-path>` evaluate relative paths w.r.t. the source base directory"
Currently, the TriBITS project cmake cache var `<Project>_CONFIGURE_OPTIONS_FILE` is of type `FILEPATH`.  Therefore, if one specifies:

[code]

for some relative path `<rel-path>` then it makes it relative to the current working directory, which is typically the build directory.   But often the `*.cmake` options files that are read in are stored in the source tree so you have to do ugly things lik

[2016-11-22 20:19] bartlettroscoe commented on #157
This is needed right away for trilinos/Trilinos#482 so I am going to do this right now.

[2016-11-23 13:31] nschloe opened #158 "script-not-executable"
Warning from Debian:
[code]
See [here](https://lintian.debian.org/tags/script-not-executable.html):
[code]

[2016-11-23 15:06] bartlettroscoe commented on #157
This is completed and pushed in 97fb429 and one can see the updated documentation here:

* https://tribits.org/doc/TribitsBuildReference.html#basic-configuration

(see "Create a CMake file fragment and point to it")

Closing as complete.

[2016-11-23 15:06] #157 closed

[2016-11-23 15:08] bartlettroscoe commented on #151
I closed the CASL PHI ticket on this and I have not heard anything back.  Therefore, it has been enough time and I am closing as complete.

[2016-11-23 15:08] #151 closed

[2016-11-28 22:29] bartlettroscoe commented on #158
@nschloe, currently TriBITS CMake code is not copying these files, Trilinos CMake code is.  As I mentioned [here](https://github.com/TriBITSPub/TriBITS/issues/125#issuecomment-223356253), we need to work #114 which will fix this once Trilinos takes advantage of this.

Therefore, I am closing as a duplicate of #125 which will be addressed as part of #114.  The story #114 is not a huge amount of wor

[2016-11-28 22:29] #158 closed

[2016-11-29 08:43] nschloe commented on #158
Whoops, sorry for filing it twice. I'd forgotten about #125.

[2016-11-29 16:01] bartlettroscoe commented on #148
@bmpersc says that this update changed the way that Python is found.  Instead of finding the first version of Python that has the minimum version of 2.6 it instead finds the the first Python that is exactly that version.  This is breaking the current Trilinos CI build in that it skips over the first Python in the path that is 2.7 and instead finds the 2.6 which is deeper in the path.  That breaks

[2016-11-29 16:27] bartlettroscoe commented on #148
CC: @jwillenbring

@bmpersc, I am not seeing the behavior you described on the phone just now for the TribitsCTestDriverCore.cmake code with Python.  For Trilinos version:

[code]

I see:

[code]

See, it recognizes that the minimum is 2.6 but it actually finds 2.7.  I know that 2.6 is in the path because it is in /usr/bin:

[code]

I am just going to watch this and see what happens but it looks l

[2016-11-29 18:04] bartlettroscoe commented on #105
This is also an issue for the Trilinos CI server as well (see trilinos/Trilinos#482).  We would like to run a CI server all day long but have it restart every day with a fresh build.  Setting absolute stop times would ensure that the last CI build would be (gracefully) killed before the fresh CI build the next testing day was started.

[2016-11-30 22:10] tjfulle opened #159 "Incorrect configuration search paths set in `checkin-test.getConfigurationSearchPaths`"
This issue originated from Trilinos [Issue 482](https://github.com/trilinos/Trilinos/issues/482):

Function `getConfigurationSearchPaths` in `checkin-test.py` has the following incorrectly sets configuration file search paths.  The function contains the following:

[code]

But, `checkin-test.py` actually lives in `<project-root>/cmake/tribits/ci_support`, so it should be

[code]

This doesn't usua

[2016-11-30 22:37] bartlettroscoe commented on #159
@tjfulle, thanks for creating this.  I can help you get set up to add some unit tests for these use cases.  The unit test suite for checkin-test.py is very strong but it takes a bit to get into adding to it.  We can discuss that.  Hopefully it will not be too bad.  The good news is that we just need to ensure that the expected configuration file is correctly read and then we can abort the script.

[2016-12-02 02:52] bartlettroscoe opened #160 "snapshot-dir.py: Assert that it will not run in a non-git repo or ignored dir"
The current snapshot-dir.py script can write out all of the files in a badly chosen destination directory.  This is because the `rsync -cav --delete` command will delete everything in targeted dest-dir directory that is not the same as the orig-dir.  That is like running `rm -r *` if you are not careful.

This problem was mentioned by @gsjaardema who uses it to snapshot some directories between gi

[2016-12-02 03:17] bartlettroscoe commented on #160
The first thing I tried was to snapshot to a directory that is not under a git repo.  For this I did:

[code]

This actually erred out before running rsync with the error:

[code]

So that use case is already caught by the assertion of the dest-dir and therefore is safely caught before any deletion occurs.

However, if you run this from an ignored subdir of a git repo, then it will delete everythi

[2016-12-02 04:18] bartlettroscoe commented on #160
Thinking about this more, I realized that in order to make the snapshot-dir.py script 100% safe for all arbitrary use cases by default that it must assert:

1) dest-dir is a non-ignored subdir of a git repo.

2) There are no ignored files in the dest-dir or any subdir.

3) There are no untracked files in the dest-dir or any subdir.

If all of the above are true, then when rsync runs with the --del

[2016-12-02 21:05] tjfulle opened #161 "Failing test due to bad copy command"
The following test fails from a fresh clone of TriBITS due to arguments to incompatible arguments to the `BSD` implementation of `cp`:

[code]

[2016-12-02 21:08] tjfulle commented on #159
@bartlettroscoe, I've made the change and run the tests (they all pass except for the test described in #161).  I'll need a little guidance to actually testing the change.  It will require symlinking `checkin-test.py` to some directory and then running tests from there.

[2016-12-02 21:14] bartlettroscoe commented on #159
@tjfulle, can you please push what you have to a branch (call it `config-file-search-path-159`) in your GitHub TriBITS fork and then make a PR against this repo's master branch (and check the box about allowing maintainers to add commits)?  That way we can collaborate on this really fast on this branch to work this out.

Can you specify ins specific terms the exact uses case you want to support (e

[2016-12-02 21:27] tjfulle commented on #159
@bartlettroscoe Done.

A test case would be to symbolically link `checkin-test.py` *anywhere* outside of TriBITS.  Then, `getConfigurationSearchPaths` would have to use the realpath to `checkin-test.py` and then find the base TriBITS directory by going up 3 directories from there.  Originally, it went up only 2 directories (not accounting for `ci_support`).

[2016-12-02 21:36] bartlettroscoe commented on #159
Please give the exact commands.  Are you symlinking Trilinos/checkin-test.py or Trilinos/cmake/tribits/ci_support/checkin-test.py?  What checkin-test.py arguments are you using?

[2016-12-02 21:37] bartlettroscoe commented on #159
What is the exact error message you are getting with those commands?

[2016-12-02 21:40] bartlettroscoe commented on #160
Here is another mistake that someone made recently that I never would have thought of.  They tried to snapshot to and form the same directory!  Apparently rsync does something pretty evil in that case!

Therefore, we need to put in a check to make sure that the orig-dir and dest-dir don't overlap!

[2016-12-02 21:51] bartlettroscoe commented on #161
@tjfulle, is it just this one test TriBITS_TribitsHelloWorld_CONFIGURE_OPTIONS_FILE that is failing?

[2016-12-02 21:52] tjfulle commented on #159
If you look at the diff between the two versions, you can see that the original only looks for the configuration file 2 directories up from the real path of `checkin-test.py`.  It does not account for the `ci_support` directory and should lo k 3 directories up.  The bug is skipped if `checkin-test.py` is symlinked in to the same directory as the configuration file since the function also looks the

[2016-12-02 21:56] tjfulle commented on #161
Yes, just one overall failure. It seems like the test is a composite tests and none of the sub tests run after this first failure

[2016-12-02 21:59] bartlettroscoe commented on #161
Yea, that is what it is.  It is defined using TRIBITS_ADD_ADVANCED_TEST().  I will try using a cmake -E copy command and see if that copies symlinks or not.

[2016-12-02 22:18] tjfulle commented on #159
It just occurred to me that `checkin-test.py` should also fail to find the configuration file if run directly from `cmake/tribits/ci_support` because it will only look 2 directories up instead of 3.

[2016-12-02 23:36] bartlettroscoe commented on #161
@tjfulle, this should be fixed by commit 08f4108 that I just pushed.  Can you please pull new 'master' version and try this again on your machine?

[2016-12-03 04:59] tjfulle commented on #161
@bartlettroscoe  All tests passed!

[2016-12-03 16:40] bartlettroscoe commented on #161
Thanks

[2016-12-03 16:40] #161 closed

[2016-12-03 17:26] bartlettroscoe opened #163 "TribitsCTestDriverCore.cmake: Pass through <Project>_SECONDARY_TESTED_CODE=OFF to inner configure"
The current implementation of TribitsCTestDriverCore.cmake only sets `<Project>_SECONDARY_TESTED_CODE` on the inner configure if it is `ON`.  That assumes that a project's default is to have it set to `OFF`.  But Trilinos has had `Trilinos_SECONDARY_TESTED_CODE`  set to `ON` by default for a long time (and that makes more sense if users are accessing the 'master' branch directly). (This little bit

[2016-12-07 18:23] bkochuna opened #164 "-D<PROJECT_NAME>_SCALE_TEST_TIMEOUT does not get applied to default timeout"
We have a CMake function like the following

[code]
and for our test configuration it appears that TriBITS determines the test timeout  to be 600 s (in other configurations it appears that TriBITS will determine the timeout to be 1500 s).

It's not clear how the default timeout for the test is determined.

Furthermore, if use the `-D<PROJECT_NAME>_SCALE_TEST_TIMEOUT` option, this does not affect t

[2016-12-07 18:28] bartlettroscoe commented on #164
Thanks @bkochuna, I will have a look.  I will start with trying to make the documentation more clear how test timeouts are determined and then see if `TRIBITS_ADD_EXECUTABLE_AND_TEST()` is doing this correctly or not.

[2016-12-08 15:58] bartlettroscoe commented on #163
This should be done.  I also updated Trilinos to remove the deprecated usage of `<Project>_ENABLE_SECONDARY_STABLE_CODE` (see Trilinos commit https://github.com/trilinos/Trilinos/commit/4ce2b87213a79d6efe45d9680416fbe702e8b100).

[2016-12-08 15:59] bartlettroscoe commented on #150
No one is going to review this.  Closing as complete.

[2016-12-08 15:59] #150 closed

[2016-12-09 20:28] bartlettroscoe opened #165 "checkin-test.py: Make --src-dir work correctly with relative paths"
The current checkin-test.py script --src-dir argument only works with absolute paths.  For example, if you pass in --src-dir=../../Trilinos, it will try to pass that in the configure to CMake in the build subdir.

This story is to fix --src-dir so that it works with relative paths correctly.

[2016-12-10 04:04] bartlettroscoe commented on #165
Pushed to 'master' and snashotted to Trilinos.

[2016-12-10 04:04] #165 closed

[2016-12-10 04:04] bartlettroscoe commented on #159
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos.  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.

Closing and won't fix.

[2016-12-10 04:08] bartlettroscoe commented on #132
Some developers at Sandia are using this and looked at this updated documentation and I got back some positive feedback.  That is enough of a review.

[2016-12-10 04:08] #132 closed

[2016-12-10 04:12] bartlettroscoe commented on #163
You can see this working in the updated Trilinos PT CI build at:

* http://testing.sandia.gov/cdash/viewConfigure.php?buildid=2648541

which shows:

`Enabling all required (and optional since Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES=ON) upstream SE packages for current set of enabled packages (Trilinos_ENABLE_SECONDARY_TESTED_CODE=OFF) ...`

That proves this is working.

There is zero chance any pers

[2016-12-10 04:12] #163 closed

[2016-12-10 04:14] bartlettroscoe commented on #139
FYI: Git-LFS is working on the ORNL GitLab servers code-int.ornl.gov and code.ornl.gov.

But since this story has gotten way off scope and since Drekar is going to just use a raw git repo (or not change anything), there is no sense keeping this Issue open any longer.

If there is a desired to teach gitdist about Git-LFS, then we can open a new issue.  But for now, it makes sense to close this stor

[2016-12-10 04:14] #139 closed

[2016-12-10 15:39] bartlettroscoe commented on #159
Just realized this is why I had to set --src-dir in checkin-test-sems.sh as part of commit https://github.com/trilinos/Trilinos/commit/d9acb8d52326d432692fda88e9c3f33a3ebc12b9.  I will go ahead and commit a fix directly to Trilinos first and remove --src-dir in checkin-tests-sems.sh.  That is a test that this change is needed and works.  I will then add an automated test on the TriBITS side to pro

[2016-12-10 17:43] bartlettroscoe commented on #159
@tjfulle, I rebased and amended your commit as 11c00e1.  I added a strong automated test to protect this in:

[code]

(I put in the wrong GitHub Issue ID).

I also had to fix the search order in 8caa3a2.

Thanks for bringing this up.  Sorry I closed this early in a rush last night to clean up after I was told to stop working on the Trilinos CI build.  I will continue to support the checkin-test.py

[2016-12-12 19:37] bartlettroscoe commented on #159
@tjfulle,

This should have been snapshotted into Trilinos and merged to 'develop' as of Trilinos commit:

[code]

Can up please confirm that this issue is fixed now?

[2016-12-12 21:45] bartlettroscoe commented on #159
Sorry, did not mean to close until @tjfulle confirmed this is fixed on the Trilinos slide.

[2016-12-12 22:17] bartlettroscoe opened #166 "Add TriBITS support for dummy makefiles for Ninja"
## Next Action Status

All completed.  Next: Waiting for a review of the documentation from @fryeguy52 or @william76 ...

## Description

The current CMake Makefile generator creates a Makefile for every build directory.  Therefore, you can just configure and then cd into any build directory and then type `make -j<n>` and build only the targets in that directory.  That is a very nice workflow, esp

[2016-12-12 22:18] bartlettroscoe commented on #166
This is already in progress thanks to the work by @bradking.  See:

* https://gitlab.kitware.com/snl/project-1/issues/6

[2016-12-13 22:52] bartlettroscoe commented on #166
This has now been merged to the 'master' branch.

Now we need to provide a reasonable deliverable mechanism for CMake+Ninja+Fortran.

[2016-12-13 23:53] bartlettroscoe opened #167 "Create reasonable delivery mechanism for CMake+Ninja+Fortran"
To fully take advantage of dummy makefiles for Ninja, we need to provide ninja and CMake 3.7.0+ to support Fortran.  This is needed by CASL VERA for example but I suspect will also be needed for many Sandia projects as well.

This can be accomplished with:

1) Add cmake-3.7.0 to install-cmake.py script

2) Add a install-ninja.py script and have it install ninja_fortran/1.7.2 (see https://github.co

[2016-12-14 20:02] bartlettroscoe commented on #166
Too early to put in review.  This needs to be documented first.

[2016-12-15 18:02] nschloe opened #168 "don't install tribits files"
Right now, when installing Trilinos, a whole bunch of TriBITS files are installed under
[code]
Are those really necessary? If not, I would suggest not installing them.

[2016-12-15 23:23] bartlettroscoe opened #169 "Don't override CMAKE_MODULE_PATH , just prepend it"
A user pointed out that TriBITS currently just write over CMAKE_MODULE_PATH.  However, this is reported as a valid way to find CMake packages with find_package():

* https://cmake.org/cmake/help/v3.5/variable/CMAKE_MODULE_PATH.html

However, that documentation does say "By default it is empty, it is intended to be set by the project."  That makes me think it is not intended to be set but the user.

[2016-12-16 00:38] skennon10 commented on #169
Maybe the safest thing is for Tribits to prepend what it needs?

[2016-12-16 13:30] bartlettroscoe commented on #169
Really TriBITS should not even set CMAKE_MODULE_PATH.  It should just explicitly include the files it needs.  That is more explicit and less likely to cause surprises.

[2016-12-19 21:36] bartlettroscoe commented on #168
These are necessary for xSDKTrilinos to build as an independent CMake project.  However, a client can choose to not install them by setting the **Trilinos** configure option `-DTrilinos_INSTALL_TriBITS=OFF` (you can see this advanced variable defined in the CMake Cache file).

But note that TriBITS is not installing anything, Trilinos is.  TriBITS does not have offical support for installing itsel

[2016-12-19 21:36] #168 closed

[2016-12-19 22:23] nschloe commented on #168
I don't understand. If Trilinos is configured and installed with `-DTrilinos_INSTALL_TriBITS=OFF`, what exactly won't be working?

[2016-12-19 22:26] bartlettroscoe commented on #168
The CMake project xSDKTrilinos:

* https://github.com/trilinos/xSDKTrilinos

requires TriBITS to be installed by Trilinos in order for it to configure and build.   This is critical for the xSDK:

* https://github.com/xsdk-project/installxSDK

[2016-12-19 23:04] nschloe commented on #168
Ah, I thought xSDK was some sort of sophisticated wrapper script that downloads SuperLU, Trilinos, PETSc etc. and installs all of those things. Never knew that it could _use_ an existing Trilinos installation.

[2016-12-20 15:38] bkochuna commented on #164
Hi Ross,

Is there any update on this? Or do you have a timeline on when this might be ready?

[2016-12-20 16:22] bartlettroscoe commented on #164
@bkochuna, to see if this is a defect with `TRIBITS_ADD_EXECUTABLE_AND_TEST()`, what happens when you split this up into two separate calls `TRIBITS_ADD_EXECUTABLE()` and `TRIBITS_ADD__TEST()`?  I am looking at the CMake source code for the `TRIBITS_ADD_EXECUTABLE_AND_TEST()` and it looks like it does not pass in any argument for `TIMEOUT` to `TRIBITS_ADD__TEST()` which means means it should just

[2016-12-22 20:57] bartlettroscoe commented on #164
@bkochuna, I added a new section:

* https://tribits.org/doc/TribitsDevelopersGuide.html#setting-timeouts-for-tests-tribits-add-test

that should hopefully explain how timeouts are handled with CMake, CTest, and TriBITS and how CTest deals with timeouts in the end (to help debug things).

I tested this manually with the TriBITS project itself and it does seem to be broken:

[code]

'TimeOut' shoul

[2016-12-22 21:06] bkochuna commented on #164
Thanks for the updated documentation Ross. It is very clear now on what I can check to debug in the future. Puzzling though that the SCALE_TEST_TIMEOUT isn't being applied.

[2016-12-22 21:38] bartlettroscoe commented on #164
I have added a unit test that exposes the problem.  The issue is that the first time through, CMake is not writing the updated value of `DART_TESTING_TIMEOUT` as 'TimeOut' into the DartConfiguration.tcl file.

The configure shows that it should be getting scaled as:

[code]

But the DartConfiguration.tcl has the unscaled value:

[code]

But if you must reconfigure, it is set correctly:

[code]

Th

[2016-12-22 22:51] bartlettroscoe commented on #164
@bkochuna, I have got a fix pushed to TriBITS GitHub 'master' in the commit 3370b5e.  Where all do you need this fixed?  Note that I can't just merge TriBITS GitHub 'master' to the CASL TriBITS casl-dev 'master' branch because Trilinos would need to be updated first.  See:

* https://vminfo.casl.gov/trac/casl_phi_kanban/ticket/3913#comment:12

So if you need to have this fixed in CASL TriBITS casl

[2017-01-03 20:50] bkochuna commented on #164
Hi Ross,

We specifically need this for the  UM CI, so its possible we could snapshot TriBITS into MPACT, but then we'd have different dev env's for CASL and UM which might cause a different set of issues. It might be best to cherry-pick that commit if it is not too much trouble. Thanks for the rapid turn around on investigating and fixing!

[2017-01-03 21:05] bartlettroscoe commented on #164
Okay, I will cherry-pick the commit 3370b5e to the TriBITS casl-dev master branch and push.  I will let you know when it is done.  Then you can just update the snapshot of TriBITS in MPACT from the casl-dev master branch.

[2017-01-04 00:09] bartlettroscoe commented on #164
@bkochuna,

I just cherry-picked this commit and pushed it to the 'master' branch at `git@casl-dev:TriBITS` as the commit:

[code]

Please try out that version of TriBITS with MPACT and see if it fixes the error you are seeing.  In any case, please report your results back here so that we can fix the problem or close the issue as being fixed.

Note that this defect never really affected the scalin

[2017-01-04 22:25] wawiesel opened #170 "an empty TPLs list causes an error when the list is reversed"
Here's the diff

[code]

[2017-01-04 22:29] bartlettroscoe commented on #170
This must be a use case that is not being covered in automated testing for TriBITS.  What is the full context for this error? What CMake project is being used to generate this error?

In any case, I will try to add an automated test to reproduce this failure.

[2017-01-06 18:41] bartlettroscoe commented on #159
No complaints from @tjfulle in 25 days so assuming this this is fixed (and I have good unit tests for this).

[2017-01-06 18:41] #159 closed

[2017-01-06 18:47] bartlettroscoe commented on #164
@bkochuna, any chance to try this yet?  Is it working for you?

[2017-01-09 21:58] bkochuna commented on #164
Hi Ross,

I did get a chance to try this today. The only thing I noticed is that `-D<Project>_SCALE_TEST_TIMEOUT` only seems to work if `-DDART_TESTING_TIMEOUT` is defined.

If `-DDART_TESTING_TIMEOUT` is not defined when the cmake configure is invoked it appears that
`-D<Project>_SCALE_TEST_TIMEOUT` does nothing.

For our project the `DART_TESTING_TIMEOUT` is eventually determined to be 1500 s.

[2017-01-09 23:27] bartlettroscoe commented on #164
@bkochuna,

That is correct.  For tests that don't have a customized `TIMEOUT` property set (i.e. uses the global default timeout), and `DART_TESTING_TIMEOUT` is not set (i.e. is implicitly infinity) then setting `<Project>_SCALE_TEST_TIMEOUT` does nothing (because scaling infinity by a finite number is still infinity) to affect the timeout of such tests.  But the `ctest` option `--ctest-timeout`

[2017-01-10 02:31] bkochuna commented on #164
Ross, thanks again for the enlightening reply. Your explanation makes very good sense. A few responses to your questions below.

This is a very good question. I'll see what I can figure out examining our project. This is likely the biggest point of confusion for me.

Yes, I meant DART_TESTING_TIMEOUT. The explanation makes perfect sense, perhaps just update the documentation to say what the values

[2017-01-10 19:50] bartlettroscoe commented on #164
I updated the documentation at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#setting-timeouts-for-tests-tribits-add-test
* https://tribits.org/doc/TribitsBuildReference.html#dart-testing-timeout

to try to make this more explicit.  Please have a look if you have a few minutes.

I am thinking that it might be good for projects to be able to define a default global test timeout by setting